[2020-03-28 22:53] muxator commented on #2516
@JohnMcLear, just to be clear: the code recently committed does not "enforce" anything. :)

We have a warning that checks if `settings.json` and the database charset are coherent, and ueberDB's documentation suggests fixes for utf8.

There may still be something to be merged, but today it is still not there. :)

[2020-03-28 22:55] JohnMcLear commented on #3124
Is this bug still an issue?  If so I will re-open but afaik it's closable.

[2020-03-28 23:00] JohnMcLear commented on #2516
+1

[2020-03-28 23:01] #2928 closed

[2020-03-28 23:04] muxator commented on #642
Only testing could tell us.

I would leave this open, because the issue is different than minification/caching and is a good PITA to increase the desire to modernize the code base.

[2020-03-28 23:05] #3315 closed

[2020-03-28 23:06] #3163 closed

[2020-03-28 23:07] #3177 closed

[2020-03-28 23:09] JohnMcLear commented on #3481
Abiword is available on CentOS7, I run it for some clients.  It sucks tho.

[2020-03-28 23:09] #3481 closed

[2020-03-28 23:09] JohnMcLear commented on #3472
Confirmed

[2020-03-28 23:09] #3472 closed

[2020-03-28 23:22] JohnMcLear commented on #3778
+1, why not make the sauce labs runner use npm ci instead and test it that way?   That would be a good enough baptism of fire no?

[2020-03-28 23:26] muxator opened #3779 "Put an updated screenshot in README.md"
Now that the default skin is **Colibris**, we should replace the animated gif in [README.md](https://github.com/ether/etherpad-lite/blob/1ad6e9c2880ed074ba7f6185bdb399d84b298310/README.md) with a more modern one.

![Demo Etherpad Animated Jif](https://i.imgur.com/zYrGkg3.gif "Etherpad in action")

@seballot is going to do the same in https://github.com/ether/ether.github.com/issues/30 for the webs

[2020-03-28 23:33] muxator commented on #3778
Good idea!

Problem is `.travis.yml` calls `installDeps.sh`:
https://github.com/ether/etherpad-lite/blob/1ad6e9c2880ed074ba7f6185bdb399d84b298310/.travis.yml#L29

We should add an option or temporarily duplicate `installDeps.sh` as `installCI.sh`(that would kill me, because it then would live on for another 8 years).

[2020-03-28 23:42] JohnMcLear commented on #3778
No.  We could just create a PR on a branch w/ the change(to installDeps.sh) and travis will respect that....??

-----Original message-----
From: muxator <notifications@github.com>
Sent: Saturday 28th March 2020 23:33
To: ether/etherpad-lite <etherpad-lite@noreply.github.com>
Cc: John McLear <john@mclear.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [ether/etherpad-lite] installDeps.sh:

[2020-03-28 23:46] muxator commented on #3778
Yay.

[2020-03-28 23:48] JohnMcLear commented on #3778
See ci branch PR

[2020-03-28 23:48] JohnMcLear commented on #3778
``npm ERR! cipm can only install packages when your package.json and package-lock.json or npm-shrinkwrap.json are in sync. Please update your lock file with `npm install` before continuing.``

[2020-03-28 23:52] JohnMcLear commented on #3778
npm 6+ btw..  So I'm not sure this is a win for us..  You have to use npm install anyway first time around?

[2020-03-28 23:56] muxator commented on #3778
This is good.

I think this happened when you last updated the ueberdb dependency. After that change I started to find my dependencies out of sync as well. Now the CI catches it.

If I am right, it should only be a matter of upgrading the dependencies in the package-lock.json on your PR.

[2020-03-28 23:59] muxator commented on #3778
I guess no: it worked for me with an empty `node_modules`.

[2020-03-28 23:59] JohnMcLear commented on #3778
Travis shit itself too, installDeps failed...

[2020-03-29 00:02] muxator commented on #3778
Right away.

[2020-03-29 00:09] muxator commented on #3778
Did it work?

[2020-03-29 00:10] JohnMcLear commented on #3778
[code]
Don't you get the Travis logs?  You need to see them :D

[2020-03-29 00:17] muxator commented on #3778
It did not install the dev dependencies.

This one, right? https://travis-ci.org/github/ether/etherpad-lite/jobs/668225504

[2020-03-29 00:20] JohnMcLear commented on #3778
Ja perfect :D

I guess maybe npm ci doesn't install dev deps?

[2020-03-29 00:24] muxator commented on #3778
It does on my machine:

[code]

This is after deleting `node_modules` and running `bin/installDeps.sh` on the current `ci` branch.

Is it possible that there is a `NODE_ENV=production` somewhere in the CI environment? That would explain the missing dev dependencies. Just guessing.

[2020-03-29 00:26] JohnMcLear commented on #3778
99% no.  You could try and submit another commit to the branch and see if it was a one off bug, SL is inconsistent so you often have to run tests multiple times :)

[2020-03-29 00:30] JohnMcLear commented on #3778
``npm ci`` creates ``wd`` for me too ;\ let's try another commit?  See if it fixes things..

[2020-03-29 00:40] muxator commented on #3778
Committed 6d9d148651bb in the ci branch (I am going to delete that branch :) )

Let's see.

[2020-03-29 00:50] JohnMcLear commented on #3778
no dice ;(

[2020-03-29 01:02] muxator commented on #3778
Do you see https://travis-ci.org/github/ether/etherpad-lite/jobs/668231383#L203?
[code]

It seems that, after all, `wd` is installed by Travis.
But then the subsequent errors are suspect.

I am trying to change `travis/runner.sh` (1924aab6b1c8) based on some feelings those errors gave me.

[2020-03-29 01:09] muxator commented on #3778
The error changed. Let's hope it's a good sign.

https://travis-ci.org/github/ether/etherpad-lite/jobs/668235282#L221

[2020-03-29 01:41] muxator commented on #3778
I think I nailed it.

https://travis-ci.org/github/ether/etherpad-lite/jobs/668241855

This version 25bd3016e439 (soon to be deleted) is the first one on which tests run.

I had to modify `tests/frontend/travis/runner.sh`. After looking at it & the Travis logs, I wonder how it worked before.

I'll leave everything as-is, and eventually port these modifications on the development branch. They are n

[2020-03-29 01:54] muxator opened #3781 "Release 1.8.3: what do we want to include?"
We have done a lot of work lately, thanks to @JohnMcLear that came back with all his energy (many thanks, John).

It is time to start thinking about a release.

There are still a lot of PRs & issues outstanding, and before we cut a new release, we need to select what to include and what to leave behind.

My proposal is:

Let's review the [milestone for **1.8.1**](https://github.com/ether/etherpad-

[2020-03-29 07:22] AlainKnaff commented on #2291
?!?

[2020-03-29 08:48] JohnMcLear commented on #3778
Hah nicely done!  Though we should run a few tests because a lot of tests are failing due to sauce labs not executing them properly, I have an open support ticket.

[2020-03-29 08:49] locness3 commented on #3779
Running etherpad, I get something looking exactly like in README...

[2020-03-29 08:52] locness3 commented on #3779
Nevermind, I didn't change in `settings.json`

[2020-03-29 09:11] JohnMcLear commented on #3502
Offending code is somewhere in here: https://github.com/ether/yajsml/blob/master/server.js#L98

[2020-03-29 09:26] JohnMcLear commented on #3566
Hey guys, I can refactor my plugins to support this new approach as soon as it's landed.

[2020-03-29 09:32] JohnMcLear commented on #3421
Steps to replicate

1. Uncomment password section
1. Visit /admin
1. Cat var/dirty.db | grep YOURPASS

[2020-03-29 09:41] JohnMcLear commented on #3421
PR in to fix.
https://github.com/ether/etherpad-lite/pull/3782

[2020-03-29 09:45] JohnMcLear commented on #2307
I'm gonna reject this, the reason being is it makes presumptions that after a certain amount of issues in a line break the UX even further..  Example:
![image](https://user-images.githubusercontent.com/220864/77845929-61f44980-71aa-11ea-875d-8e1ebaf239ad.png)

[2020-03-29 09:45] #2307 closed

[2020-03-29 09:50] JohnMcLear commented on #3116
This is not a present bug any more

[2020-03-29 09:50] #3116 closed

[2020-03-29 10:12] JohnMcLear commented on #2581
![image](https://user-images.githubusercontent.com/220864/77846473-32dfd700-71ae-11ea-8d9a-9265e5388307.png)

This is the closest I can get with CSS, note the 1.10 indentation is wrong..

[2020-03-29 10:18] JohnMcLear commented on #2581
Change is this:
[code]
Basically you would need to get the width of the :before psuedo element and appy that as margin-left and to do that you would need to iterate over each list item which would be expensive..  I just don't see a better fix but I'd love someone else to jump in! 👯‍♂

[2020-03-29 10:58] JohnMcLear commented on #2941
This appears to be fixed.  I can copy/paste into MS Word / Google Docs without any problems.

[2020-03-29 11:00] #2941 closed

[2020-03-29 11:10] JohnMcLear commented on #3781
Push to future version:
- [ ] https://github.com/ether/etherpad-lite/issues/3463
- [ ] https://github.com/ether/etherpad-lite/pull/3408

Other stuff should be worked on and merged.

[2020-03-29 11:53] JohnMcLear commented on #3019
I have made some progress.

``"c:\Program Files\LibreOffice\program\soffice.exe" --headless --convert-to "html:XHTML Writer File:UTF8" testList.odt``

--convert-to "html:XHTML Writer File:UTF8" is doing some stuff, things are better, but not right.  weird bullet formatting..

It's defo part of the fix but the other part is working contentcollector to drop spans with specific classes.

``Bullet_20_

[2020-03-29 12:11] JohnMcLear commented on #3019
Fix ready for testing / review.

[2020-03-29 14:12] JohnMcLear commented on #3502
Disclaimer: I'm not clever enough to resolve this.  I need someone with expertise to help!

[2020-03-29 14:40] PhilLAL commented on #3019
I'm not sure to understand:

## HTML formating

the difference between
[code]
and
`<ul><li><p style="margin-bottom: 0.28cm; line-height: 108%">Bullet 1</p><li><p style="margin-bottom: 0.28cm; line-height: 108%">Bullet 2</p></ul>`
seems only the breaklines so the rendering should be exactly the same.

## import document into etherpad

I did not succeed converting document using soffice command.
How

[2020-03-29 15:19] JohnMcLear commented on #3019
Try my pr

[2020-03-29 15:24] JohnMcLear commented on #3019
sorry about that fast quick response and so the changes uses a different rendering engine plant smell and then also he's popped those the pruning of the name Al Fondo hay smell so you should be good try it please let me know how down

[2020-03-29 15:32] JohnMcLear commented on #2581
https://twitter.com/Kvantti/status/1244285020228984834

[2020-03-29 15:34] JohnMcLear commented on #3772
https://twitter.com/Kvantti/status/1244285020228984834Ñ

[2020-03-29 18:04] Nicosss commented on #3731
We are already 2 with a problem using a Mariadb database. Thank you for not closing this issue too quickly. Same problem with dirtydb database in fact.

I tried on a fresh install, dirtyDB, no plugins, Firefox 74. `minify` set to `true` and `maxAge` to `21600`.
`settings.json` is a copy of `settings.json.template`.

[code]

Problem occur again with dirtydb database:
[code]
You can find 2 etherpad

[2020-03-29 18:16] JohnMcLear commented on #3731
I will look into this tonight.

[2020-03-29 18:24] JohnMcLear commented on #3731
I put the dirty.db file in and I can replicate the fault.  So something in your database is not right.

[2020-03-29 18:28] JohnMcLear commented on #3731
On the pad I'm testing that userId is set for every msg

[code]

Are you using something for Auth on your set?  I see ``userName`` in a msg...

[2020-03-29 18:31] JohnMcLear commented on #3731
``{"key":"pad:qhrnDnzlfJIhLjohaXte:chat:10","val":{"text":"Tu veux essayer quoi ?","time":1585498083410}}
``
Found this in teh database..  Note the lack of userId...  How did that msg get into the database?  Etherpads logic is:
[code]

[2020-03-29 18:34] Nicosss commented on #3731
It's a fresh install on a new directory.
Access is via an Apache reverse proxy with authentication. (https://github.com/ether/etherpad-lite/wiki/How-to-put-Etherpad-Lite-behind-a-reverse-Proxy).
That message come from the chat. Nothing was manually change in the database.

[2020-03-29 18:38] JohnMcLear commented on #3731
This diff solves your problem but I want to know HOW bad data is getting into your Instance..

[code]

It could be that historically a bad plugin has inserted bad data into the database.

[2020-03-29 18:39] JohnMcLear commented on #3731
If etherpad wrote that data to your database it would include ``userId:`` (either populated or ``false``) but never non existent...

[2020-03-29 18:43] JohnMcLear commented on #3731
I sent a PR with a patch that can go into develop but I'm 99% sure Etherpad isn't the cause of the problem but there is some other code making a mess.  Either way, feel free to checkout my branch and let me know if it's working :)

[2020-03-29 18:46] Nicosss commented on #3731
In my last attempts with dirytydb and MariaDB databases I did not install any plugin. Only text was paste in the Pad.
I will try your patch with a new fresh install  and keep you informed. Thank you for your time.

[2020-03-29 18:59] JohnMcLear commented on #3731
Remember to checkout my branch when you test.

[2020-03-29 18:59] JohnMcLear commented on #3731
Remember to checkout my branch when you test.

[2020-03-29 19:09] Nicosss commented on #3731
Oka, all entries with no `userId` are now identified with anonyme user with my latest databases. But I can't explain why some `userId` were lost.
I'm now waiting for the "Load more messages" button" to appear.

[2020-03-29 19:15] Nicosss commented on #3731
I’m wondering if this isn’t related to the iPad connection. I’m waiting for an iPad user to log in.

[2020-03-29 19:19] JohnMcLear commented on #3731
Etherpad always stores the userId, afaik it's impossible for it not to..  But if you can find the cause I'm 100% keen to hear your story :D

-----Original message-----
From: Nicosss <notifications@github.com>
Sent: Sunday 29th March 2020 20:16
To: ether/etherpad-lite <etherpad-lite@noreply.github.com>
Cc: John McLear <john@mclear.co.uk>; State change <state_change@noreply.github.com>
Subject: Re:

[2020-03-29 20:05] Benjarobbi opened #3787 "Etherpad keeps spamming to /ttl/[padname] after Apache2 Reverse Proxy Setup"
Hi there,

just noticed that my Etherpad began to spam requests to /ttl/[padname] and got redirected to /p/ttl/[padname] with the Apache2 Reverse Proxy configuration described in the wiki.

After adding:
`RewriteCond %{REQUEST_URI} !/ttl/` to the Apache2 vHost used it began to work flawlessly.

Could anyone confirm that? And if this behaviour also applies to their setup maybe change the wiki?
I'm

[2020-03-29 20:25] alekso87 opened #3788 "Unclear explanation of the requireSession parameter in the settings.json file"
The conversation below will go about this parameter - https://prnt.sc/rowonn

After reading the explanation for this parameter, the first thing that occurred to me that with the parameter disabled, any pads, regular or group, can be used without sessions, but after a lot of experiments and lost time it turned out to be not quite so.

For all this, I have formed 3 questions that I would like to sol

[2020-03-29 21:22] PhilLAL commented on #3019
I used a private instance of framapad.org in which I imported an ODT containing
[code]
The result is the following
[code]
Is this the information you need? If not, which one do you need?

[2020-03-29 21:24] JohnMcLear commented on #3019
@PhilLAL No.  It's okay, I think I have the issue resolved.

[2020-03-29 21:59] muxator commented on #3778
I am merging #3789 in `develop`.

That PR introduces a new `travis/runner.sh` script which is compatible with both `npm install` & `npm ci`. There are other advantages (detailed in the PR).

[2020-03-29 23:59] #3767 closed

[2020-03-30 00:28] #2412 closed

[2020-03-30 00:49] muxator commented on #3019
I was able to replicate @PhilLAL's bug on a recent development version (6fd2bf4472e2), from 5 days ago.

Applying #3783 did not solve the issue for me, as the import crashed with no logs.

![Screenshot_20200330_024810](https://user-images.githubusercontent.com/4067621/77865913-015c1f80-7231-11ea-85f8-01e3ab0d15ac.png)

The ODT file is small (9 KB). I can paste it here if needed.

[2020-03-30 08:15] JohnMcLear commented on #3019
I'm able to replicate failure, will fix.  Should be done this am.

[2020-03-30 08:47] elacour commented on #3732
Yes, I can open it manually through libreoffice. But in fact the html produced is invalid. Abiword is more strict. I see very is other export plugins such as this one: https://www.npmjs.com/package/ep_unoconv, I may try it.

[2020-03-30 10:17] JohnMcLear commented on #3732
I mean, unless you can tell me what part of the HTML is invalid it's hard for me to fix this for you ;\  Any chance you can give me the HTML validation error or provide steps to replicate/reproduce this issue?

[2020-03-30 12:51] JohnMcLear commented on #3681
- [ ] ep_hash_auth does ``console.log`` for missing dep, it should be ``console.warn`` -- will let @LaKing handle?
 - [x] Modify settings to allow users access if pass or hash is set.
 - [ ] Should we move ep_hash_auth into @Ether Github Org ownership if we're going to make it part of our plan moving forward?

RE Scenario #2.  I intentionally didn't remove password access with plaintext, I figured

[2020-03-30 13:26] FredMa01 commented on #3696
I'm not clear enough with github to know how to do this but allowing the deletepads plugin to work with etherpad-lite 1.8 and MySQL would be really good.

[2020-03-30 13:31] JohnMcLear commented on #3696
@FredMa01
  1. Go to https://github.com/ether/etherpad-lite/issues
  1. Search to see if the issue already exists, if not,
     1. Create new issue and include as much detail as possible :)

[2020-03-30 14:20] JohnMcLear commented on #3778
@muxator this can now be closed?

[2020-03-30 14:22] JohnMcLear commented on #3778
Please re-open if I get this wrong, I'm 99% sure you merged ``ci`` logic.

[2020-03-30 14:33] JohnMcLear commented on #3787
what commands are you using to confirm the "spamming"

[2020-03-30 14:37] JohnMcLear commented on #796
Closing as APi has changed significantly.

[2020-03-30 14:37] #796 closed

[2020-03-30 14:41] Benjarobbi commented on #3787
Checked the network analysis tab in Firefox (F12 and "Network analysis") and there I saw tons of requests to [mydomain]/p/ttl/[mypadname].

https://img.l1.si/27a72b1e-64f7-493a-a56c-f6c32ea9ad45.png <- that's what looks like when I'm not having this RewriteCond active.

[2020-03-30 14:45] JohnMcLear commented on #1521
@anttiviljami -- Any chance #3786 could resolve this please?

[2020-03-30 14:47] anttiviljami commented on #1521
I mean sure, but it would be a major breaking API change.

[2020-03-30 14:53] anttiviljami commented on #1521
I would probably just extract the current OpenAPI definition, modify it to create a new properly designed, restful version of the API and just expose it as a new major API version while supporting the old API for a while. Would be easy to do with `openapi-backend`

[2020-03-30 15:01] JohnMcLear commented on #1659
Pull request in that fixes this: https://github.com/ether/etherpad-lite/pull/3793

[2020-03-30 15:05] JohnMcLear commented on #1922
It's still creating a new file btw..

[2020-03-30 15:27] JohnMcLear commented on #1922
Mheh it turns out log4js made loads of breaking changes over the years and now I gotta support old settings/configs to pass to their now broken API.  FML

[2020-03-30 15:31] JohnMcLear commented on #1922
- [ ] Write mechanism to see if this is pre v2 config (appenders.out !== 'undefined')
  - [ ] Write mechanism to see if this is pre v2 install of log4js (version)
  - [ ] Write mechanism to port v1 config to v2.
  - [ ] Update settings.json.template with new config style
  - [ ] Make changes to logic handlers IE reload of config [ a8ec242d0047e501b410d44108d7a70a1d7cb705 ]

[2020-03-30 16:07] tomnomnom commented on #3502
Hey! Doing some looking into this now.

First off: to fend of any fears about SQLi: this has nothing to do with SQL injection, as evidenced by this alternative payload that also causes the same crash:

[code]

This is a filename length issue in the caching middleware.

Currently the cache key is generated as follows:

[code]

This causes the cache key length to be controlled by the length of the p

[2020-03-30 16:26] JohnMcLear commented on #3787
Gimme your full apache config *with bits redacted:* so I can see if I can replicate.

[2020-03-30 16:28] muxator commented on #3502
Hi, @tomnomnom, this is clever. It completely makes sense that cache keys are of fixed length. In this way they stay dependent on the content, with practically non existent risk of collisions.

I'll have a look tonight.
Well done!

[2020-03-30 17:14] JohnMcLear commented on #2129
Not sure why this is stlil open, it's been resolved for years.

[2020-03-30 17:14] #2129 closed

[2020-03-30 17:22] Benjarobbi commented on #3787
There you go: https://img.l1.si/Smm9SwegtS9gWg35TzLyEgIX4HDmhckZ.conf
It's basically the one from your wiki - I hope I copied everything right.

[2020-03-30 17:24] FredMa01 opened #3795 "Delete pads and versions Etherpad-lite 1.8 and MySQL"
I don't find any way to delete pads and versions of a pads with Mysql database. I test also with dirty DB.

1 -  With the plugin adminpads : the adminpads list is completly empty : Is it compatible with 1.8 ?
adminpads doesn't seem to work with MySQL and dirty DB

2 - With node bin/deletePad.js test. I have in the logs : "Finished deleting padId: test" but the pad is still here.

Fred

[2020-03-30 17:48] JohnMcLear commented on #2130
When you try to export a document that depends on Abiword the user is presented with an error saying you need to install.  This is sufficient.

"This export is not enabled at this Etherpad instance. Set the path to Abiword or SOffice in settings.json to enable this feature"

[2020-03-30 17:48] #2130 closed

[2020-03-30 17:54] JohnMcLear commented on #2569
Seems to be fixed.

[2020-03-30 17:54] #2569 closed

[2020-03-30 18:04] JohnMcLear commented on #3787
I'm seeing no requests in Firefox attempting to hit /ttl -- 59 requests today when opening a new pad.

minify true and maxage 21600.

running in development mode (not production).

-----Original message-----
From: Ben <notifications@github.com>
Sent: Monday 30th March 2020 18:23
To: ether/etherpad-lite <etherpad-lite@noreply.github.com>
Cc: John McLear <john@mclear.co.uk>; Comment <comment@noreply

[2020-03-30 18:06] Benjarobbi commented on #3787
Did you remove the "RewriteCond %{REQUEST_URI} !/ttl/" I had added as a workaround?
As soon as I added it the problem had disappeared.
My maxage is set to 216000 and minify is also active.

[2020-03-30 18:15] JohnMcLear commented on #3787
Yes.  I commented it out, same, no requests with or without it ;\

-----Original message-----
From: Ben <notifications@github.com>
Sent: Monday 30th March 2020 19:06
To: ether/etherpad-lite <etherpad-lite@noreply.github.com>
Cc: John McLear <john@mclear.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [ether/etherpad-lite] Etherpad keeps spamming to /ttl/[padname] after Apache2 Reverse Pr

[2020-03-30 18:16] LaKing commented on #3681
@JohnMcLear - sorry, I'm out of etherpad for now, please feel free to use the code and modify as you like.

[2020-03-30 18:19] JohnMcLear commented on #3681
Okay great, let's push the repo to ether/ and give me and some others npm publish ownership :D

[2020-03-30 18:20] Benjarobbi commented on #3787
Weird. I've just set up another instance (just cloned my local one) and deployed it to https://pad.katzencloud.de with the out commented "RewriteCond %{REQUEST_URI} !/ttl/".

There you'll see that the ace2_common.js is spamming a lot of requests.
Or is it just my client? I'm unsure.

[2020-03-30 18:22] JohnMcLear commented on #3681
I made you an owner of ether/ so now you can transfer ep_hash_auth over to ether/ and if you can also please ``npm owner add johnyma22``

[2020-03-30 18:23] JohnMcLear commented on #3787
I see it there..

-----Original message-----
From: Ben <notifications@github.com>
Sent: Monday 30th March 2020 19:20
To: ether/etherpad-lite <etherpad-lite@noreply.github.com>
Cc: John McLear <john@mclear.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [ether/etherpad-lite] Etherpad keeps spamming to /ttl/[padname] after Apache2 Reverse Proxy Setup (#3787)

Weird. I've just set up anothe

[2020-03-30 18:24] JohnMcLear commented on #3787
Why am I seeing

Microsoft-IIS/6.0

in the header response? :D

-----Original message-----
From: Ben <notifications@github.com>
Sent: Monday 30th March 2020 19:20
To: ether/etherpad-lite <etherpad-lite@noreply.github.com>
Cc: John McLear <john@mclear.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [ether/etherpad-lite] Etherpad keeps spamming to /ttl/[padname] after Apache2 Reverse Proxy

[2020-03-30 18:25] Benjarobbi commented on #3787
That's just for fun purposes. My hoster did for a while unannounced security and port scans on their IPs. To troll them I've changed the Header of my Apache2 instance.

[2020-03-30 18:30] JohnMcLear commented on #3787
Try host etherdraw on the same rewrite, see if you get the same ttl spam.

-----Original message-----
From: Ben <notifications@github.com>
Sent: Monday 30th March 2020 19:25
To: ether/etherpad-lite <etherpad-lite@noreply.github.com>
Cc: John McLear <john@mclear.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [ether/etherpad-lite] Etherpad keeps spamming to /ttl/[padname] after Apache2 Re

[2020-03-30 19:28] JohnMcLear commented on #3610
@muxator Did you confirm this before adding these labels?  I can't for the life of me replicate this bug...

[2020-03-30 19:33] JohnMcLear commented on #2259
This should be fixed now, let me know if not :)

[2020-03-30 19:33] #2259 closed

[2020-03-30 19:49] #2540 closed

[2020-03-30 19:50] #2708 closed

[2020-03-30 19:50] #2685 closed

[2020-03-30 19:52] JohnMcLear commented on #2631
Modern code is stable.

[2020-03-30 19:52] #2631 closed

[2020-03-30 19:53] JohnMcLear commented on #2738
@muxator we have 3 open issues for the same thing

[2020-03-30 19:53] JohnMcLear commented on #2539
Related to https://github.com/ether/etherpad-lite/issues/2738

[2020-03-30 19:54] JohnMcLear commented on #2750
IE is test covered by Sauce Labs CI testing

[2020-03-30 19:54] #2750 closed

[2020-03-30 20:00] JohnMcLear commented on #2864
I'm unable to replicate this bug on latest develop.  Plase re-open if it still exists for you.

[2020-03-30 20:00] #2864 closed

[2020-03-30 20:20] muxator commented on #3731
Merged John's patch (#3785), that makes the front end code more tolerant of malformed messages coming from the server.

Since @Nicosss problem happens with a fresh DB and no plugins, this can well be a bug in Etherpad. Hopefully the main usability issue is sidestepped, and we can fix the underlying problem when we find it.

[2020-03-30 20:29] JohnMcLear commented on #2775
Confirmed this is still a thing.

[2020-03-30 20:44] JohnMcLear commented on #2427
Is this related to https://github.com/ether/etherpad-lite/issues/2892 ?

[2020-03-30 20:47] #2948 closed

[2020-03-30 20:53] JohnMcLear commented on #3244
"Latest commit
e21c5eb
on Apr 3, 2018 "

I don't think there is much value staying up to date with this package because it doesn't appear to being well maintained upstream.

[2020-03-30 20:53] #3244 closed

[2020-03-30 21:00] JohnMcLear commented on #3394
Etherpad shouldn't struggle to export anything up to ~3.5Gb file .etherpad files.  Afaik I tested up to about 2Gb.

It's possible this machine didn't have sufficient memory available for Etherpad so it crashed.  If this problem persists please comment here and I will re-open.

[2020-03-30 21:00] #3394 closed

[2020-03-30 21:04] JohnMcLear commented on #3430
I think this is now solved.  If anyone experiences it again please do comment here and we will re-open.

[2020-03-30 21:04] #3430 closed

[2020-03-30 21:07] JohnMcLear commented on #3456
If people still experience this problem please let us know and we will re-open.

We recommend trying soffice instead of abiword if you are having problems.

[2020-03-30 21:07] #3456 closed

[2020-03-30 21:11] JohnMcLear commented on #3544
@muxator is this now solved due to the move to openapi?

[2020-03-30 21:13] JohnMcLear commented on #3574
Hey guys, I'm gonna close this because we haven't had additional reports of a similar issue.  If it's still an issue I'd love to take a look and solve it!  Thanks

[2020-03-30 21:13] #3574 closed

[2020-03-30 21:16] JohnMcLear commented on #3613
Hey @chatellier I'm going to close this as we haven't heard from you in a month.  If you have more info please let us know!

[2020-03-30 21:16] #3613 closed

[2020-03-30 21:46] muxator commented on #3613
@chatellier, what Etherpad version was this? Was it before **1.8.0**?

@JohnMcLear, if this happened on Etherpad **1.8.0** I do not think we should close it: we are talking about a systematic, complete shut down of the server, and could be introduced by the migration to `async`/`await`.

If it's an older version (< **1.8.0**), then it's another story.

[2020-03-30 23:01] muxator commented on #3544
For context, the migration to OpenAPI is being done with #3786.

The `apiCaller()` function is gone in that version. The commit that nukes it (pre-review) is https://github.com/ether/etherpad-lite/commit/26044a267e195ea872f22cbe4fdc7b9df27b7bb6.

Closing this.
Thanks.

[2020-03-30 23:01] #3544 closed

[2020-03-30 23:05] muxator commented on #2948
For context: the Saucelab frontend tests were enabled again by John and me with 61f0b5db0bfe, and the following work.

[2020-03-30 23:10] muxator commented on #2427
It is.

The problem is `require-kernel`.

I have done a POC a while ago that shows that it is possible to get rid of it.

That work was based on **browserify**, and I do not advise to use it. But all the surrounding work on the frontend code is still valid, and took a long time to sort out.

Closing this issue. Let's refer to #3603 (the PR with the POC) and #2892.

[2020-03-30 23:10] #2427 closed

[2020-03-30 23:14] muxator commented on #2892
There is a POC (#3603) that shows how to expun kequire-kernel from Etherpad.

That POC is based on **browserify**, and I do not advise to use it, because Etherpad needs dynamic loading, and browserify only simulates it from a static precomputed bundle.

Anyway, all the surrounding work on the frontend code is still valid, and took a long time to sort out.

[2020-03-30 23:50] muxator commented on #2539
I do not think that this problem is still present in recent Etherpad.

#3413 (landed in **1.7.0**, 2018-08-17) merged a change that unified key event handling with Chrome.

[2020-03-30 23:52] muxator commented on #2738
This issue is from 2016.

I do not think that this problem is still present in recent Etherpad, at least not on Firefox.

#3413 (landed in 1.7.0, 2018-08-17) merged a change that unified Firefox key event handling with Chrome.

[2020-03-31 00:43] #3502 closed

[2020-03-31 01:09] muxator commented on #3502
Merged the PR, many thanks!

A further note about this: from the [nodejs docs](https://nodejs.org/docs/latest-v10.x/api/crypto.html#crypto_determining_if_crypto_support_is_unavailable) **we may have to consider the possibility of the `crypto` module being unavailable**:

Maybe embedded platforms may not have it (e.g.: ARM, MIPS, Raspberry PIs & similar)? I do not know. A description of such scenar

[2020-03-31 02:09] muxator commented on #3502
Follow up which uses `djb2` when there is no crypto support: #3797.

[2020-03-31 07:32] #2738 closed

[2020-03-31 08:03] ldidry commented on #3787
@Benjarobbi Do you use ep_delete_after_delay plugin?

[2020-03-31 08:10] Benjarobbi commented on #3787
Yes, I do. Could this be the issue?

[2020-03-31 09:55] JohnMcLear commented on #3787
Closing, good spot @ldidry

https://github.com/ldidry/ep_delete_after_delay/blob/master/delete.js#L226

[2020-03-31 09:55] #3787 closed

[2020-03-31 10:13] JohnMcLear commented on #2802
Oh wow, I was also able to kill a pad this way, I need to reproduce but I did something magical and now I get

[code]
!!!

[2020-03-31 10:18] JohnMcLear commented on #2802
I think there is a more serious bug/outcome of this:

[code]

Causes pad to fail loading.

[2020-03-31 10:38] JohnMcLear commented on #2802
Write the contents of https://gist.github.com/JohnMcLear/5a1c1e1d3493684b8ada01c302a5d6cc to dirty.db

hit up /p/faw -- pad will work
hit up /p/faw/timeslider and **press play** -- see error in JS console.

[code]

[2020-03-31 10:50] JohnMcLear opened #3800 "On latest develop branch I think timeslider is broken?"
For me it always shows the latest pad contents while "playing"... Anyone else seeing this? :D

[2020-03-31 11:11] JohnMcLear commented on #2802
Patch in that stops the error occuring but doesn't fix Etherpad being a dickhead and getting some state wrong in the backend.  We're getting closer tho.

[2020-03-31 11:54] JohnMcLear commented on #3589
``getListAllPads`` is now ``listAllPads``

for i in {1..10000}; do echo date & curl -i -k 'http://127.0.0.1:9001/api/1.2.13/listAllPads?apikey=APIKEY

[2020-03-31 12:01] JohnMcLear commented on #3589
I am unable to replicate this bug any more, it probably got fixed during the async change.  I replicated the setup / environment on a pad w/ 13k lines and spammed the getLists with the script then did getHTML and it didn't stop anything functioning as expected..

If you can still replicate please let me know and I will re-open this issue <3

[2020-03-31 12:01] #3589 closed

[2020-03-31 12:07] JohnMcLear commented on #2775
This is intentional behavior.

[code]

[2020-03-31 12:24] JohnMcLear opened #3803 "Microsoft Edge ignores cursor:pointer !important on links"
Upstream Edge bug.  @rhelmer can you report to MS plz I cba w/ the paperwork.

I tried setting it inline with HTML too, it's defo a browser bug.

It's prolly due to contentEditable

[2020-03-31 12:29] JohnMcLear commented on #2775
I submitted a PR that fixes/removes this behavior.  I have a feeling it was due to right clicking on link doing something weird where if you right clicked it pasted or something..  Anyway, will let @muxator decide if it's going in or not.

[2020-03-31 12:34] JohnMcLear commented on #3457
[code]
:?

[2020-03-31 12:35] JohnMcLear commented on #3457
When I kill the pid I get

[code]

I'm gonna close this because I don't think it's still relevant.

[2020-03-31 12:35] #3457 closed

[2020-03-31 13:19] squiddle commented on #3795
when using bin/deletePad.js the pad is still available due to etherpads internal caching (that is what i observed, not sure if true).

best for us was to delete via the API

[2020-03-31 14:54] JohnMcLear commented on #3434
This should be a case of visiting..

http://youretherpad:9001/tests/frontend and make sure it works.

Dropping in a new mocha.js

hitting up http://youretherpad:9001/tests/frontend and ensuring that the tests run as expected.

Some API changes may have happened in mocha since 2012 so they should be fixed as part of the pull request.  See our contributing guidelines prior to submitting a PR :)

[2020-03-31 14:55] JohnMcLear commented on #3434
Relevant $100 GitPay sponsorship: https://gitpay.me/#/task/325

[2020-03-31 15:20] JohnMcLear commented on #3738
@muxator afaik we can close this now?

[2020-03-31 15:24] JohnMcLear commented on #3605
We can't replicate this on any version of Etherpad and we have plenty of Safari / iOS users in production on large(ish) pads without any issue.  I'm going to close this unless you can come back with further insights.

[2020-03-31 15:24] #3605 closed

[2020-03-31 17:21] Serdans commented on #3434
I don't understand why it redirects to itself here. It gives me a `ERR_TOO_MANY_REDIRECTS` error when I access http://youretherpad:9001/tests/frontend. How do I go about running the tests?

https://github.com/ether/etherpad-lite/blob/4ee5ddb496bdd3ab107efa26a001a87ac343fd76/src/node/hooks/express/tests.js#L60-L63

[2020-03-31 17:24] JohnMcLear commented on #3405
Please don't use Etherpad 1.6.  Please update.

[2020-03-31 17:26] JohnMcLear commented on #3434
Just browsing to http://192.168.1.51:9001/tests/frontend/ works for me..  Try the trailing forward slash?

[2020-03-31 17:30] JohnMcLear commented on #3705
Closing this as I haven't been able to replicate

[2020-03-31 17:30] #3705 closed

[2020-03-31 17:31] Serdans commented on #3434
Tried it with trailing forward slash also it gives me the same error. I'm running it on Windows does that have something to do with it?

[2020-03-31 18:46] JohnMcLear commented on #3450
Test coverage in for this

[2020-03-31 18:46] JohnMcLear commented on #3447
Test coverage in for this

[2020-03-31 18:49] #2388 closed

[2020-03-31 18:51] JohnMcLear commented on #1521
+1 will be a 1.9 thing :)

[2020-03-31 19:01] JohnMcLear commented on #3434
Interesting, doesn't work for me on windows.

[2020-03-31 19:03] JohnMcLear opened #3804 "If Etherpad is hosted on Windows OS Frontend test URI needs to be /tests/frontend/index.html (docs say .../frontend/)"
This page isn’t working127.0.0.1 redirected you too many times.
Try clearing your cookies.
ERR_TOO_MANY_REDIRECTS

When visiting http://127.0.0.1:9001/tests/frontend/

Visiting http://127.0.0.1:9001/tests/frontend/index.html however does work.

[2020-03-31 19:44] JohnMcLear commented on #3434
Solution on https://github.com/ether/etherpad-lite/issues/3804

TLDR; use /index.html ...

[2020-03-31 21:36] madmath03 opened #3805 "MySQL seem to be broken on develop branch"
Seems like there is an issue with MySQL on develop branch:
[code]

Got this in Travis-CI dockerfile test: https://travis-ci.org/github/Monogramm/docker-etherpad/jobs/669401045#L977

For info, this is custom dockerfile, but highly inspired from the official one from this repository, and the same configuration applied on 1.8.0 works.

[2020-03-31 21:44] muxator commented on #3805
@JohnMcLear, this is yours :)

[2020-03-31 21:47] madmath03 opened #3806 "Add database support tests in Travis-CI and DockerHub"
I've built a docker container for etherpad with a few plugins and production mode enabled by default (see https://github.com/Monogramm/docker-etherpad), but more importantly it comes with a very simple test for several databases.
The overall idea is:

1. start etherpad and a database through docker-compose with etherpad configured to use the database container
2. download the etherpad home page an

[2020-04-01 00:00] muxator commented on #3806
Hi @madmath03, it is comforting to see that all the work we have done on making Etherpad more Docker friendly (#3542 and 6d9264cf3cd7 by @pierreprinetti) is paying off.

This would be wonderful! We can only benefit from more automated testing.

I see that your Dockerfiles (for example [this one on the development branch](https://github.com/Monogramm/docker-etherpad/blob/b7922170ea7743dd98b0abf08d6

[2020-04-01 00:34] #3617 closed

[2020-04-01 02:13] #3681 closed

[2020-04-01 02:14] muxator commented on #3681
This should now be fixed.

[2020-04-01 02:19] muxator commented on #3778
This has to stay open.

The `npm ci` logic has not been integrated yet, because we still have to evaluate what I wrote in the proposal.

However, [we fixed `travis/runner.sh`](4a17443a2e6ad144faa6919f129359e8474b011d) that would  have broken as soon as we made any change.

[2020-04-01 10:05] JohnMcLear commented on #3805
+1 will look at this today

[2020-04-01 10:18] JohnMcLear commented on #3778
Please link to the proposal.

[2020-04-01 10:30] JohnMcLear commented on #3805
I get error

[code]
If the password is wrong in ``settings.json`` -- that needs fixing too :)

[2020-04-01 10:36] JohnMcLear commented on #3805
[code]

[2020-04-01 10:50] pierreprinetti commented on #3806
Absolutely. Thank you @madmath03 for the initiative!

[2020-04-01 10:52] JohnMcLear commented on #3805
Should be fixed in https://github.com/ether/etherpad-lite/commit/4db91cb2ed1a547362144a82e59ac745a8cd79cf

TLDR; I was doing the query before the callback meaning sometimes MySQL wasn't available.  Timing is now right and we handle the error more gracefully if the charset is not defined.

I'm not a docker user or even familiar but I don't see anything in our docker file which specifies MySQL.  It'

[2020-04-01 10:52] #3805 closed

[2020-04-01 11:29] JohnMcLear commented on #3800
Can't replicate this now..  Prolly cache

[2020-04-01 11:29] #3800 closed

[2020-04-01 11:50] maniackcrudelis opened #3810 "Can't add or remove plugins since 1.8.0"
Hi

After an upgrade from 1.7.5 to 1.8.0, I can't deal with plugins anymore from the plugin manager into the admin panel.

Each time I try to add or remove a plugin I got that error message:
[code]
And that error into the log which says the same things
[code]

And indeed, the plugin activepads is still there.

I do not have this directory `node_modules/.staging`, but if I add it, I have the same e

[2020-04-01 12:18] JohnMcLear commented on #3405
@xshadow Please provide some information such as:
* Is your Etherpad on windows/linux
* Exact Git Rev
* Is your Etherpad running behind a reverse proxy?  If so, what?
* Are you running any plugins?

[2020-04-01 12:19] JohnMcLear commented on #3405
FWIW I am not seeing this bug at all across any of our instances so I think it's a configuration issue or something that isn't related to Core.

[2020-04-01 13:08] madmath03 commented on #3805
There isn't anything particular done to setup MySQL/MariaDB because the official containers do it themselves.
Just setting the env var will automatically create the database and user:
[code]

Etherpad-lite DB setup is then just done using the regular env var set in [settings.json](https://github.com/Monogramm/docker-etherpad/blob/master/template/settings.json#L141):
[code]

See [docker-compose_mys

[2020-04-01 13:23] lesion commented on #3731
I think I have a related issue here:

![Screenshot from 2020-04-01 15-17-04](https://user-images.githubusercontent.com/504700/78141523-e5709d80-742b-11ea-95e2-858905f049d5.

only in few pads i see this screen for few milliseconds before the page loads.

I've messages in console coming from server of type `COLLABROOM` > `CHAT_MESSAGES` with some messages without any userId property:

[code]

I thin

[2020-04-01 13:29] JohnMcLear commented on #3805
Okay so yea do this:

[code]

replacing DATABASE with your database name.

The value should be ``utf8mb4``

[2020-04-01 13:39] JohnMcLear commented on #2351
https://github.com/ether/etherpad-lite/pull/3812

[2020-04-01 13:48] fnetX commented on #3405
Please look at https://github.com/ether/etherpad-lite/issues/3405#issuecomment-413032184 - After a successful proxy setup this issue disappeared for me. I saw it again when there was an unstable network connection, so it's probably down to some issues with something not correctly accessible, but mainly a setup / network issue.

I think this bug can be closed when current reporters don't reply and

[2020-04-01 13:53] JohnMcLear commented on #3405
Closing, will re-open if someone experiences moving forward.

[2020-04-01 13:53] fnetX commented on #3405
If someone experiences problems while setting up an instance (when there is no sensitive user data) it might be interesting to have a look at the system and start debugging from there. I guess I could afford the time to check if it's a general issue with the system configuration, but I'm no NodeJS / etherpad developer, so I won't be able to continue debugging if it appears to be indeed an etherpad

[2020-04-01 14:04] muxator opened #3814 "When changing package.json, please also update package-lock.json"
@JohnMcLear, commit 4db91cb2ed1a (done recently on master) updated  `package.json`, but missed the corresponding update to `package-lock.json`.

If we do not do this, we could potentially brak some installations / make things inconsistent among environments.

For reference, the changes on OpenAPI (#3786) we are about to merge respect this: each time there is a modification in `package.json`, there

[2020-04-01 14:27] rgarrigue opened #3815 "http-parser update broke etherpad"
Hi there

We're running a SoftwareFactory, a packaging of OpenStack Zuul including an etherpad. On CentOS 7 64. A `yum update` this morning broke etherpad : we had empty reply from the NodeJS process itself. It did work without HTTP header (like using netcat only). Looking at the update log, we tried downgrading http-parser. Then etherpad service restart. It fixed the issue.

Here are the versions

[2020-04-01 15:03] JohnMcLear commented on #2351
https://github.com/ether/etherpad-lite/pull/3813 - Ready for testing

[2020-04-01 15:15] JohnMcLear commented on #3686
``npm run test`` now runs on travis when the backend tests run

[2020-04-01 15:18] JohnMcLear commented on #3763
I will submit a PR for this but I'm not keen on using pinned versions and slowing the tests //even //...more

[2020-04-01 15:26] JohnMcLear commented on #3814
Done

[2020-04-01 15:26] #3814 closed

[2020-04-01 15:27] JohnMcLear commented on #3815
Do you have this problem on the latest version of Etherpad?  Feels weird you would open an issue for an old version without testing a modern release?

[2020-04-01 15:28] JohnMcLear commented on #3810
Will test this now

[2020-04-01 15:30] JohnMcLear commented on #3810
Works fine for me on latest develop.

[2020-04-01 15:48] muxator commented on #3815
What is `http-parser` used for?

The only hard dependency Etherpad has is a working nodejs. All the dependencies are installed as `node_modules` when running `bin/installDeps.sh`.

[2020-04-01 16:20] JohnMcLear commented on #3019
Note to self: Waiting on help from @muxator for passing the params to CLI.

[2020-04-01 16:46] xshadow commented on #3405
@JohnMcLear After a review of the Proxy settings I can confirm that [fix mentioned in the comments above](https://github.com/ether/etherpad-lite/issues/2318#issuecomment-63548542) did the trick.

[2020-04-01 17:42] maniackcrudelis commented on #3810
First it appears that it didn't happen with a fresh install of 1.8.0, only with the upgrade from 1.7.5 to 1.8.0.

From the same fresh installed 1.8.0 to the last develop, still working.
From 1.7.5 directly to last develop, broken.
Finally, 1.7.5 to 1.8.0, doesn't work. The same instance updated to last develop, still broken...

It's important to notice that the last test end up with a broken insta

[2020-04-01 18:20] JohnMcLear commented on #2877
PR in ready for test.  Thanks to @Pita

[2020-04-01 21:04] JohnMcLear commented on #3810
The migration path is  `` git pull && bin/run.sh``

It sounds like something is going wrong and I doubt you are using git..

So I'd be tempted to copy your ``settings.json`` and ``var/dirty.db`` (if you are using dirty) over to a clean 1.8 install, then install the plugins you want from there :)

[2020-04-01 21:22] JohnMcLear commented on #3263
@Nikerabbit did TW make any progress here?  I'm keen to do the stuff on our side but bear in mind we need client and server side rendering of translations so we can't use the WM solution.  What's changed w/ TW?  Perhaps we can do a call to organize how best to modernize?

[2020-04-01 21:38] maniackcrudelis commented on #3810
I indeed don't git pull to install, I use the release 1.8.0 tarball.
Same for the upgrade.
To just git pull would give me the current develop branch. I don't feel like it would be safe for a normal user.

I do not use dirty but a mysql database.
I can't just start over my installation as it's not just mine, but the installation of many different users. Currently on 1.7.5

There nothing in bin/run.

[2020-04-01 21:40] JohnMcLear commented on #3810
Okay so that's super easy, just copy/paste the ``settings.json`` from old to new.  All data will remain in MySQL untouched.

[2020-04-01 21:44] maniackcrudelis commented on #3810
It's not just me.
I can handle a new installation on my own, but that isn't for me. (I didn't actually moved to 1.8.0 myself)
My concern here is to find what breaks during that upgrade so I can fix it and safely let all my users upgrade to 1.8.0

[2020-04-01 21:46] madmath03 commented on #3805
I can confirm. This is what the `command` in the database are for.

Also, latest develop branch does fix the issue: https://travis-ci.org/github/Monogramm/docker-etherpad/jobs/669817706?utm_medium=notification&utm_source=github_status

[2020-04-01 21:47] #3810 closed

[2020-04-01 21:48] JohnMcLear commented on #3810
I can't help if you can't make the changes I propose so we can isolate he issue.

[2020-04-01 21:48] JohnMcLear commented on #3810
If others have this issue I'm happy to reopen!

[2020-04-01 21:53] maniackcrudelis commented on #3810
But I told you that if I install a new 1.8.0, it works, my issue is with the upgrade from 1.7.5 to 1.8.0
Of course If I do install 1.8.0 and move the settings json it will work.

An hundred users or more !
Told you it's not just for me.
I have this issue with the installation for YunoHost, which represent at least a hundred users (for etherpad)

I can't consider using git pull, knowing that I may

[2020-04-01 22:52] maniackcrudelis commented on #3810
Thanks for the support...
Next time I have an issue with your app, I won't forget to not ask...

For those who have that issue, apparently to remove `src/package-lock.json` solve the problem.

[2020-04-02 00:02] JohnMcLear commented on #3810
@maniackcrudelis I suggest you read back through this thread.

I provided debug steps to isolate the problem, you refused to do them.  We provide free software and free support, saying "Next time I have an issue with your app, I won't forget to not ask..." is not how I expect people in our community to behave when we have tried our best to help you.

It sounds like when you used the tarball it did

[2020-04-02 00:05] JohnMcLear commented on #3805
<3 I'm gonna just leave this on my screen for a few days because I think I can refine this solution a little prior to 1.8.1

[2020-04-02 06:03] Nikerabbit commented on #3263
@JohnMcLear Can you please clearly define the issue you have. In my last comment I listed a few possible solutions already.

[2020-04-02 07:35] Chocobozzz commented on #2802
Do you know if there is a way to fix broken pads?

[2020-04-02 07:41] MarcinCieslak opened #3819 "sessionID cookie enveloped in quotes is not parsed properly"
Some servers, like WildFly 11, surround cookie value in double quotes.  It depends on cookie value characters and cookie version. Here is some background
https://issues.redhat.com/browse/UNDERTOW-1096
Etherpad SecurityManager expects sessionID cookie value without quotes. If quotes are present, they are considered a part of session ID, resulting in "session not found" error.

[2020-04-02 08:40] manu-p commented on #3464
Hi, we're experiencing the same error on our etherpad instance, here's what is displayed over the opened pad:
TypeError: r.dropdowns is undefined in https://pad.ourdomain.fr/javascripts/lib/ep_etherpad-lite/static/js/pad_utils.js?callback=require.define at line 22'

Any help appreciated!

[2020-04-02 08:40] rgarrigue commented on #3815
Most likely the packaging by CentOS and/or Software Factory is in cause. I don't want to hijack that to run another version of etherpad / node / http-parser. I just though I'ld signal the issue  and my workaround just in case for other people to hit some result when searching. Guess I'll close the issue, sorry for the trouble.

[2020-04-02 08:40] #3815 closed

[2020-04-02 08:58] JohnMcLear commented on #2802
1. Restarting the Instance did it for me.
1. Etherpad source code includes ``bin/repairPad.js`` so ``bin/repairPad.js PADID``
1. Use the patch above if you have setAuthorInfo bug.
1. Use API / Export endpoint to get the .etherpad and import to a new pad.
1. If your error is on the timeslider only and reproducable, please dump the .etherpad file if you can and I will try debug but please don't comm

[2020-04-02 09:00] JohnMcLear commented on #3464
@manu-p Please provide some information....  OS, Version of Etherpad, Git Sha, Are you running minified?  What maxAge?  Have you tried cleaning browser cache.  Please see https://mclear.co.uk/2015/01/15/how-to-write-a-bug-report/

[2020-04-02 09:06] JohnMcLear commented on #3819
lulwut!  This is amazing.

[2020-04-02 09:10] JohnMcLear commented on #3815
Ah yea I maintain a bunch of CentOS boxes and it's not much fun especially deploying abiword.  To be fair to the CentOS guys, if you run a relatively modern setup (modern nodejs/systemctl,soffice) it's really stable and works great.  I kinda like the way it forces you to use modern stuff in that way.  Thanks for posting your issue and keeping us in the loop :)

[2020-04-02 09:25] manu-p commented on #3464
Thanks @JohnMcLear
Etherpad-lite **1.8** is running **minified** on a server:
- **Ubuntu 18.04.4**
- **nodejs v12.16.1**
- **maxAge : 21600**

We're using Firefox 74+, Brave Version 1.5.115 Chromium: 80.0.3987.149 (Official Build) (64-bit), and probably other chromium/chrome browsers.

For a long time, the pad is displayed without menus and with a "Loading..." in the pad header. Then after a while

[2020-04-02 10:04] JohnMcLear commented on #3464
Try running with (``in settings.json``)
1. ``minified: false,`` and ``maxAge:0,``
1. restart Etherpad
1. then clear browser cache and
1. refresh (or use network tab to disable browser cache)

See if problem persists

[2020-04-02 10:13] Natureshadow commented on #3099
Bumping this issue because the Teckids schul-frei project has started packaging BigBlueButton for Debian 10, which depends on etherpad-lite. So if anyone has done something that helps this, or has tiem to do so, please speak up ☺!

[2020-04-02 10:51] JohnMcLear commented on #3263
@Nikerabbit I looked at the options available and even using the WMF maintained data the descriptive names are improperly formed to meet the requirements of this PR: https://github.com/wikimedia/language-data/blob/master/data/langdb.yaml

Look for English, they are all:
[code]

jquery ul is also provides "British English" and "whatever English" which is isn't suitable also a note of this bug in th

[2020-04-02 10:53] pescepalla opened #3821 "Comments not exported"
The export function generates a file with the main text, but without comments.

This is the same issue as https://github.com/ether/ep_comments/issues/102 but related to Etherpad Lite. I've reported it here also because the bug is still active now after having been reported in 2016.

[2020-04-02 11:08] JohnMcLear commented on #3099
I'd love to see this too :)  Let me create a bounty.

[2020-04-02 11:10] JohnMcLear commented on #3099
Bounty made: https://gitpay.me/#/task/327

[2020-04-02 11:12] JohnMcLear commented on #3404
@Wikinaut just so I can replicate this; what's the actual problem?  If I visit Etherpad using a German locale set on my browser (IE navigator.language === "de.de") then German translations will not be visible??

I feel like I'm being kinda dumb, I get the technical issue but I don't see how it's practically affecting users.  Thanks!

[2020-04-02 11:34] Wikinaut commented on #3404
Hi @JohnMcLear , long time, no see! Nice that you are back!!

Give me some time, I am still along and working with Etherpad, give me some time to upgrade my running instance/s and to look, if the problem is still present.

I will come back and report **here**.

[2020-04-02 12:21] Nikerabbit commented on #3263
So basically, instead of `British English`, you'd like to have `English (British)`.

Translatewiki.net does not provide languages names. The two projects which I know that provide language names are CLDR and the aforementioned language-data library. Neither of those give the names in the format you'd like to have.

As far as I can see, this leaves two kinds of solutions,
* Do the necessary work to

[2020-04-02 13:10] JohnMcLear commented on #3263
@Nikerabbit I agree, https://github.com/ether/etherpad-lite/pull/3822 addresses some of the work.

I feel like this is a heuristics / quirk / UX requirement that isn't really needed, so I'm going to file it under feature request and not minor bug as it IS the desired behavior from TW point of view.  Is that correct?

[2020-04-02 13:58] tiblu commented on #3589
Confirmed, cannot reproduce. Thanks a lot!

And, @JohnMcLear glad to see you back in action!

[2020-04-02 14:02] Nikerabbit commented on #3263
It's out of scope for translatewiki.net as we do not provide language names, so no desires from that point of view.

Speaking of the larger ecosystem of i18n I am involved with, the projects that I am aware of have gone with alternative solutions.

[2020-04-02 17:25] JohnMcLear commented on #3821
Refer to the issue on the plugin please, thanks for the bump tho 👯‍♂

[2020-04-02 17:25] #3821 closed

[2020-04-02 17:58] JohnMcLear opened #3824 "UeberDB needs bumping again to fix postgres issue"

[2020-04-02 18:06] hex-m commented on #3099
Thanks, but there are [lots of dependencies](https://wiki.debian.org/Javascript/Nodejs/Tasks/Etherpad-lite) missing before etherpad-lite itself can be packaged. So most likely this will not be a one-person-project.

[2020-04-02 18:42] JohnMcLear commented on #3263
@Nikerabbit Now that is interesting, can you point me at what some of those projects have opted to use instead?   I'm not -1 redoing our implementation because it shouldn't be rocked science to replace it with something well documented as long as it will work on client and server which I imagine nowadays, most do.

[2020-04-02 18:51] JohnMcLear opened #3825 "aborted uploads crash instance?"
[code]
Develop branch 03 04 2020
CentOS 7?
Using ``soffice``

[2020-04-02 22:32] orblivion commented on #3641
Hey, I'm gonna step away from this (and other issues) in case someone else wants to take a look.

(@JohnMcLear I alluded to this over email, though I'm not sure if I'm reaching you. Please let me know if there's some technical issue there.)

[2020-04-02 22:36] JohnMcLear commented on #3641
@wraybowling There absolutely is a technical issue there.  I replied like 5 times :D

[2020-04-02 22:37] JohnMcLear commented on #3641
Jump on here: https://video.etherpad.com/p/orb

[2020-04-02 23:17] muxator commented on #3675
I still think that having to publish a new package on npm && pull it on etherpad && upgrading dependencies & lockfile there is just **too much work** for a package no one else is using.

Low priority now that we own ueberdb, but reopening.

[2020-04-02 23:21] JohnMcLear commented on #3675
etherdraw uses it afaik?

-----Original message-----
From: muxator <notifications@github.com>
Sent: Friday 3rd April 2020 0:17
To: ether/etherpad-lite <etherpad-lite@noreply.github.com>
Cc: John McLear <john@mclear.co.uk>; State change <state_change@noreply.github.com>
Subject: Re: [ether/etherpad-lite] vendorize ueberDB2 (#3675)

I still think that having to publish a new package on npm && pull i

[2020-04-02 23:23] JohnMcLear commented on #3641
@wraybowling Just FYI @orblivion is gonna work on this and be funded by the Etherpad foundation :)  That's what the whole video call was about :) 👯‍♂

[2020-04-02 23:25] orblivion commented on #3641
Yep, sorry for the confusion! Had a spam folder issue :man_facepalming:.

[2020-04-02 23:28] #2877 closed

[2020-04-03 00:44] muxator commented on #3763
My proposal is getting rid of `latest` browsers version.

Yes, it does not auto-update, but this is **good**. Otherwise you do not know agiunst which versions you are testing. It becomes time-dependent.

Periodically, review the test specifications and perform a change that bumps **only** the browser's versions.

No free lunch. :)

[2020-04-03 01:31] #3795 closed

[2020-04-03 10:30] JohnMcLear commented on #3825
I can simluate this crash with this command

[code]

[2020-04-03 10:32] JohnMcLear commented on #3825
Fixed with https://github.com/ether/etherpad-lite/pull/3828

[2020-04-03 10:32] #3825 closed

[2020-04-03 18:28] ryanpitts opened #3830 "pads silently disconnect when browser suspends a background tab"
My team uses etherpad-lite for a lot of internal planning work and to document open community meetings, so we often have multiple pads open in different tabs for extended periods of time. Many times when a pad loses connection (because someone shut their laptop and their machine went to sleep, or because the browser offloads tabs that have been in the background for a while), the pad will show a "

[2020-04-03 20:29] JohnMcLear commented on #3487
@rupran I was just testing this and I'm 99% sure I can't replicate this bug on Firefox, can you confirm?

[2020-04-03 20:36] JohnMcLear commented on #3487
Also if so..
commenting out the below seems to fix it...
  /*
  word-wrap: break-word; /* fix for issue #1648 - firefox not wrapping long $
  */
Can anyone confirm?

[2020-04-03 20:42] JohnMcLear commented on #3487
Does removing the comments around

[code]
in ``iframe_editor.css``

[2020-04-03 21:24] JohnMcLear commented on #3087
I took another look into this and it's related to:

[code]

In ``ace2_inner.js``

That's as far as I got tonight.  I will keep working on it to pin point the offending code.

It's not easy to write test coverage for this :/

[2020-04-03 23:16] JohnMcLear opened #3832 "Update Log4JS"
The Lo4JS API changed and that means the blob in our settings.json.template is no longer usable in modern versions.

This causes a number of problems making it impossible for to adopt the latest log4js without including a bunch of logic to handle both old and new config blobs ;/

[2020-04-03 23:20] #3824 closed

[2020-04-03 23:22] JohnMcLear commented on #3830
No, you are using Etherpad right and this is not a known issue.  You should have a disconnected msg and an overlay.  Can you provide some exact steps to replicate?

Thanks for letting us know.

This is the connection status logic: https://github.com/ether/etherpad-lite/blob/develop/src/static/js/pad_connectionstatus.js

And the auto reconnect logic: https://github.com/ether/etherpad-lite/blob/deve

[2020-04-04 09:45] JohnMcLear commented on #3001
@Gared Would your solution work if Etherpad was hosted in a subdir IE http://mysite.com/etherpad/admin ?

Looking at https://github.com/spcsser/ep_adminpads/blob/afd49b119c0d743af453d75187ca64c9df4aa10f/index.js#L154 I'm skeptical.

[2020-04-04 10:02] JohnMcLear commented on #3001
We use basePath to do this elsewhere..

[code]
I don't think we should do this on the server because it's 2 lines of JS (see above) and if we start creating the logic on the server it's part of a bigger job IE assigning name space to plugins IE forcing you to use /admin/ep_admin_pads and that's a slippery slope.

[2020-04-04 10:02] #3001 closed

[2020-04-04 13:03] alekso87 commented on #3788
any answers?

[2020-04-04 15:44] JohnMcLear commented on #3087
Okay so interesting I have a solution that works ONCE then doesn't work again for some lines, it's defo an improvement but obv I haven't formatted anything, just did debug now need to do stuff IRL.  Will try polish it asap.

https://github.com/JohnMcLear/etherpad-lite/commit/48fcc6d71f1b6f01a5d32e3d04413ab449629ce6

[2020-04-04 15:56] JohnMcLear commented on #3087
Errrr I just discovered that on ``develop`` in Chrome the left key is double stepping on line wraps!  I'm guessing this is related..

- [ ] Left arrow key FF
  - [ ] Test coverage
- [ ] Right arrow key FF
  - [ ] Test coverage
- [ ] Left arrow key Chrome
  - [ ] Test coverage
- [ ] Right arrow key Chrome
  - [ ] Test coverage

[2020-04-05 01:15] muxator opened #3834 "OpenAPI: errors under nodejs 10"
When executing under Nodejs 10 (the minimum currently supported LTS version), the backend test (`cd src ; npm test`) cause an error in the server log.

Etherpad version: e6251687bf6f (current develop).
Tested under:
* linux, nodejs **12.13.1** <-- works
* linux, nodejs **10.14.1** <-- error

This is the relevant snippet:
[code]

I noticed this when trying to run jshint, and it complained that some

[2020-04-05 01:20] muxator commented on #3650
The next Etherpad version will be **1.8.3** as planned, because we have to respect the deprecation plan, and NodeJS **8** is already out of support.

[2020-04-05 01:24] muxator opened #3835 "Etherpad 1.8.3: remove node 8 support"
According to the deprecation plan delineated in #3650, Etherpad **1.8.3** will remove support for NodeJS **8.x**, which is currently unsupported.

The minimum required nodejs version will be **10.13.0** (the first LTS of the 10.x series)
For now, I have no plan of further deprecations, considering that node 10 support is going to last for at least one more year.

[2020-04-05 12:06] JohnMcLear commented on #3487
Great spot @seballot - yeah it's a complex problem compounded by another bug for caret positioning on wraps.

I removed the JS hack and CSS "fix" for the JS hack.

Full disclaimer: Older versions of Chrome may have a bug.  But we can make the assumption that most peoples chrome version is kept up to date so I'm not going to worry about this.  What we could do is target older chrome versions with a

[2020-04-05 13:04] JohnMcLear opened #3836 "How can you target to run only one backend test?"
Tests are run with
``cd src && npm run test``

But how do you target one test IE ``cd src && npm run test chat.js``

[2020-04-05 15:59] JohnMcLear commented on #3087
Double step is fixed by: https://github.com/ether/etherpad-lite/pull/3831

[2020-04-05 20:42] JohnMcLear commented on #3087
I have things mostly fixed but if you go to a line, keystroke right then get to 2nd wrapped line, then keystroke left, you can't keystroke right again.  As if it's creating some hidden element and leaving it.

[2020-04-06 03:21] dreeves commented on #3124
Still reproducible for me! Seems to not depend on what browser you use and it does not require that both users be using an embedded pad -- just one is enough.

## Combinations that exhibited the bug

1. User 1 on Chrome on macOS with embedded etherpad, User 2 on a Chromebook with embedded etherpad.
2. User 1 on Firefox on macOS with embedded etherpad, User 2 on a Chromebook with NON-embedded ether

[2020-04-06 07:32] JohnMcLear commented on #3124
https://youtu.be/_LhJlA77644

I can't replicate.  Chrome, FF, Edge, Opera on Microsoft Windows 10.

I tried an additional test with more spamming on lines and still no dice.  Everything works fine..  Can you record a video showing the problem?

[2020-04-06 07:44] JohnMcLear commented on #3781
I think we should include https://github.com/ether/etherpad-lite/pull/3833
and
https://github.com/ether/etherpad-lite/pull/3827

As they both address security issues.

[2020-04-06 07:50] JohnMcLear commented on #2802
I put a fix in that stops a user from being able to undo a clear authorship event.  This seems like the only sane way of doing this.

[2020-04-06 07:56] JohnMcLear commented on #3779
@seballot is actively working on this still, it would make sense he makes the screen shots as he will know the best view :D

[2020-04-06 07:59] seballot commented on #3487
nice ! so we can also remove the "doesWrap" and the "noprewrap" classes (in both js and css probably) ?

[2020-04-06 08:07] JohnMcLear commented on #3087
Right guys, I have pushed my final commit, given time constraints I think this is as stable as I can get it for now and would ask for a call for someone to assist me resolving this further so we don't have the issue of going left > right on wrapped line.

[2020-04-06 08:20] JohnMcLear commented on #3087
I'm going to take a stab at test coverage, because we **need** that

[2020-04-06 09:29] Chocobozzz opened #3838 "Broken pad due to badChangeset error"
Hello,

We have several broken pads since our 1.8 update and I don't understand why.
The error on server side is:

[code]

The reason is that when we load the pad (without any user interaction), a message is sent on the server:

[code]

I don't understand what this changeset means, and I don't understand why it is sent to the server. However, I know I'm not the `a.dWQUozuAVXf005iq` author.

I don'

[2020-04-06 09:31] JohnMcLear commented on #3487
Yea, if they are cruft they can go.  Do a ``grep -rni`` for them in the code base and make sure they aren't used elsewhere.

[2020-04-06 10:57] JohnMcLear commented on #3087
Writing tests I'm hitting this browser limitation: https://stackoverflow.com/a/19883789/695411

[2020-04-06 11:05] JohnMcLear commented on #3087
Tests are in, but with a huge caveat that we can't properly cover this issue, or cover it at all.  The sendkeys library doesn't emulate a trigger which is what's causing the bug.  So we know a keypress is causing the fault, and it's due to shadow.

I'm going to unassign this from me now because it has as much test coverage and bugfix as I can do.

[2020-04-06 14:10] JohnMcLear commented on #3450
Fix here: https://github.com/ether/etherpad-lite/pull/3839

[2020-04-06 15:18] julianmiguel opened #3840 "Plugin manager empty"
Hello
I just install a fresh Etherpad lite, everything is working well but my plugin manager is emty
It seem like i cannot view any plugin inside

It is very strange because when i use the search fied it's seems like its looking for something

Can you help me ?
<img width="1148" alt="Capture d’écran 2020-04-06 à 17 16 25" src="https://user-images.githubusercontent.com/63249082/78574633-8dbaa380-

[2020-04-06 15:28] julianmiguel commented on #3840
OK sorry i found the solution, I launch etherpad as root
thanks

[2020-04-06 16:29] Gared commented on #3840
Good to hear. If you have other issues with the plugin manager. Let us know

[2020-04-06 16:29] #3840 closed

[2020-04-06 16:41] anttiviljami commented on #3834
Taking a look now

[2020-04-06 17:19] anttiviljami commented on #3834
So the test that triggers this error is this one:

https://github.com/ether/etherpad-lite/blob/e6251687bf6f0d773ef5cd8883465d67e18f4816/tests/backend/specs/api/pad.js#L544-L558

It deliberately tries to set incorrect HTML, so the warning message is actually correct behaviour.

[code]

With Node 10 however it is also accompanied with an error-level deprecation message about using custom `.inspect()

[2020-04-06 17:21] anttiviljami commented on #3834
See PR #3841

[2020-04-06 17:42] anttiviljami commented on #3834
Also noticed that the version of log4js we're using is absolutely ancient. This causes custom error objects to be logged like this: `{ inspect: [Function: inspect] }`. (What the deprecation warning is about)

I would create another PR to upgrade log4js but looks like we're using an old configuration format for it, which makes things a bit more involved.

Not sure what to do with that. Waiting for

[2020-04-06 17:55] anttiviljami commented on #3836
[code]

[2020-04-06 17:55] JohnMcLear commented on #2297
I found a reproducible case.

1. Create a pad with 50 lines all that are OL.
1. Select lines 1->50, click indent.  FF will freeze for a second

Do the same operation in Chrome, it will be slow.

Do the same operation in Edge, it will be blazing fast...    Nah just kidding, Edge is obviously the slowest :D

[2020-04-06 17:56] anttiviljami commented on #3836
Or just `mocha [file]` if you have mocha installed globally.

[2020-04-06 18:19] Gabrielpatrola commented on #3804
Can you check this commit?
[c85543b](https://github.com/Gabrielpatrola/etherpad-lite/commit/c85543bfc251078e41f33e1386b1414ddb73224b )

[2020-04-06 18:20] JohnMcLear commented on #2297
So this is how it works AFAICT

Let's say I have a list with 10 items.  Originally it's

[code]

The first indentation happens on the first line, so it becomes

[code]
To do that it has to go over each item then it also checks the next line to see if that's a number, so it redoes that one too..

So let's say we have 10 items, and n is number of operations it's like this..

1. n*10
2. n*9
3. n*8
4.

[2020-04-06 18:27] JohnMcLear commented on #3836
Woop awesome thanks :D!!!

[2020-04-06 18:27] #3836 closed

[2020-04-06 18:38] JohnMcLear commented on #3804
Nicely done, have commented on the commit :)

TLDR; Works but I think @muxator wont want formatting changes in the same commit as a bugfix...

Still, I think that file needed some polish so I'm +1 seeing some formatting changes.

[2020-04-06 18:47] Gabrielpatrola commented on #3804
How can I contact you or @muxator? I'm on the [GitPay](https://gitpay.me/#/task/325) task and and want to understand some things

[2020-04-06 19:30] JohnMcLear commented on #3620
I made a start on this today.  Essentially I'm going to say that if there is an indented LI between ULs or OLs then that makes a list persist.  It should be a fine UX.

[2020-04-06 21:18] orblivion commented on #3641
Just a quick update. I'm still investigating, but it seems to be an issue of CSS importance hierarchy. The value should be getting set here along with the doc text color:

https://github.com/ether/etherpad-lite/blob/e6251687bf6f0d773ef5cd8883465d67e18f4816/src/static/js/ace2_inner.js#L274

But it has no effect. Setting `parentAuthorStyle.backgroundColor` elsewhere in this function works properly.

[2020-04-06 22:38] muxator commented on #2802
People at Framasoft: would disallowing the undoing of clear autorship colors break some of your use cases? I think it's better than a crash.

[2020-04-07 00:03] #3834 closed

[2020-04-07 00:21] muxator opened #3843 "log4js needs to be upgraded. Breaking change in the config?"
The current Etherpad development version (3edd727a943c, **1.8.0+**) version uses a very old version of [log4js](https://github.com/log4js-node/log4js-node) ([**0.6.35**](https://github.com/log4js-node/log4js-node/releases/tag/v0.6.35), from 2016-04-15).

Among other things, this implies (as noted by @anttiviljami [here](https://github.com/ether/etherpad-lite/issues/3834#issuecomment-609938283)), t

[2020-04-07 00:22] muxator commented on #3834
For tracking the (distinct) issue of the very old log4js version I've opened #3843.

[2020-04-07 01:35] muxator commented on #3781
Yep. 1.8.3 was the version that programmed to dump nodejs 8 support. Sticking to that.

[2020-04-07 01:40] dreeves commented on #3124
I'm sorry! I should've emphasized, the bug happens when both people are typing literally simultaneously. So you'll need two keyboards to reproduce it! I'd be delighted to coordinate with you by phone/zoom/whatever (or just pick an exact time to do the test!) and be the other user typing at the same time.

[2020-04-07 01:47] #3487 closed

[2020-04-07 01:48] muxator commented on #3487
Merged fix. Thanks @JohnMcLear and @seballot.

[2020-04-07 06:07] Chocobozzz commented on #2802
Nope, it's good for us :+1:

[2020-04-07 07:33] Chocobozzz commented on #3838
Disabling [spellcheck](https://github.com/ether/ep_spellcheck) plugin fixes this issue.

@JohnMcLear do you want me to close this issue and reopen it on the spellcheck repository?

Steps to reproduce:
 * Install spellcheck plugin
 * Create an empty pad and import
[framaconfinement-leplan.etherpad.zip](https://github.com/ether/etherpad-lite/files/4442629/framaconfinement-leplan.etherpad.zip)

[2020-04-07 09:13] JohnMcLear commented on #3838
Thanks @Chocobozzz for this, I will handle, you can leave it with me.

[2020-04-07 10:01] fwolfst opened #3844 "Feature Request: case-insensitive pad names"
It would be great if a setting would **allow the use of case-insensitive pad names** (`overview` -> `oVErvieW`). Having etherpad deployed in a German environment where nouns are written capitalized, this lead to some confusion of users (some capitalize the pad name, others dont).

Currently, i work around that with some nasty nginx-rule (because not all request should be lowercased, some javascrip

[2020-04-07 10:08] JohnMcLear commented on #3124
It's cool I got people here so will get them to help.

[2020-04-07 10:51] JohnMcLear commented on #3838
Confirmed, ep_spellcheck at fault.

[2020-04-07 10:55] JohnMcLear commented on #3838
The problem is due to the latest commit on the spellcheck plugin, it's overly aggressive and modifies the attributes on each span (not each div).  It's caused by a patch applied for https://github.com/ether/ep_spellcheck/issues/11 -- The TLDR here though is browsers are broken when it comes to how they apply spellchecking.

**spellcheck attribute is not properly passed to children in contentEditab

[2020-04-07 10:56] JohnMcLear commented on #3838
I published a new version of ep_spellcheck which fixes this issue

[2020-04-07 10:56] #3838 closed

[2020-04-07 12:11] Chocobozzz commented on #3838
Thank you @JohnMcLear

[2020-04-07 13:28] JohnMcLear commented on #3124
Can't replicate on Windows w/ Chrome and Chrome based browser on a tablet.

Can't replicate on Windows w/ Firefox and Chrome based browser on a tablet.

Tested using: https://unconceivedainudog.htmlpasta.com/

@dreeves Can you test with the above URL please and see if you can replicate there?

[2020-04-07 13:30] JohnMcLear commented on #3124
Oh for some reason I thought it was disconnecting?! :D  It's a caret jump issue..  Okay lemme try  test that..

[2020-04-07 13:34] JohnMcLear commented on #3124
Nope, no caret jump.  I did witness a huge amount of latency on the tablet connection (or so it seemed) though..  Poss a socket routing issue?  I don't get the caret jump at all tohugh with my test setup.  What OS do you get the caret jump on, Chrome on MacOS?

[2020-04-07 13:59] JohnMcLear commented on #3447
Looks like a cheerio bug, investigating now.

[2020-04-07 14:26] JohnMcLear commented on #3447
Okay so it's ``contentcollector.js`` again and this is related to the work I'm doing in other areas, I'm kinda blocked by other merge requests.  If you look at results

Note: I slightly modified the script so ignore the changes..

[code]

Note that the attributes for OL items appears to be present but note that the numbers don't increment.  You would expect to see something like..
[code]

Or so, I

[2020-04-07 14:29] JohnMcLear commented on #3447
Well interesting, it's actually creating a new list for each item, which is obviously not desirable.  So yeah, ``_exitList`` is outdenting and subsequently removing list because it ?doesn't know? that the previous item was also a list item..  Is my guess..  Will look at what ace2_inner gets this right but cc doesn't.

[2020-04-07 14:33] doodlebug70 opened #3845 "Importing documents into pad fails."
**System Settings:**
- Debian 10
- Node v11.15.0
- abiword 3.0.2-8

**Plugins**
- align
- hash_auth
- tables2
- tasklist
- timestamp

**Etherpad-lite**
[code]

**Issue**

When importing a document into etherpad it fails.

steps taken

- open a pad
- click the import button
- click browse and select document (tried, txt, odt, html)
- click import now  (only shows "import no" on button)

the pad rel

[2020-04-07 15:04] JohnMcLear commented on #3447
Right, fsk this, I'm gonna built a contentcollector test engine or something..

[2020-04-07 16:21] anttiviljami commented on #3723
@JohnMcLear I'm still waiting for you to send me invoicing details so I can bill the work as agreed.

This issue can probably be closed now that #3786 is merged.

[2020-04-07 16:43] dreeves commented on #3124
Well I'll be darned. It does not happen on unconceivedainudog.htmlpasta.com !
It's sounding like this is something idiosyncratic to my own installation. Let me keep investigating but I think you're right to close this in the meantime. Thanks so much for the thorough testing!

[2020-04-07 16:47] JohnMcLear commented on #3834
Hah whoops :D  Apols @anttiviljami

[2020-04-07 16:48] JohnMcLear commented on #3723
@anttiviljami Yea no worries, I thought I emailed you them!  Will email you now.  If you don't get it please lemme know

[2020-04-07 17:15] anttiviljami commented on #3723
Looks like your email not getting through. Please use [my public email address](mailto:viljami@viljami.io), the one visible on my GitHub profile.

[2020-04-07 18:10] joassouza commented on #3830
We had the some problem with a user with unstable internet connection. This bug is quite difficult to replicate and really serious. We've tried to simulate an unstable connection without success

[2020-04-07 19:10] JohnMcLear commented on #3844
https://github.com/ether/etherpad-lite/blob/develop/src/node/db/PadManager.js#L181 Afaik

[2020-04-07 19:14] JohnMcLear commented on #3845
Thanks for this report (it's a good one!), can you confirm if the problem exists with the plugins removed?

[2020-04-07 19:16] fwolfst commented on #3844
Previous comment pointed out: https://github.com/ether/etherpad-lite/blob/79406051fa6610690f7c5ae1d6a0c79dc37f8a78/src/node/db/PadManager.js#L78 as a place to look at.
You mean I would need case **insensitive** database, right?
I have seen that actually some people did use a mysql-feature to do that.

My wish would be that I can tell etherpad that case does **not** matter.

Exactly. Thats my probl

[2020-04-07 19:21] JohnMcLear commented on #3844
Yes, make your database key case insensitive.

**Or** just add ``.toLower()`` on a pad Id anywhere in ``hooks/express/padurlsanitize.js``.

I'm not sure I'm gonna write code/test coverage etc. for it tho!  I can re-open and if enough people want it I will do it.

That's defo a weird feature request!  Users are weird 💃

[2020-04-07 19:25] JocelynDelalande commented on #3515
I encountered this same issue those days, on 4 different pads of an instance.

Etherpad-lite 1.7.5

The faulty pad was unreachable, and also triggers a full crash (full etherpad auto-restart) of the server on some uses of that pad, like trying to `/export/html`it.

[2020-04-07 19:27] fwolfst commented on #3844
Yes users are weird :)

otoh its not such a weird expectancy that URLs are handled case-insensitive
... like hTTPs://EtHeRPAd.oRG should work fine. Yep, I know why, but tell
this an ordinary user. Also, the etherpad blog does not care about
capitalization (
https://blog.etherpad.org/2020/03/17/Video-CHAT-with-etHErpAd/). I don't
want to argue, but its not uncommon that URLs are treated as-if
case-

[2020-04-07 19:34] orblivion commented on #3641
# Overview

Per @JohnMcLear 's suggestion I'm going to step away from this after having looked through it for a few hours. Here's what I can conclude:

This issue only exists when using the Colibris skin. The relevant lines of CSS (more on this below) were added in #3496 PR by @seballot . Perhaps if he's available he could give some guidance here.

# How white text for dark backgrounds is set

Thi

[2020-04-07 20:14] doodlebug70 commented on #3845
Yes removing all plugins seem to get it working again.  but some quirks

- I initially removed all but `hash_auth` and it started working.
- I went to re-add one by one the ones I removed, starting with `align`.  It broke again
- I removed `align`, leaving just `hash_auth` and it was still broken.
- I had to remove `hash_auth` to get it working again,  leaving me with no plugins

[2020-04-07 22:24] JohnMcLear commented on #3845
FWIW I just tested importing with a plugin installed (``ep_spellcheck``) and it didn't break import.  Will try ep_align now

[2020-04-07 22:25] JohnMcLear commented on #3845
Nope, import still works..  Will try with abiword instead of soffice

[2020-04-08 06:09] seballot commented on #3641
Hi @orblivion ! thanks for investigation, and sorry if I broke this functionality. I will have a look today

[2020-04-08 07:58] jgribonvald commented on #3335
Hi,
How is going on for this issue ? Someone have done something ? It would be really great to be able to do that !

[2020-04-08 08:12] JohnMcLear commented on #3447
Okay contentcollector test engine built and I'm re-familiar with ``contenteditor.js``..

1. ``contentcollector.js`` does not have logic in for numbered lists start number or number within a list.  It has logic for indentation(level).
1. ``ace2_inner.js`` processes numbered lists.  https://github.com/ether/etherpad-lite/blob/develop/src/static/js/ace2_inner.js#L5220 - With the numbers you see in pa

[2020-04-08 08:29] jmaupetit commented on #3335
Hey @jgribonvald :wave: I was also about to raise a hand in this issue :wink:

We are trying to use `redis` as a socket.io communication layer in a k8s context, and we are having issues with some events: not all events are sent to redis. It seems that chat-related events are, but not pad changes.

Our WIP: https://github.com/openfun/etherpad-docker/pull/8

This project has been deployed in our Ope

[2020-04-08 09:37] kamleshmanek opened #3847 "Etherpad for react native"
Hello All,

Hope you are doing well!
I want to implement Etherpad in my react native app without using webview. Is it possible for react native with customise view of Editor and Chat box for mobile app? I have checked for SDK/Library for react native but there are not available. So please guide me to implement Etherpad for react native app.

Thank you

[2020-04-08 10:34] kamleshmanek commented on #3845
can anybody please guide me for this [issue](https://github.com/ether/etherpad-lite/issues/3847)?

[2020-04-08 10:40] hex-m commented on #3094
I just installed the latest version and use nginx as reverse proxy, configured like in the [documentation](https://github.com/ether/etherpad-lite/wiki/How-to-put-Etherpad-Lite-behind-a-reverse-Proxy). Mozilla Observatory tells me

So I think "you don't need to do anything" is not true when you use a proxy.

[2020-04-08 11:55] JohnMcLear commented on #3847
Yes it's possible but you will need to do some work.

We don't support any specific framework, be it cordova, angular, react etc.  You will have to implement it yourself.  There are too many and the gravy train moves so quick we decided not to try to follow it.

It will mean looking through the client side code and implementing it within react.  It will also mean changing some of the client side d

[2020-04-08 11:55] #3847 closed

[2020-04-08 12:08] ottomattas opened #3848 "Stateless Etherpad"
We were introducing Etherpad to be used as a part of a bigger solution when it turned out not to be stateless. We are building the solution on cloud resources and would like to really leverage the services available, granting us High availability (HA). Currently looking for workarounds in terms of our solution but the question remains - is there any initiative to make Etherpad stateless?

Looks li

[2020-04-08 12:11] JohnMcLear commented on #3094
Yea, I did the scan on the video site and get a similar result.

[2020-04-08 12:11] JohnMcLear commented on #3094
Ah whoops I scanned the wrong hostname, doing again for video.etherpad.com...  Fwiw I did .org 📦

[2020-04-08 12:54] JohnMcLear commented on #3848
There isn't an initiative at the moment to make Etherpad stateless, we encourage and invite you to lead on it though because it's a worthwhile en devour.

Instead of going stateless we optimized for performance on the thread, this meant our load testing numbers at simulation (see the tools we provide) are pretty impressive.  This satisfies nearly all of our clients.

Our other large clients (M's o

[2020-04-08 13:00] JohnMcLear commented on #3094
- [ ] Look to see which parts of https://observatory.mozilla.org/analyze/video.etherpad.com we can do in Etherpad code base w/ out damaging user experience.  This will probably mean putting some stuff in settings.
 - [ ] Bits we can't do we should document

Note on Video.etherpad.com the results are

![image](https://user-images.githubusercontent.com/220864/78786771-368b0f00-79a1-11ea-9210-9b62bd1

[2020-04-08 13:06] JohnMcLear commented on #3094
@hex-m fwiw in nginx I did
[code]

Just as a quick play around I got it from F to B, or something..

[2020-04-08 13:41] JocelynDelalande commented on #3838
I can confirm bug (on EP 1.7.5) and fix (updating ep_spellcheck to 0.0.7). Thanks @JohnMcLear !

[2020-04-08 16:25] hex-m commented on #3094
@JohnMcLear Thanks a lot!

In your config example the first line is truncated.

What I came up with (researching and trying stuff - not really knowing what I do):

[code]

[2020-04-08 17:08] JohnMcLear commented on #3094
Yea, I wasn't giving an example, I was explaining how easy it is to get the majority done within 5 mins.  You are welcome to post your config here once you get it refined, it might take me a few months so don't wait on me!

[2020-04-08 18:23] doodlebug70 commented on #3845
@JohnMcLear hmm  I had tried with both existing pads and new ones yesterday and it was causing problems, even after removing all plugins, though usually restarting the service helped get import working.  Restarting service was done as uninstalling and installing plugins were taking at least two attempts before it worked.

today, not touching the back-end, re-adding some plugins and it seems to be

[2020-04-08 19:30] Marx1st commented on #3613
Its happening on our server, too. Just updated to 1.8 and it still happens (same error as above).

[2020-04-08 19:43] JohnMcLear commented on #3613
Please paste your error dump and also let us know any useful information, like OS, database, any plugins..

[2020-04-08 19:49] jkaosw opened #3849 "[Docker] Setting Static API Key?"
I'm attempting to set up an instance of Etherpad in Kubernetes to be embedded by one of our applications.

However, upon doing a quick test for reliability/availability on Kubernetes, when destroying and redeploying the Etherpad pod, it respawns with a new API key in the APIKEY.txt file.  We don't intend to have high availability in terms of having multiple replicas, but having the API key change

[2020-04-08 19:56] chatellier commented on #3613
The bug happened before version 1.7.5 and then I updated to version 1.7.5 with the same results.
I'm curently using version 1.7.5.

I also tried to repair and delete the pad, but it also fails with the same error.

There is no procedure that I know to reproduce the bug. Some pad are "invalid", but I have no clue to produce another "invalid" pad.

[2020-04-08 20:13] JohnMcLear commented on #3613
@chatellier that's great, thanks.

Please try 1.8.1 (latest develop), as of 6 days ago the deletePad script works: https://github.com/ether/etherpad-lite/commit/cdf5b63f262db9ba4fe6b097cbabd7ca7df8df2c

We also provide an ``extractPadData.js`` which dumps a .db file I can bring into my instance and debug for you 👍

So:
  - [ ] Try replicate the problem on ``develop`` branch
  - [ ] If you can, try

[2020-04-08 20:52] muxator commented on #3019
#3783 has been merged.

If the problem is fully resolved, close this issue.

[2020-04-08 20:57] JohnMcLear commented on #3019
woop, I'm gonna test edge cases

[2020-04-08 22:46] JohnMcLear commented on #3849
Afaik you just set it in ``APIKEY.txt`` in the root folder before running it for the first time?

I could be wrong...  It's been a long time since I touched that logic.

[2020-04-08 22:58] jkaosw commented on #3849
Interesting.  I'm just curious how that logic works.  Does Etherpad check that file to verify the APIKEY? If so, mounting a ConfigMap over it would be fine and we could just run for that.

I will test tomorrow and put findings here.

[2020-04-08 23:01] JohnMcLear commented on #3849
Afaik yes.  But this is code I wrote X years ago, it may have changed and I'm too lazy to look :)

[2020-04-08 23:14] #3819 closed

[2020-04-08 23:16] muxator commented on #3819
I think this is a bug in Etherpad cookie parsing logic.

I have merged #3820 (df08883a009aeaebfbe59a53c592ac25cd3aff06), which is a fix, but I think the the problem still remains deep down.

For documentation's sake, this is my comment to the issue (and the remediation):

[2020-04-08 23:53] muxator commented on #3849
@jkaosw, when Etherpad starts, it looks for `APIKEY.txt` at the root of its installation (the basedir of the repo).

You can see this in the logs at startup time:

[code]

If that file does not exist, it is created with random contents:
[code]

If you do not like the directory where `APIKEY.txt` lives, you can pass the `--apikey` parameter at startup with the full path to an arbitrary text file:

[2020-04-09 01:03] muxator commented on #3099
@hex-m, how does dependency installation & resolution for nodejs application work in Debian?

Does it have to exist a package in the official repository for each dependency, or they can be bundled together in a `node_modules` somewhere?

[2020-04-09 02:18] muxator commented on #2775
An historical note: this bug report is from September 2015.

The "buggy" behaviour was introduced on purpose just some months before, on [january](0bd7914c3b40) and [april](14fab9f441bb).

See https://github.com/ether/etherpad-lite/pull/3802#issuecomment-611287982 for a tentative reconstruction of the rationale (basically allowing to open a link via middle click).

Thanks [TortoiseHg](https://tort

[2020-04-09 06:13] anttiviljami commented on #3723
All clear. Thank again for inviting me to contribute @JohnMcLear ! 🤝🤝🤝

[2020-04-09 07:29] JohnMcLear commented on #2775
Well done discovering the rationale.

[2020-04-09 09:19] JohnMcLear commented on #3845
Great, if you run into problems with this again please do let us know.

[2020-04-09 09:19] #3845 closed

[2020-04-09 10:06] hex-m commented on #3099
I'm no Debian Developer but reading the [documentation](https://wiki.debian.org/Javascript/GroupSourcesTutorial) I would say the normal way is to package each module separately. Exceptions are explained in the link.

Having one `node_modules` package containing the entire npm registry would have serious downsides.

[2020-04-09 14:00] ottomattas commented on #3848
Thanks for the explanation. I completely understand the rationale behind the decision to optimise on a thread rather than make it stateless. For now, we will continue with the stateful setup as we are just building a POC which still needs organisation buy-in on a high level. After we have gained this, I am indeed very much for supporting the effort in going stateless.

Just an idea around HA and t

[2020-04-09 14:10] JohnMcLear commented on #3848
Awesome thanks and keep us posted and do feel free to shoot through any dislikes/quirks/bug reports and we will endeavor to action them ASPAP.

[2020-04-09 19:54] tom-chase commented on #3795
I am having the same problem with the deletePad api.  Response says it was deleted and it is removed when I run listPads api; however, if I create a pad with the same name, I get the contents of the deleted pad.  I am also having problems getting the setText, setHTML, and copyPad to place the content into the pads.  I have 1.8 with mysql on debian with nginx for certbot.  I'm using jsonp to embed

[2020-04-09 19:58] jkaosw commented on #3849
@muxator Thanks for the hints and the information!

I am utilizing Vault in my environment so I injected the APIKEY directly into a file (/vault/secrets/etherpad/APIKEY.txt) and then referencing that file by utilizing a 'command block' for the container specification.  YAML for the deployment looks like the following:

[code]

[2020-04-09 19:58] #3849 closed

[2020-04-09 21:34] rhelmer commented on #3838
Happy to follow up - @JohnMcLear can you give me more details on how browsers are broken? If we can build a minimal testcase that would be ideal.

[2020-04-09 21:34] rhelmer commented on #3803
Hm. So my webcompat colleagues aren't aware of any public reporting mechanism outside of the feedback form in their UI:

![image](https://user-images.githubusercontent.com/61412/78942662-ff832f00-7a6e-11ea-96ca-21f154491b98.png)

I'll see if I can find anything else, and also a workaround for this.

[2020-04-10 11:46] JohnMcLear commented on #3620
So as no one had input in this I'm going to go with option 3 which is create logic for Etherpad to understand that lists can have non list items..  So Etherpad will support
[code]

[code]

[code]

[code]

[code]

[code]

Important: Double enter should always leave a list.  To do this I would need logic to see if the line prior to the previous line is a list, if it is then I will need to see if hte

[2020-04-10 11:51] JohnMcLear commented on #3620
Weirdly I noticed Google Docs and Microsoft Office handle this differently

Gdocs
![image](https://user-images.githubusercontent.com/220864/78988697-98768080-7b29-11ea-9535-72b6ec24b354.png)

Office:
![image](https://user-images.githubusercontent.com/220864/78988718-a3c9ac00-7b29-11ea-9911-e32996b7c80c.png)

LibreOffice Writer appears to be on crack.
![image](https://user-images.githubusercontent.

[2020-04-10 14:14] ezzra opened #3853 "send last-modified-header for export files"
for the export file links like https://pad.example.org/p/test/export/txt it would be good, if the server could send a last-modified-header, or is there any other good way to check programmatically (from external) the latest update time?

[2020-04-11 14:37] JohnMcLear commented on #2194
I thought a lot about this and the short answer is no.  This is because the contentcollector is also used for import.  So you can't have exceptions for none standards.

So you can have:

[code]
and
[code]
or
[code]

You have to be explicit on if empty line breaks reset the counter or not.  What you can do is indent a line so..

[code]
and

[code]

But simply put, if you import a document with an e

[2020-04-12 16:56] alekso87 opened #3856 "Error: listen EACCES: permission denied 5.5.5.5:443"
Hello everyone. I managed to configure https for the etherpad - for this it was necessary to register the necessary parameter in the settings.json and specify the working keys of the certificate. The server worked as it should.

The problem arose when I wanted to get rid of port 9001 by setting port 443 for https in the settings.json. But here I got a mistake.

[code]

My credentials.json
[code]

[2020-04-12 17:01] alekso87 opened #3857 "Wrong protocol in the logs when SSL is enabled"
Very small mistake :)

[code]

http://5.5.5.5:9001/ -> httpS://5.5.5.5:9001/

[2020-04-12 19:36] JohnMcLear commented on #3856
Unless I'm misunderstanding..

You would leave Etherpad on 9001 and only expose it to the local IP address (127.0.0.1)

And you would only allow 443 (maybe 80 redirect to 443) in nginx.

You wouldn't have SSL certs in both nginx and etherpad, I don't think?????   Maybe SSL pinning?  I don't usually do that anyway...

[2020-04-12 19:40] JohnMcLear commented on #3853
See:

https://etherpad.org/doc/v1.7.0/#index_getlastedited_padid

getLastEdited(padID)
#

    API >= 1

returns the timestamp of the last revision of the pad

[code]

so

[code]
would do it, just include that as a header in the export (I'd cover all exports not just HTML).  It's really easy to do this.  I'd be +1 seeing it as a PR.

[2020-04-12 20:40] Bergiu commented on #3154
I have the same problem

[2020-04-12 20:46] alekso87 commented on #3856
I understood you. Thanks!

[2020-04-12 20:46] #3856 closed

[2020-04-12 20:58] JohnMcLear commented on #3154
@Bergiu please provide details.
 https://mclear.co.uk/2015/01/15/how-to-write-a-bug-report/

[2020-04-12 22:02] JohnMcLear opened #3858 "Please take care of the documentation part, or at least drop two lines here."
Please take care of the documentation part, or at least drop two lines here.

_Originally posted by @muxator in https://github.com/ether/etherpad-lite/pull/3833_

[2020-04-13 00:41] muxator commented on #3858
Let me try to write down some points to help our memory:

1. find a place in the documentation in which the newly introduced rate limiting may be mentioned
2. help describe the effect of `requireAuthorSessionToImport` in `settings.json.template`. For example look at this change: https://github.com/ether/etherpad-lite/commit/9847bf67ff0ff24e87131833004a8e2e050c020d#diff-8ab11a170627f11a32a1d642d711

[2020-04-13 11:09] tiblu commented on #3563
@muxator Thanks for the input on this, from our POV we have all the info on all the cookies we're using in our Etherpad deployment.

One thought tho, as privacy is important and GDPR requires to have very granular cookie consents which describe to the User  the use of cookies we should have a place in documentation that holds the up to date info about the cookies? I think this GH issue is a good s

[2020-04-13 11:15] tiblu commented on #3563
Now that I think about it, the `token` is one which usage is actually not all that clear - how it actually is used, when is it actually needed. Even when public pads are disabled, it's still generated while the claim is "used for public pads".

[2020-04-13 11:28] alekso87 opened #3860 "Unsafe connection via http"
What should be done in this case if the etherpad is available via https and http?

https://video.etherpad.com/ = http://104.209.139.143:9001/

Configure proxy_pass on nginx and include ssl in setting.json?

[2020-04-13 11:33] JohnMcLear opened #3861 "Broken Pad: TypeError: r.dropdowns is undefined - Changeset related. - Waiting on review."
I finally have a clear bug that causes the r.dropdowns.

1. Minify is on w/ high maxage
1. Database is MySQL
1. Instance is medium traffic/volume but nothing concerning (loads super low).
1. Instance is runing in production mode.

## Steps to replicate
When user visits Etherpad the pad doesn't fully render.

## Things I tested.
1. .etherpad file can be exported from /export/etherpad
1. checkPad.js

[2020-04-13 11:35] JohnMcLear commented on #3861
Tasks to do
 - [ ] Discover which changeset is causing the pad to die.
 - [ ] Discover why that changeset is being accepted
 - [ ] Create better client/server side handling should a document get broken like this.

This is a very old / rare bug so it's nice to have debug capability but all in all there can always be times when a pad goes into a broken state, data is never 100% accurate, we should a

[2020-04-13 11:39] ezzra commented on #3853
me too :) Because I would like to have that available on other etherpad instances

[2020-04-13 12:09] alekso87 commented on #3860
Or how to block access to the etherpad by IP through a browser?

[2020-04-13 13:44] FredMa01 commented on #3175
Is there a plugin to delete versions ?

[2020-04-13 14:11] luixxiul commented on #3130
@sissieadmin did you happen to try this guide? https://github.com/ether/etherpad-lite/wiki/How-to-put-Etherpad-Lite-behind-a-reverse-Proxy

[2020-04-13 14:36] #3860 closed

[2020-04-13 14:43] JohnMcLear commented on #3858
3. Web only.  does NOT apply to API.
4. IMHO absolutely yes.
5. It's mentioned in the docs.  I guess if we hit the limit we could warn to logs / notify user?  I can't remember what I implemented.

[2020-04-13 14:45] JohnMcLear commented on #3858
3. done

[2020-04-13 15:01] alekso87 opened #3862 "Only one way to access to your etherpad - https + domain (say NO to IP address) and without 9001 port at the end (NGINX version)"
I hope it will be helping someone. I spent a couple of days resolving this task.

**nginx.conf**

[code]
In the block "server" added condition that helped me close access as I needed.

**credentials.json**
[code]
Yes, yes, it is necessary to assign such an IP address instead of 0.0.0.0, otherwise, access via the IP through the browser will still be open. I checked many options, only this one gave

[2020-04-13 15:03] JohnMcLear commented on #3858
5. we currently don't pass "reason" for upload failure, not sure I want to bring that logic in right now.

[2020-04-13 16:26] JohnMcLear commented on #3861
[code]
is the problem..

Changing it to
[code]

Solves the problem..

Task:
 - [ ] Discover how did atext become completely null?
 - [ ] Enforce atext is never stored as ``""`` but if it's ``""`` it gets stored as "\n"

Working full blob for curious..

[code]

[2020-04-13 16:46] muxator commented on #3862
@alekso87, I think you may want to review how server **socket binding** works.

This is not Etherpad related at all, it's just how every TCP server works on every platform. If you bind on `0.0.0.0`, the process will accept connections from everywhere. If you bind on a specific address (== the address of one of the IP interfaces of your server), the process will only accept connections arriving to

[2020-04-13 16:46] #3862 closed

[2020-04-13 16:47] muxator commented on #3835
Closed with 684f374eceb015389bd68eb2031d49de09c5a6a3.

[2020-04-13 16:47] #3835 closed

[2020-04-13 18:21] JohnMcLear commented on #3861
RE export not erroring, it's probably it wasn't erroring..  The server doesn't have a problem with completly empty contents.  It's only the browser that does..  My client side fix #3863 will do the job here and imho should be merged w/ 1.8.3 but I'd recommend further investigation to HOW atext of "" is even workable..  Like can a ``setText`` operation from the APi set pad contents to ``""`` or doe

[2020-04-14 00:57] muxator commented on #3858
I say we can close this, all the points were addressed in the discussion in #3833 and force-pushing there.

[2020-04-14 00:57] #3858 closed

[2020-04-14 09:27] JohnMcLear opened #3864 "Latest develop import"
I'm gonna do some polish on this today.

- [x] import errors should bubble up to user.
  - [x]  Max file size
  - [x] User has to contribute to pad before uploading -- Ideally just being present on a pad should be enough.

- [x] using lenient-import branch - PDF imports are not being properly decoded <-- I didn't have ``soffice or abiword`` set.
- [x] .Doc imports are not being properly decoded <-

[2020-04-14 09:31] muxator commented on #3864
Fine, I was thinking, indeed, about opening an issue about these UI polishings that need to be done now that the import has been reworked.

The black of feedback on failed import was indeed evident yesterday while testing. Thanks!

[2020-04-14 09:37] JohnMcLear commented on #3019
This is fixed.

[2020-04-14 09:37] #3019 closed

[2020-04-14 09:43] JohnMcLear commented on #3864
[code]

These should do it.

[2020-04-14 10:08] JohnMcLear commented on #3864
https://github.com/ether/etherpad-lite/pull/3865

[2020-04-14 10:13] JohnMcLear commented on #3864
I am just going to hide import functionality until their has been a contribution from that user.  Hide and say "you need to contribute to the pad prior to importing."  That seems logical.

[2020-04-14 11:01] JohnMcLear commented on #3864
Okay PR is in, please review.

[2020-04-14 11:06] Apromixately commented on #3430
Great to hear @JohnMcLear! Minding referencing a PR or just telling me how you fixed? Just curious. :)

[2020-04-14 14:14] JohnMcLear commented on #3430
@Apromixately I can't remember and need to focus on dev, sorry!

[2020-04-14 15:04] JohnMcLear commented on #3675
I don't think this is causing any issues tbh.  I'm +1 leaving things as they are.

[2020-04-14 15:07] JohnMcLear commented on #3087
Given that this is "mostly" fixed we can push this out of this release and onto another milestone? @muxator

[2020-04-14 15:16] JohnMcLear commented on #3563
TLDR; token is an abstraction of authorID so we don't have to always pass authorID? :)

``grep -rni "token" .``

Server side:
[code]

[code]

Most notable:

[code]

and

[code]

So ``token`` is a representation of an ``author``.

[2020-04-14 15:28] JohnMcLear commented on #3830
Looking into this now.

[2020-04-14 15:32] alekso87 opened #3866 "Console & Network errors in watching the pad"
Hi everyone! As soon as I created a new pad, I see the following picture. What could it be?

Server Ubuntu 18.04.4 LTS
Nodejs 12.16.2 LTS
Nginx

Etherpad - develop branch, up to date

Console log

<img width="1438" alt="console" src="https://user-images.githubusercontent.com/25965602/79241668-04cfe780-7e7c-11ea-8fb5-89a5585b1673.png">

Network log

<img width="1439" alt="network" src="https://user

[2020-04-14 15:45] JohnMcLear commented on #3830
Wait..  In settings.json

[code]

This is the default, what's the logic here?  Surely that's not a good default setting?! :D  cc @muxator any idea what the deal is here?

My method for initial testing is..

1. connect to pad.  Type stuff.
1. minimize browser.
1. killall node (makes server disappear)
1. wait a few mins (I'd love to know what the timeout is here)
1. tab back to browser, see if I hav

[2020-04-14 15:56] luixxiul commented on #3830
[code]

It was introduced here: https://github.com/ether/etherpad-lite/commit/009cd3124370d44a9c567332bf3be63826fd95b4#diff-8ab11a170627f11a32a1d642d7114743R126

[2020-04-14 15:57] JohnMcLear commented on #3830
Good news.  I can replicate.

1. connect to pad. Type stuff.
1. minimize browser. (probably not required)
1. put laptop to sleep
1. wake laptop up from sleep
1. tab back to browser, see if I have any msg.

What I expect to happen:
Go back to browser, see if it will reconnect after x seconds.

What happens:
It claims to be reconnected but typing anything sends bad changeset.

https://www.youtube.co

[2020-04-14 15:58] JohnMcLear commented on #3830
Okay thanks and note that @lpagliari is on other projects now so wont be able to fix this.  I don't think she "caused" the bug but I find that setting just weird..  It feels like it should be on by default...

[2020-04-14 16:05] tiblu commented on #3563
Thanks for the quick answer @JohnMcLear!

If I understand correct there is 1:1 `token` to author mapping.
I do not understand why `express_sid` could not be a non-session cookie and there would be `express_sid` to author mapping without the `token`?

Sorry if I'm being slow here.

Also, I think it's very important for us to to explain cookies in a way that a visitor of Etherpad can understand, be

[2020-04-14 16:12] luixxiul commented on #3830
Me too, no offense really :-)

[2020-04-14 16:24] ryanpitts commented on #3830
omg, I'm so sorry, I had this thread open in a tab and a reply typed out and never hit submit!

So, maybe my attempt at replicating wasn't as ridiculous as I thought! I'm so glad we aren't the only ones who've seen this. Thank you _so much_ for looking into it.

[2020-04-14 16:25] JohnMcLear commented on #3563
``express_sid`` isn't persistent?

[2020-04-14 16:28] tiblu commented on #3563
Thanks alot! @muxator do you have anything to add to this?

[2020-04-14 16:28] JohnMcLear commented on #3830
Sorry I have kids dumped back on me.  I have to jump off this now.

[2020-04-14 16:32] JohnMcLear commented on #3830
one hand hax.

1. connect  to pad
1. use clumsy to drop all packets
1. type smt
1. dsiable clumsy
1. after reconnwct tryu type agaiun
chanfset errpr

[2020-04-14 16:37] JohnMcLear commented on #3830
https://youtu.be/VFBcKDDpTd8

[2020-04-14 16:54] JohnMcLear commented on #3830
Okay cool I have a patch in that solves a huge chunk of the problem.

 - [x] Doesn't allow edits during reconnecting state.
 - [ ] Gets proper rev # of doc prior to submitting next Changeset.

If I can't solve item #2 I can always use the internal reload method to load the pad back into the page.

This should land tonight, dinner time now.

[2020-04-14 18:36] Franz-Heinz opened #3867 "Usage of google fonts not GPRS-compliant"
it seems that etherpad loads fonts from googles servers by default. This is a problem for usage in Europe, because there is no confirmation or even notice for users IN ADVANCE.

To me it seems, that the problem lays in **/src/static/css/iframe_editor.css** and **/src/static/css/pad.css**.

[2020-04-14 19:51] JohnMcLear commented on #3830
Okay I only have time for a temp fix that reloads the pad upon reconnect, it's not ideal but it works.

It's possible it doesn't fire on stale.

**It is a vastly better UX that what's currently in develop** but really the pad contents should reload without an entire page refresh.  At least an entire page refresh in Etherpad is cheap but still, it's hacky.

[2020-04-15 09:05] JohnMcLear commented on #3866
Your nginx config is wrong.  https://github.com/ether/etherpad-lite/wiki/How-to-put-Etherpad-Lite-behind-a-reverse-Proxy

[2020-04-15 09:05] #3866 closed

[2020-04-15 09:11] JohnMcLear commented on #3867
Err, yikes.  I do not remember doing this...   This is a big time no no from a privacy perspective and from a bundling perspective...  I'm testing against ``develop``

I looked in iframe_editor.css and don't see it.  In fact I see the fonts locally: https://github.com/ether/etherpad-lite/blob/develop/src/static/css/pad.css#L1287

I also changed font and didn't see any calls to any external resourc

[2020-04-15 09:11] #3867 closed

[2020-04-15 15:11] eloyesp commented on #3560
It seems to happen almost the same on the board.net instance (but going to revision 0 does not fix it :( )

[2020-04-15 15:26] JohnMcLear commented on #3560
Is board.net running latest develop?

[2020-04-15 16:23] ryanpitts commented on #3830
This is just fantastic, thank you!!

Seriously, just that change right there will eliminate so much heartache. (Well, "so much" is maybe overselling it because the silent disconnect issue feels relatively rare. But when you lose a bunch of work because you thought you were connected, it does feel pretty bad.)

[2020-04-16 00:20] eloyesp commented on #3560
I'm not sure and I don't know if there is an endpoint to check that.

[2020-04-16 00:58] eloyesp commented on #3560
I'm not sure, I've submitted an issue there https://git.fairkom.net/hosting/board.net/issues/39 .

[2020-04-16 03:56] opriz opened #3871 "How etherpad handle client's missed changes when accept this client's new changes?"
Hi there,
I'm learning how etherpad works.I noticed that when a client submit a new change,the processes are like:
1. client  A send USER_CHANGES.(baseRev=m)
2. server check baseRev==head, if so, keep this changeset, if not, use changeset.follow() make a new changeset.
3. make a new revision out of the changeset and update headRev. (newRev=++headRev , and now headRev==n)
4. go through all clients,

[2020-04-16 06:22] seballot commented on #3641
Hi, just fixed it inside #3744

[2020-04-16 07:34] opriz commented on #3871
I realized I've made a mistake. In the send-message loop,if the client A is far behind server, the missed revision's author cannot be A's author, so the loop only send ACCEPT_COMMIT to the last revision.

What a graceful mechinism!

[2020-04-16 07:34] #3871 closed

[2020-04-16 07:47] opriz opened #3872 "What if client lose NEW_CHANGES or ACCEPT_COMMIT message?"
On the server side , server send messages and update session rev directly:
[code]

What if client missed one of these messages? In my comperhension, since clients always only apply rev+1, once missed one message, client may stuck forever.

client side:
[code]

[2020-04-17 11:35] ezzra commented on #3853
by the way, I found a workaround if its useful to anyone else. You can just check the content-length header of the json export (export/etherpad), if that changes between two requests, something happened in the history.

[2020-04-17 12:40] JohnMcLear commented on #3853
@ezzra yea that's always a safe way to do it.  An .etherpad file will always grow (after 10 revisions afaik).  The only exception is if someone imports a rev0 ``.etherpad`` file to a pad with < 10 revisions.  Super edge case but worth being mindful of.

[2020-04-17 13:07] alekso87 opened #3875 "Own icon is not displayed in the pads themselves"
Hi everybody!

index page
<img width="169" alt="Screenshot at Apr 17 16-01-19" src="https://user-images.githubusercontent.com/25965602/79572067-fb858b80-80c4-11ea-98a2-2d06b9da963b.png">
pads page
<img width="260" alt="Screenshot at Apr 17 16-13-05" src="https://user-images.githubusercontent.com/25965602/79573029-a34f8900-80c6-11ea-9d5c-90373f3dfdfd.png">
credentials.json
[code]

Cache cleaned, di

[2020-04-17 13:27] alekso87 opened #3876 "Remove the name of the pad from the title"
Hi everybody!

Is it necessary to see the name of the pad in the title? The character set does not decorate the title. I think it's more important to see the name of the project there right away than to push this project name to the background.

<img width="260" alt="Screenshot at Apr 17 16-13-05" src="https://user-images.githubusercontent.com/25965602/79574048-3e952e00-80c8-11ea-95aa-64f5f9876e6c

[2020-04-17 14:36] ezzra commented on #3853
why only after 10 revisions? Because changes are always appended, the content-length changes with every revision (and because its in the header, you just need to make a cheap head request without loading the etherpad file which can become quite large)

[2020-04-17 15:06] JohnMcLear commented on #3853
@ezzra That's the logic I wrote, to stop .etherpad files getting written over pads which have activity.  The logic is that an .etherpad file can always be imported into a new pad.  The reasoning is for legal / auditing so an .etherpad is always a ~~~100% true representation of a pad.

[2020-04-17 20:41] #3711 closed

[2020-04-17 21:22] muxator commented on #3087
Yep, postponing.

[2020-04-17 22:17] JohnMcLear commented on #3087
Just to confirm the initial pull request and fix is in yeah?  My fix allowed caret to pass back over line one time then failed.

[2020-04-18 07:51] seballot opened #3880 "Username get defaulted to "Me" when reloading the page"
Did I misunderstood something?

![username](https://user-images.githubusercontent.com/17404254/79631495-135b1f00-815a-11ea-9a88-eef86bbb7e19.gif)

[2020-04-18 08:24] seballot commented on #3880
Woops, false alert, was some trailing test code on ep_webrtc !

[2020-04-18 08:24] #3880 closed

[2020-04-18 13:22] JohnMcLear commented on #3876
Plugins exist to solve this problem.

Go to the /admin/plugins page and search for title

Or look here: https://static.etherpad.org/plugins.html

[2020-04-18 13:22] #3876 closed

[2020-04-18 13:23] JohnMcLear commented on #3875
Hrm, will test..

[2020-04-18 13:42] JohnMcLear commented on #3875
Yea confirmed, the favicon stuff needs a rewrite.  It's an easy fix.

 - [ ] URLs wont work.
 - [ ] The location of a new favicon is not specified, it should be.
 - [ ] The Settings.template.json file is kinda lame at describing things.
 - [ ] Test with / without skins.

I created a PR showing where needs to be worked on.  I'm not going to work on this because it's an ideal low hanger.

[2020-04-18 13:44] JohnMcLear commented on #3872
Doesn't the client check that the rev is in sequence?  IE

Client has 1,2,3,4 then gets 6, it will say, nope.  That's not right and wont apply that changeset.

[2020-04-18 14:11] alekso87 commented on #3876
@JohnMcLear Thanks. Just do not understand why to do this a separate plugin, if it can be fixed globally. I do not see any use in the title of the pad in the title.

[2020-04-18 14:46] JohnMcLear commented on #3876
@alekso87 because you can visit /p/whatever and it will make the title whatever.

http://video.etherpad.com/p/whatever for example

It is incredibly useful when you bookmark etc.  You don't have to use the newpad endpoint..  Also on index.html you can set padId..

[2020-04-18 15:08] micah commented on #3781
Is it possible to have a release that only fixes the critical, security bugs, and doesn't do the entire nodejs migration? The reason I ask is because those fixes seem important to get out there quickly, and combining those with the nodejs migration will make it harder for us to deploy the new version.

Thanks!

[2020-04-18 15:09] alekso87 opened #3882 "Error: Couldn't find translations for ru-RU"
Hi everyone!

<img width="597" alt="Screenshot at Apr 18 17-58-48" src="https://user-images.githubusercontent.com/25965602/79641202-acac2480-819e-11ea-8d4e-e80ee44fc667.png">

[2020-04-18 15:30] alekso87 opened #3883 "Wrong url address when I use read only mode"
Hi everyone! I use this config https://github.com/ether/etherpad-lite/wiki/How-to-put-Etherpad-Lite-behind-a-reverse-Proxy#hosted-at--with-friendly-urls-for-pads, a little modified for myself.
![33](https://user-images.githubusercontent.com/25965602/79641711-e3376e80-81a1-11ea-9172-62076eed092a.gif)

[2020-04-18 15:32] JohnMcLear commented on #3781
What do you mean by "entire nodejs migration"? :D

[2020-04-18 18:12] opriz commented on #3872
@JohnMcLear
I meant this kind of circumstance:
Server has 1,2,3,4,5  Client has 1,2,3 then client submits 4 which server applies as 6, then server should send 5,6(accept) to client. But if the 5 was lost, 6 will be reject.However server thinks 5,6 are all sent successfully as I see the code it just update `sessioninfos[sid].rev` directly. Then server will only send 7,8... which will all be reject

[2020-04-18 19:31] JohnMcLear commented on #3883
Works fine here: https://video.etherpad.com/p/testreadonlyURI

Possibly a setting?

Video.etherpad.com is running nginx reverse proxy too..

[2020-04-18 19:37] JohnMcLear commented on #3882
![image](https://user-images.githubusercontent.com/220864/79669576-6366cf80-81b4-11ea-8cd9-f29c112b9114.png)

[2020-04-18 19:38] JohnMcLear commented on #3882
file name is ``ru.json``

[2020-04-18 19:38] JohnMcLear commented on #3882
Possibly related to https://github.com/ether/etherpad-lite/issues/3404 ?

[2020-04-18 19:40] JohnMcLear commented on #3781
Ah okay well I guess a specific one worth addressing is:

https://github.com/ether/etherpad-lite/issues/3404

https://github.com/ether/etherpad-lite/issues/3882

Afaik it should be trying to load ru.json if ru-RU.json is not available?

It's probably an easy fix and a good one to warm up on? :)

-----Original message-----
From: micah <notifications@github.com>
Sent: Saturday 18th April 2020 16:09

[2020-04-18 19:46] alekso87 commented on #3883
@JohnMcLear I see, but i use settings without /p/

[2020-04-18 19:51] JohnMcLear commented on #3872
To be honest, I can't remember..  If you are going through a write up of the functionality in the wiki would be awesome.  I just did one for attributes: https://github.com/ether/etherpad-lite/wiki/How-does-Etherpad-go-from-a-Pad-to-other-formats-and-vice-versa.

Something similar to that for revisions would be useful

[2020-04-18 19:53] alekso87 commented on #3882
Browser - Chrome
Browser language - Russian
HTTP_ACCEPT_LANGUAGE - ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7

and

<img width="1105" alt="Screenshot at Apr 18 22-49-01" src="https://user-images.githubusercontent.com/25965602/79669842-51daf300-81c7-11ea-9961-f1596b93180f.png">

[2020-04-18 19:55] alekso87 commented on #3882
Browser - Firefox
Browser language - English
HTTP_ACCEPT_LANGUAGE - en,de;q=0.7,en-US;q=0.3

all is ok

[2020-04-18 19:55] JohnMcLear commented on #3883
Afaik the read only URI is computed based on the location of ``/p/``, I think you would need to look at the logic around that and compute it from a setting or so?  Are you hoping to hack on some of this stuff or just making issues for now?

I just don't want them to go into a black hole because I wouldn't consider this a bug but a quirk of your specific deployment so for core devs it's gonna be lo

[2020-04-18 19:57] JohnMcLear commented on #3882
Yea, I mentioned that if ru-RU file is not available it should always fall back to ``language.substring(0,1)``, it's an easy fix I have put someone on it.

[2020-04-18 20:07] alekso87 commented on #3883
I followed the instructions from your wiki. I like this setting, where there are no extra parameters in the url.

I showed that with this configuration and the inclusion of "read-only", the URL breaks and there is no mention of a domain.

And who loves bugs?

[2020-04-18 20:34] muxator commented on #3883
@alekso87, I am sure there is some quirk somewhere in the code.

If possible, try to find it, and send a PR.

If it takes too much time, or happens to be too difficult, please [update the wiki page](https://github.com/ether/etherpad-lite/wiki/How-to-put-Etherpad-Lite-behind-a-reverse-Proxy#hosted-at--with-friendly-urls-for-pads) mentioning the problem you just found. At least this would not be sur

[2020-04-18 20:36] muxator commented on #3875
Agreed. @alekso87, would you like to give it a try? That could help us.

[2020-04-18 20:39] opriz commented on #3872
That's great if I can make my contribution.
I'm figuring out how etherpad works. And I'm wondering how this circumstance been handled or here may have a logical problem?
Once I get the point, I'd love to add to wiki.

[2020-04-18 21:41] alekso87 commented on #3883
@muxator what PR can be used for this fix?

[2020-04-18 22:59] JohnMcLear commented on #3883
I think what @muxator id saying is that you will need to create a pr to address this bug.

[2020-04-19 01:32] muxator opened #3884 "What's wrong with the scroll tests? They were removed but why? Can they be fixed. TLDR; not easily."
Thanks to #3854 we now have the CI status very prominently displayed in the homepage.

I think it is important to have those tests passing.
On my PC, the frontend scroll test keeps failing. In Travis there are many more failures. Maybe they are related to Saucelabs having problems?

@JohnMcLear, you are the test man: what's wrong here?

[2020-04-19 06:31] ukcb commented on #3563
Small hint: If you are already there, you could also replace the domain `myinstance.com` with `example.org`. This domain is for use in illustrative examples in documents. You may use this domain in literature without prior coordination or asking for permission.

[2020-04-19 06:43] JohnMcLear commented on #3884
I need to comment out the scroll tests for now.  That's all.  The reason they are broken is because browsers restricted simulating certain type of arrow key events.

[2020-04-19 12:13] JohnMcLear commented on #3763
FWIW for now I dropped it to just test in Firefox.  We're awaiting a response from Saucelabs to why things don't run properly.

[2020-04-19 13:00] iquidus commented on #3882
Having some trouble reproducing this.

Related: https://github.com/ether/etherpad-lite/blob/develop/src/static/js/html10n.js#L186

[2020-04-19 13:11] JohnMcLear commented on #3882
hrm, the OP is another dev so you could just push back to him to add some debug/logging.

He seems to know how to do basic stuff so prolly fine to push back to him.

It might be that we are sending the error but actually handling it gracefully?

-----Original message-----
From: Luke Williams <notifications@github.com>
Sent: Sunday 19th April 2020 14:00
To: ether/etherpad-lite <etherpad-lite@norepl

[2020-04-19 15:14] iquidus commented on #3882
ok, i am able to replicate in firefox using ru-MD on the home page. The issue appears to go a little deeper than originally thought. ru-RU -> ru is being handled correctly as is (by line 186 linked above). However its then getting set back to en by this line here

https://github.com/ether/etherpad-lite/blob/develop/src/static/js/l10n.js#L7

studying further.

[2020-04-19 15:36] lweingart opened #3900 "etherpad-lite 1.8.0 (48b0290) and Safari wrong display"
Hi,

I have recently installed etherpad-lite and this is how it looks like on Safari 13.1 macOS 10.15.4

<img width="1920" alt="Screenshot 2020-04-19 at 16 01 15" src="https://user-images.githubusercontent.com/4840059/79691845-0a557500-8262-11ea-8a17-fd8099e40e51.png">

Although the content of the file is very long, it remains in a very small part of the screen with a scroll bar appearing on the r

[2020-04-19 16:06] #2140 closed

[2020-04-19 16:06] #3779 closed

[2020-04-19 16:27] muxator commented on #3563
Done. Thanks for the hint @ukcb.

@tiblu, could you make a PR for the documentation, so we can work on that one?

[2020-04-19 16:29] muxator commented on #3675
Low priority, let's keep dragging it to the next release (**1.8.4**) :smile:

[2020-04-19 16:34] muxator commented on #3781
@micah, starting from 2020, nodejs 8 is not supported by its developer (https://nodejs.org/en/about/releases/). The deprecation has been in the roadmap for quite a long time.

Moving to a different node version is really easy, if you are ok using the binary release from https://nodejs.org/en/download/ instead of your distro's.

It's really unzipping a tarball and putting a symlink to `node` and `n

[2020-04-19 17:44] JohnMcLear commented on #3884
Awaiting merge.  That was a nightmare of a job taking far too long due to some additional tests being craftily injected by ``.travis`` and by sauce labs being inefficient (I'm being polite).

[2020-04-19 17:56] JohnMcLear commented on #3861
FWIW this problem is what was causing the tests to fail too @lpagliari did a clearPad operation which set pad contents to "" causing everything post that operation to fail :|

[2020-04-19 17:59] JohnMcLear opened #3902 "Update jQuery to 3 - Ready to review"

[2020-04-19 17:59] JohnMcLear commented on #3900
Try on https://video.etherpad.com - do you get the same thing?  cc @seballot

[2020-04-19 18:01] JohnMcLear commented on #3883
Nice job on getting a PR in!  We will review ASAP.  We're currently in release mode so give us a few days to get this release out please <3

[2020-04-19 18:05] lweingart commented on #3900
Hi,
I tried on the link you gave me and created a pad, and yes, I get the same thing unfortunately

Result on Safari:
<img width="1920" alt="Screenshot 2020-04-19 at 20 03 23" src="https://user-images.githubusercontent.com/4840059/79695763-f5381080-8278-11ea-9f5f-5c2ae31fc554.png">

Result on Firefox:
<img width="1920" alt="Screenshot 2020-04-19 at 20 04 59" src="https://user-images.githubusercont

[2020-04-19 18:07] JohnMcLear commented on #3900
Bollocks.  Hopefully @seballot can get to this ASAP.  Our automated Safari test runner isn't working so that doesn't help ;\

[2020-04-19 18:36] alekso87 commented on #3883
@JohnMcLear I have not yet worked in fork mode, so in the first PR I added too many commits :( Now I want to work out a scheme for myself in which I will not push extra commits into the PR.

[2020-04-19 18:41] JohnMcLear commented on #3883
@alekso87 I feel your pain.  Git can be a fickle mistress.

[2020-04-19 19:58] seballot commented on #3900
Arf, I'm on linux, no way to test that myself (well, could install a VM, install safari, install etherpad...) but I think it's a small thing, so if someone could have a look? My guess is that we should add

`#editorcontainerbox { height: 0 }`

and/or

 `#editorcontainerbox #editorcontainer iframe { height: 100% }`

You can just add those rules from the developer console in the browser, @lweingart

[2020-04-19 20:40] JohnMcLear commented on #3900
@seballot I think I can replicate a problem in FF

https://video.etherpad.com/p/fooxxxxxxxxxxxxxxx

Scroll bar is visible when it shouldn't be...

[2020-04-19 20:43] JohnMcLear commented on #3900
If I delete "importexport" , "settings" etc. from the dom I get less issues...  Not sure why they are affecting scrollbar when not visible.. ?

[2020-04-19 20:56] JohnMcLear commented on #3900
This is in Chrome https://video.etherpad.com/p/fooxxxxxxxxxxxxxxxa

![image](https://user-images.githubusercontent.com/220864/79699620-8e225800-8288-11ea-9cb9-c4c77ddebbf9.png)

[2020-04-19 20:56] JohnMcLear commented on #3900
Notice the white space at the bottom of the pad...  ;\

[2020-04-19 21:19] lweingart commented on #3900
@seballot

I added
#editorcontainerbox { height: 0 }
and
#editorcontainerbox #editorcontainer iframe { height: 100% }

in src/static/cas/pad.css

and it does indeed seem to fix the issue

[2020-04-19 21:47] muxator commented on #3902
Super cool!

We'll bump library revisions immediately after releasing **1.8.3**. I would also like to update Socket.IO, for example.

[2020-04-19 22:06] muxator commented on #3900
Let's converge on a PR and we'll include it in **1.8.3**. I cannot help because I am no mac user, too.

Thanks @lweingart for freeing us of the hassle of having to issue an hotfix the day after the release :)

[2020-04-19 22:29] muxator commented on #3861
@JohnMcLear, can we link similar issues here for future reference?

[2020-04-19 22:31] JohnMcLear commented on #3861
Sure :)

[2020-04-19 22:52] muxator commented on #3861
#3863 is merged. Let's add some references to similar issues from the past and close this.

[2020-04-19 23:48] #3804 closed

[2020-04-20 05:55] seballot commented on #3900
Thanks @lweingart for testing ! So I pushed the fix, once merge, could you try again @JohnMcLear ? Strange you got this on firefox and chrome also...

I will create a ticket for general browser compatibility

[2020-04-20 05:58] seballot opened #3907 "New FlexLayout / Browser compatibility"
We should test it seriously on most possible browser. I guess there are some tools to do that online, if you know some please inform me :)

Also, I think we should add a prefixer in our assets pipeline.
Prefixer convert css rule like `display: flex` to something like
[code]

How the assets pipeline works for now? Where does the css minify takes place? If you could point me the right direction woul

[2020-04-20 07:55] luixxiul commented on #3907
Maybe it is too late but how about implementing [`normalize.css`](https://github.com/csstools/normalize.css)? It would definitely break the existing plugins layout so I am not quite if it is right time to do so...

[2020-04-20 08:10] seballot commented on #3907
Hi ! thanks but that is different, and I already added it along with refactoring ;)

https://github.com/ether/etherpad-lite/blob/develop/src/static/css/pad/normalize.css

[2020-04-20 08:47] #3900 closed

[2020-04-20 09:02] JohnMcLear commented on #3907
![image](https://user-images.githubusercontent.com/220864/79734065-03744400-82ee-11ea-8a57-213a3a8542fd.png)

Note the white bar at the bottom clipping the pad text

Firefox on Windows

[2020-04-20 09:06] luixxiul commented on #3907
by the way @JohnMcLear 幸せの肉 = Meat of happiness / Happy Meat 😄

[2020-04-20 09:26] muxator commented on #3907
Have a look at [src/node/utils/Minify.js](https://github.com/ether/etherpad-lite/blob/4ceb42603e2c9d4051df1a9140728ea30f2f833f/src/node/utils/Minify.js).

That specific part (along with the "peculiar" startup sequence and cache handling) is one of the parts of thecodebase that really show their age.

I won't spend more than a couple of lines on that file. Anything more complex deserves taking the

[2020-04-20 09:43] lweingart commented on #3900
@seballot  I pulled the repo and the issue seems to be fixed

Thanks a lot guys

[2020-04-20 09:45] JohnMcLear commented on #3907
Hahah no way I worked in Nagoya and Tokyo for a bit and I never was told this!  Japanese politeness I guess!  Awesome translation!  :P

[2020-04-20 12:52] tiblu commented on #3563
@muxator Sure, I can PR this.

* I feel like `token` explanation is vague. We discussed it with @JohnMcLear, in this thread, but not sure if we came to the right conlusions. 3rd opinion would help.
* `sessionID` - that is not set as a cookie at all by EP itself? You call HTTP API `createSession` and get back the session id in the response. Then it's up to the API client to store the `sessionID` so

[2020-04-20 19:12] JohnMcLear commented on #3907
@seballot did a number of fixes on this today but we're still not ready for release, most bugs are now in Safari so I gave Sebastian my Saucelabs credentials and he will be able to debug there :)

[2020-04-20 23:30] muxator commented on #3563
Yep. Not my design, but my conclusion is the same.
I re-did the whole tour of generating a session via command line. I still do not have an answer to your "somewhere", "somehow". I'll update this answer if I find something.

1. call `createAuthorIfNotExistsFor`, obtain `authorID`:
[code]

2. call `createGroupIfNotExistsFor`, obtain `groupID`.
[code]

3. call `createSession`, obtain a `sessionID` *

[2020-04-20 23:59] muxator commented on #3563
@tiblu, this are my thoughts after re-reading the table above and the code:

- when the documentation says that `token` is [used for public pads](https://github.com/ether/etherpad-lite/blob/5e44a94d2a35d3ce62fa718805453d0e380e599d/src/node/db/SecurityManager.js#L33) it is in error. That cookie is used, always, by the web interface (opposed to the HTTP API). You can see it looking here:
  https://g

[2020-04-21 00:03] muxator commented on #3566
We can close this issue, now that the first point release (**1.8.3**) after the async rewrite (**1.8.0**) is ready to be released, and the few actively maintained plugins have been adapted.

Thanks.

[2020-04-21 00:03] #3566 closed

[2020-04-21 00:06] muxator commented on #3781
Closing this ticket. The missing items for the release are being tracked [in the 1.8.3 milestone](https://github.com/ether/etherpad-lite/milestone/13).

[2020-04-21 00:06] #3781 closed

[2020-04-21 00:15] alekso87 commented on #3883
@JohnMcLear @muxator Can i close current PR and open a new from another branch? I again added an unnecessary commit :( I needed to do PR from the branch. Sorry

[2020-04-21 00:31] muxator commented on #3907
@JohnMcLear, ack.
@seballot, feel free to close when this is done.

I am working on the other items in the meantime.

[2020-04-21 01:28] muxator commented on #3861
I am not finding anything related to `r.dropdowns` searching in the issues.
Do we have something, @JohnMcLear?

Otherwise please close.

[2020-04-21 02:02] alekso87 opened #3911 "package-lock.json need to update into repo?"
Hi everyone! I am at a loss of what to do in this case.

1 - cloned a development branch to my server
2 - went into the src folder and ran the 'npm outdate' and 'npm update' commands in order to update the dependencies to the allowed ones
3 - ran the 'git status' command and saw the following result

<img width="768" alt="Screenshot at Apr 21 04-48-17" src="https://user-images.githubusercontent.co

[2020-04-21 02:38] muxator commented on #3911
Hi @alekso87. Ignore the modifications in package-lock.json.

Once #3778 is implemented everything will be easier.

**p.s.**: your point 2 is not very clear (and is not something you are supposed to do when installing Etherpad).

[2020-04-21 06:08] luixxiul opened #3912 "How to restore the database?"
Since a couple of days I was trying to test how to restore the database.

I successfully set up etherpad-lite instance with mysql (mariadb) following the manual on Wiki: https://github.com/ether/etherpad-lite/wiki/How-to-use-Etherpad-Lite-with-MySQL. I dumped the database with `mysqldump` and tried to import that to another VM instance with the same mariadb user/password as the main machine. After

[2020-04-21 09:59] JohnMcLear commented on #3861
It can be closed.  Data is here for posterity.

[2020-04-21 09:59] #3861 closed

[2020-04-21 11:27] leinadlime commented on #2843
Probably, orgmode.org/ is meant.

This is a really nice way for organizing plaintext,
one feature allows un-/folding text sections,
via simple markup:

* chapter 1
** subchapter a
   here comes some  texxt
** subchapter b

.... and so on

Would love to be able to synchronize an "org-mode"-file with these pads... that's how i arrived here.

there are many different parsers, and web-ui's
- https://g

[2020-04-21 13:20] alekso87 commented on #3911
@muxator Got it! Thanks.

[2020-04-21 13:22] seballot commented on #3907
Hi ! Thanks @JohnMcLear, saucelabs was quite useful (even it's soooo slooooow !!)

I made some fix, and from my tests new UI works from

Firefox 30 (current 75)
Edge 16 (current 80)
IE -> not working, but etherpad is not working at all, even with old layout
Chrome 49 (current 81)
Safari 9 (current 13)

We are loosing some browser compatibility, old version was working for example with safari 8. Bu

[2020-04-21 13:24] seballot commented on #3907
Oh and I tried to add css autoprefixer, but was not working... And actually I think it would not have help so much, maybe getting works 2 or 3 old browser version

[2020-04-21 13:34] JohnMcLear commented on #3907
Merged, live on video.etherpad.com

[2020-04-21 13:43] JohnMcLear commented on #3907
One last bug

If you deny access to the camera, the white pad area ends a significant distance from the text chat column.

[2020-04-21 13:47] JohnMcLear commented on #3907
![image](https://user-images.githubusercontent.com/220864/79873480-11ee5880-83df-11ea-948b-814f873a43cb.png)

[2020-04-21 13:48] seballot commented on #3907
yep this is the comment section

[2020-04-21 13:49] JohnMcLear commented on #3907
I think this is more of an ep_webrtc bug?

[2020-04-21 13:49] JohnMcLear commented on #3907
okies

[2020-04-21 13:51] JohnMcLear commented on #3907
looks closable then :) good job!

[2020-04-21 13:54] muxator commented on #3907
I think I hit a nasty bug when importing.

Right now I am not at my PC, I'll post a screenshot asap.

[2020-04-21 13:56] seballot commented on #3907
oh yes, content is duplicate in two column, you have the same? quite funny

[2020-04-21 14:02] seballot commented on #3907
oh and actually my last commit break something, arf it's because locally even with force refresh, my browser still load css from cache inside the iframe editor, so we can not longer scroll the pad ! Fixed, taking care of import now

[2020-04-21 14:04] JohnMcLear commented on #3907
![image](https://user-images.githubusercontent.com/220864/79875314-6692d300-83e1-11ea-8b65-af7ee4740d96.png)

this is hte no scrollbar bug just for ref.

[2020-04-21 14:05] JohnMcLear commented on #3907
![image](https://user-images.githubusercontent.com/220864/79875394-80ccb100-83e1-11ea-92af-8391a0de7037.png)
The import bug =D  Can't believe test runner didn't spot that... ;/

[2020-04-21 14:06] JohnMcLear commented on #3907
Also after "import now" shouldn't the popup close?  Minor issue.  Will fix the markdown item in the list..

[2020-04-21 14:20] seballot commented on #3907
[code]

[2020-04-21 14:28] seballot commented on #3907
but I wonder if there will be unattended consequences of removing this line?

and for closing the popup, good idea
[code]

[2020-04-21 14:44] JohnMcLear commented on #3907
// if(directDatabaseAccess) pad.switchToPad(clientVars.padId);

``directDatabaseAccess`` is used for ``.Etherpad`` file imports.

``pad.switchToPad(clientVars.padId);`` allows the user to import a ``.etherpad`` file without forcing a refresh.

``directDatabaseAccess`` should be false for all but ``.etherpad`` file imports afaik...

[2020-04-21 14:51] JohnMcLear commented on #3907
@seballot for some reason ``directDatabaseAccess`` is ``undefined`` but returning true...    Something wrong here..  Continuing investigations.

[2020-04-21 14:52] JohnMcLear commented on #3907
``
      console.log(typeof directDatabaseAccess)``
Is returning string, lolwtf.

[2020-04-21 14:55] JohnMcLear commented on #3907
[code]
Is the fix I used for html et al.  Will now fix the ``pad.switchToPad`` issue

[2020-04-21 14:59] seballot commented on #3907
Great thanks ! don't forget to add the line of code to close the popup :)

[2020-04-21 15:22] JohnMcLear commented on #3907
I put a fix together which is ungraceful but works:
https://github.com/ether/etherpad-lite/pull/3915

Ideally import would never refresh the browser but for now it does the job to get 1.8.3 out the door.

[2020-04-21 15:43] mrtopf commented on #3731
just fyi: We have this now too on a 1 week old install at https://yopad.eu in some pads. It's a heavily used instance though and we have some plugins installed.

It seems to be the same error message when loading a pad:

[code]

Some messages have a userId, others do not and the userName is `null` in this case:

[code]

If there is anything I can help to solve the underlying issue please let me kn

[2020-04-21 16:59] JohnMcLear commented on #3731
@mrtopf can I get a link to some pads w/ teh problem please?  Also this is an old version of etherpad, please pull latest develop branch :)  Thanks!

[2020-04-21 17:45] aboettger-tuhh opened #3916 "Application crash"
Version 1.8.0

[code]

[2020-04-21 20:12] muxator commented on #3916
This specific error seems very low level, almost at the level of the mysql driver.

I'd definitely suggest to either upgrade to the current development branch, or wait a few days and update to **1.8.3**. There will be a lot of improvements, especially regarding mysql.

[2020-04-21 20:16] muxator commented on #3778
The proposal is at the start of this ticket. :smile:

This is definitely needed, but cannot be done in **1.8.3** because the plugin installation mechanism is complex to understand, and I do not want to risk to break it.

In the meantime, two more users got confused (#3911) by our startup procedure, or they could have benefitted from a clear error in case their dependencies are broken (#3916).

[2020-04-22 01:04] muxator commented on #3711
[fastRun.sh](https://github.com/ether/etherpad-lite/issues/3711#issuecomment-599135831) was committed in 8956efc4ae020bb75663be32b73de6fc8d36597b.

The final nail in the coffin for this will be when we will start using `npm ci` instead of `npm install` in `installDeps.sh`. The RFC is #3778, hopefully scheduled for **1.8.4**.

[2020-04-22 01:21] muxator commented on #3563
@tiblu: I think we can open a PR and move on from there.

It's better if you open the PR, because I can push on top of that. You wouldn't be allowed to push on top of something started by me.

After it's done, I'll squash the modifications and pull in the PR.

Thanks

[2020-04-22 01:37] muxator commented on #2775
I've just tested everything from scratch.

Recap:

| Action | Current behaviour<br>(c6cb253f7632, 1.8.3 pre-release) | If #3802 is merged |
| --- | --- | --- |
| **Middle click** on hyperlinks | opens the link in a new tab | **does nothing** |
| **CTRL+V** inside hyperlinks | **does nothing** | pastes the text |

Basically it's a trade off.

Personally I do not use **middle click**, and would pref

[2020-04-22 05:13] meaz opened #3919 "Skin builder: add coma in resulting code"
When using Skin builder, you get the code to copy in settings.json
However, in the provided there is no coma at the end.
For example, you get `"skinVariants": "super-light-toolbar light-background super-light-editor"`

But when you copy this in the settings, if you don't add a coma, you then got an error.

So I suggest to directly provide the coma in the code you got from Skin builder, so  `"skinV

[2020-04-22 10:36] JohnMcLear commented on #2775
We could always make this a user setting?

[2020-04-22 11:39] tiblu commented on #3563
@muxator Created the PR for docs - https://github.com/ether/etherpad-lite/pull/3921

* Could not find a way to test the docs generation. Checked for Travis files and package.json for documentation generation scripts, but could not find how docs are generated.
* Sorry for the initial PR, it contained more changes than I wanted. Investigating why our fork has additional changes compared to Etherpads

[2020-04-22 11:45] tiblu commented on #3563
@muxator OK, found out what changes are in our fork that are yet not merged to Etherpad "develop" - https://github.com/ether/etherpad-lite/pull/3791

[2020-04-22 12:06] seballot commented on #3907
Nop nothing else under the radar for me !

[2020-04-22 12:16] slel commented on #3907
Any chance to revisit #2671?

[2020-04-22 12:18] slel commented on #2671
On CoCalc the icons are now
- a magnifying glass with a minus sign to decrease font sise
- a magnfiying glass with a plus sign to increase font size
I use it for remote teaching, it's very convenient to be able
to make everything tiny so that the menus and buttons take
very little space, but then increase the font size so that the
parts students care about are very readable.

[2020-04-22 13:05] JohnMcLear commented on #2671
@slel is that running latest develop?  What plugin?  IUs this with ep_font_size

[2020-04-22 13:13] JohnMcLear commented on #2671
@slel I checked using ep_font_size against develop and it looks fine.  I see people still want the ability to change ``zoom`` in The settings drop down?

[2020-04-22 13:19] JohnMcLear commented on #2671
I added more sizes to ep_font_size

[2020-04-22 13:26] JohnMcLear commented on #2671
I also realized you guys might be running older versions..  Since 1.8.3 (develop) the UI scales a LOT better.

![image](https://user-images.githubusercontent.com/220864/79987416-4a586a00-84a5-11ea-9df5-d87dfa7c63e3.png)

[2020-04-22 13:28] JohnMcLear commented on #2671
@seballot I think the request here might be that the buttons hit a specific size (based on browser zoom) then don't take any more space?

I guess to avoid this extreme

![image](https://user-images.githubusercontent.com/220864/79987547-78d64500-84a5-11ea-97cf-007fe73021b3.png)

[2020-04-22 14:20] seballot commented on #2671
mmm, I think if people want to increase the size (by zooming the page), they want to increase all sizes. If they cannot read a line with standard font-size then they cannot read the icon of the button (which is main size)

And if they want to do such extreme, let's leave them :)

[2020-04-22 14:38] muxator commented on #3919
I think it makes sense. 90% of the times the comma will be needed.

@seballot, do you agree?
@meaz, write a small PR.

[2020-04-22 14:44] seballot commented on #3919
Yep !

[2020-04-22 16:56] jmaupetit commented on #3848
Hi :wave:

We (OpenFUN) have developed a stateless Docker image for `etherpad-lite`: https://github.com/openfun/etherpad-docker

We are running this image over k8s (OKD) and it's running fine in production (see https://pad.education), but we are suffering from websocket issues while trying to scale our pods. We've drafted a redis-based abstraction layer to address this, but unfortunately, not all

[2020-04-22 17:51] JohnMcLear commented on #3848
Pad.education is not loading pads?

Happy to help if I can, what's your schedule look like?

[2020-04-22 18:17] jgribonvald commented on #3456
I'm getting the same error on debian stretch when I stop the process only

[2020-04-22 19:01] JohnMcLear commented on #3456
Is this if you ``kill`` the abiword PID?

[2020-04-22 19:19] jmaupetit commented on #3848
No, it is loading pads! But we are only running one etherpad instance and we cannot scale "the kubernetes way" (_i.e._ by adding more replicas of the app and route requests with a round-robin algorithm).

At first, I thought this was only due to websockets, and thus we've tried to use a `socket.io-redis` adapter so that an etherpad instance is not tied to a client. But, it is not working as some e

[2020-04-22 19:50] muxator commented on #3848
@jmaupetit, right now, the most pragmatic way of horizontally scaling Etherpad is sharding on the pad names.

[2020-04-22 20:02] #3919 closed

[2020-04-22 20:02] muxator commented on #3919
Done. Thanks.

[2020-04-22 20:13] muxator commented on #3907
Ok thanks. I am closing this issue, let's focus on #3569

After solving that one, we have only a documentation change and then we can release :partying_face:

@seballot, would you be ready to work on the website (https://github.com/ether/ether.github.com/issues/30)? Simply updating the screenshots would be more than enough for now.

[2020-04-22 20:13] #3907 closed

[2020-04-22 20:46] jgribonvald commented on #3456
when i kill etherpad process and even if no pad are in use

[2020-04-22 21:29] JohnMcLear commented on #3456
I mean if you kill Etherpad abiword should stop...  I still don't understand this issue.

[2020-04-22 22:14] JohnMcLear commented on #3864
Closing as this is all merged.

[2020-04-22 22:14] #3864 closed

[2020-04-22 22:15] JohnMcLear commented on #3263
cc @Nikerabbit again :)  Bump!

[2020-04-22 22:17] JohnMcLear commented on #3120
I was hoping to work on this during Covid but as restrictions are looking to be getting loosened and I still have a load of projects on I'm not going to keep this on my radar.  It needs addressing at some point though!  I have a feeling it could affect "change submitted by wrong author" type bugs too so worth keeping an eye on that.

[2020-04-23 00:09] JohnMcLear opened #3923 "1.8.3 shouldn't refresh after import .etherpad file"
https://github.com/ether/etherpad-lite/pull/3915#discussion_r413407628

I made a promise to fix it properly.  Which I intend to do.

[2020-04-23 00:11] JohnMcLear commented on #3912
You didn't paste the error....

You did it right though..  dump > import > copy ``settings.json`` and ??``credentials.json``?? to the new instance...

Also you will need to create the new mysql user on the new VM..

[2020-04-23 00:12] JohnMcLear commented on #3911
@muxator can we close this now please? :)

[2020-04-23 05:25] luixxiul commented on #3912
Ah right, I should have pasted that and shown you steps I did to experience the error. Sorry!

I will test once more to see what I am doing wrong.

[2020-04-23 15:38] JohnMcLear commented on #3923
Fixed in https://github.com/ether/etherpad-lite/pull/3925

[2020-04-23 15:39] JohnMcLear commented on #3916
@aboettger-tuhh I'm gonna close this as it's not an Etherpad issue or so it seems but please if it persists or we can help further please do comment and we will be happy to help you out!

[2020-04-23 15:39] #3916 closed

[2020-04-23 18:26] JohnMcLear opened #3927 "Plugins with Dependencies fail to install"
Any plugin that has a dependency listed IE ep_mammoth fails to install dependencies.

## Steps to replicate
1. ``npm install ep_mammoth``
1. ``bin/run.sh``

## What should happen?
``mammoth`` should be installed as it's listed as a dependency of ep_mammoth: https://github.com/JohnMcLear/ep_mammoth/blob/master/package.json#L12

## Did this used to work?
Possibly not?  Possibly an ``npm`` change

##

[2020-04-23 18:31] JohnMcLear commented on #3927
Closing as this seems to have been a legacy bug with a plugin but weird that I never spotted it.  Going to use this known working plugin now as to test ``ci``

[2020-04-23 18:31] #3927 closed

[2020-04-23 18:48] JohnMcLear commented on #3778
With ``ci`` set in installDeps.sh

## npm cli
[code]
WORKS

## git
[code]
FAILS

[code]

Changing from ``ci`` to ``install`` for line 103 in ``installDeps.sh``
[code]

FAILS

[code]

## Using WebUI
Installing plugin using the web ui works as expected.

# Conclusion

1. ``git clone`` without doing an ``npm install`` is never a reliable way to install a plugin that has any dependencies.

1. Using ``

[2020-04-23 21:13] muxator commented on #3778
Fine, thanks for the assessment!

It will be included in **1.8.4**, then.

[2020-04-23 21:21] Gared opened #3928 "switchToPad not working as expected"
Tested with the latest develop version.
I'm using the ```pad.switchToPad("test")``` function to change the pad. Looks like this is broken:
![grafik](https://user-images.githubusercontent.com/913630/80150460-faae9700-85a7-11ea-8f52-ce6edd401dfa.png)

On master everything is working as expected

[2020-04-23 22:17] JohnMcLear commented on #3928
Yea it's fixed, just waiting on a merge, will get merged 2nite 🗡️

[2020-04-23 22:17] JohnMcLear commented on #3928
https://github.com/ether/etherpad-lite/pull/3925 fyi

[2020-04-23 22:18] JohnMcLear commented on #3928
Closing this because I know I wont offend you by doing so :)

[2020-04-23 22:18] #3928 closed

[2020-04-24 01:06] #3563 closed

[2020-04-24 08:38] jgribonvald commented on #3848
I'm really interested too on a such feature, we also need HA and load-balancing.
I'm only a beginner with etherpad, but in waiting I deployed it on 2 servers and I'm distributing access depending of kind of my users, we can have around 5 000 users simultaneously, and maybe more. The 2 etherpads servers request on the same database, and for the fail-over I placed the second server as a fall-back se

[2020-04-24 10:50] JohnMcLear commented on #3848
@jgribonvald Full disclaimer here:  I do this work for commercial clients so this is really the type of work I do on a daily rate.  But within the spirit of Open Source and supporting our community here is a Varnish VCL you could manipulate to work.

## Sharding
[code]

You will probably want to set a rewrite based on ``req.http.header`` which would need to include the padId for socket connectivit

[2020-04-24 11:13] jgribonvald commented on #3848
@JohnMcLear Thanks a lot I will watch on what we can do with that !

[2020-04-24 13:42] #3911 closed

[2020-04-24 13:45] muxator commented on #3832
Sorry didn't see this one when I wrote #3843.
Keeping that one because it's a bit more detailed.

[2020-04-24 13:45] #3832 closed

[2020-04-24 13:47] muxator commented on #3806
Scheduling for **1.8.4** (1.8.3 is going to be released in ~days).

[2020-04-24 15:19] alekso87 opened #3930 "Where can I see a fresh HTTP API doc for 1.2.14?"
Hi everyone! I see only HTTP API docs for old etherpad.

<img width="1163" alt="Screenshot at Apr 24 18-01-55" src="https://user-images.githubusercontent.com/25965602/80228545-d8745200-8657-11ea-818d-7f14fd07ee08.png">
Thanks!

[2020-04-24 15:52] JohnMcLear commented on #3930
https://etherpad.org/doc/v1.8.0-beta.1/#index_client_side_hooks

[2020-04-24 15:52] #3930 closed

[2020-04-24 15:53] JohnMcLear commented on #3930
Please update Wiki @alekso87 :) Tnx!

[2020-04-24 15:53] JohnMcLear opened #3932 "Timeslider errors when content is deleted and content is no longer consistant. - AWAITING REVIEW/MERGE"
I'm placing this as an early catch, this needs working on urgently.

https://youtu.be/Wf0TJa3CucQ shows the timeslider content being incorrect.

Error is:

[code]
**And it is reproducable by deleting all pad content**.

This error was present in 1.6.2..  Jeez

## Steps to replicate
1. Create pad
1. Open timeslider in another window
1. Delete pad contents.
1. Type new pad contents.

## who is impac

[2020-04-24 16:47] alekso87 commented on #3930
done :)

[2020-04-24 17:47] JohnMcLear commented on #3932
## timeslider
[code]
Returns

![image](https://user-images.githubusercontent.com/220864/80241635-d7ddba80-865b-11ea-9f66-ebf3f49845bf.png)

[2020-04-24 18:12] JohnMcLear commented on #3932
Surgical gloves were required for this one...  *wipes sweat from brow..

[2020-04-24 20:24] muxator opened #3935 "Officially supported plugins"
# Official plugins
With no plugins Etherpad is functional, yet very basic,. This is by design, and it is a good thing.

However, many users will certainly want to extend the UX using some plugins, for example:

- ep_comments
- ep_author_hover
- ep_headings2
- ep_markdown
- *TODO*: work on this list

I propose to choose a **curated list of plugins** and invest in their functionality.
If they are de

[2020-04-24 21:05] muxator opened #3936 "RFC: try to make Docker container running as read only"
Etherpad installation is a bit peculiar, and there are long-standing requests to streamline it (#3294, #3293, #3593).

A way to bring order in the chaos might be to adhere to conteinarization's best practices, and strive to make Etherpad's container capable of running in `--read-only` mode.

To achieve it, we would be **forced** to assess what parts of the filesystem are mutable, and write them in

[2020-04-24 21:08] muxator commented on #3294
This continues to be a pain point for me.

Reworking the folder structure will require restructuring some code deep inside Etherpad core, particularly wrt how **plugins** are installed / uninstalled (yes: it's **different** because of npm's API :smile: ).

The conflagration of the "dev" experience and "production" experience exacerbates this, together with the lack of a real build step. We have al

[2020-04-24 21:51] Gared opened #3937 "Update hint"
Currently an admin of a etherpad instance gets no notification about a new etherpad release.

What about adding a hint to the admin page?
Any other ideas?

[2020-04-24 22:01] muxator commented on #3937
Why not. The Admin page already requests `https://static.etherpad.org/plugins.json` after all. It may be a matter of adding the latest version information there in a backward compatible way.

[2020-04-24 22:48] JohnMcLear commented on #3937
This should be super easy to implement but be really impactful.  I'd also be keen to see it land on the logs in startup too.

@Gared you wanna take this challenge on and if you get stuck feel free to reach out and I will assist?

[2020-04-24 23:02] JohnMcLear commented on #3935
We have ongoing efforts already here..  Note the activity on the repos.

1. ep_webrtc [needs test coverage & more real world deployments]
1. ep_hash_auth [need clear docs on security / auth as per conversation]
1. ep_headings2 [needs settings unified (see below)], better export functionality etc.
1. ep_font_size [needs settings unified (see below)], better export functionality etc.
1. ep_comments

[2020-04-25 19:29] alekso87 opened #3938 "You do not have permission to access this pad"
Hi everyone! Why am I seeing this when I visit my group pad - https://site.com/g.kU30kGMSetcKsjrg$asdfvcfd? I did not find any mention in the documentation that group pads require a session, given that the **requireSession** parameter is **false**. Examples and settings below.

<img width="926" alt="1" src="https://user-images.githubusercontent.com/25965602/80288809-39c51f80-8743-11ea-8255-ae344e2

[2020-04-26 01:07] #3882 closed

[2020-04-26 06:13] abskmj commented on #3099
is it possible to automate the steps? I might be able to put together a workflow on GitHub actions to package and publish new Debian packages. Sounds feasible?

[2020-04-26 07:28] muxator commented on #3099
@abskmj, that would be cool.

However, I think the problem here is _defining_ those steps, which are not clear at all. For example, there is the whole issue of packaging the dependencies in Debian, before working on Etherpad.

[2020-04-26 08:10] abskmj commented on #3099
Oh, I meant automating packaging the dependencies in Debian. I went through the referenced articles on Debian wiki. I see most of the steps are similar for most of the packages (there may be few exceptions). I'm wondering if I could execute those steps for all the missing packages in a Github action workflow. This might take less effort than doing it manually for all the dependency.

[2020-04-26 09:40] muxator commented on #3923
#3925 is merged. Closing.

[2020-04-26 09:40] #3923 closed

[2020-04-26 09:54] muxator commented on #3884
I am baffled by the test results too.

1. I studied the latest Travis job (https://travis-ci.org/github/ether/etherpad-lite/jobs/679581560).
   The log is not informative: the tests seem to start, and at the end there is an error with no explainations.

   Travis log:

   An interesting info is that if you click on one of the saucelabs links in this log, for example https://app.saucelabs.com/tests

[2020-04-26 10:06] JohnMcLear commented on #3884
https://github.com/ether/etherpad-lite/pull/3899

[2020-04-26 18:49] JohnMcLear commented on #3938
Are you using a library for Auth flow etc?

I'm not sure what requiresession setting does but I don't think it's related to authentication or authorization.

[2020-04-26 18:52] alexanmtz commented on #3434
@JohnMcLear, I'm trying to update Mocha to the most recent version (7.x) but the library was changed deeply and the new setup would modify a lot the way we run the tests today. With the new version we should use as a package, and I can see on `package.json` but the way we run on the browser today the project uses a standalone js.

So should I proceed with a version of mocha.js for with the standal

[2020-04-26 19:12] alekso87 commented on #3938
I did not quite understand the question, but rather, what not. Basic setting - I did not change the settings file, the necessary settings are located in the credentials file.

I can give access to the API so that you can create a group + group ped and check access to the ped.

Send it to email?

[2020-04-26 19:16] alekso87 commented on #3938
And I don't quite understand why this file is needed - SESSIONKEY.txt :D I do not see the information in the documentation.

[2020-04-26 19:21] alekso87 commented on #3938
credentials.json

<img width="380" alt="Screenshot at Apr 26 22-18-29" src="https://user-images.githubusercontent.com/25965602/80317390-334eaa80-880c-11ea-858b-65e6ecd31b6a.png">

[2020-04-26 19:50] muxator commented on #3434
As long as the change is done properly, and we do not lose the ability to to st, I see no blockers in updating to 7.0.

Do you have an idea of the steps involved?

[2020-04-26 20:14] muzzol opened #3939 "Such a padname is forbidden without large names"
hi,

I'm having a strange problem with some of my pads.
I'm receiving **"Such a padname is forbidden"** but is not related to name lenght like here:  https://github.com/ether/etherpad-lite/issues/2583

My pads are not that long, you can check it here: https://pad.cat/p/a/

I configured loglevel to DEBUG but I didn't find any usefull info.

The only particular thing about this installation is that

[2020-04-26 20:37] muxator opened #3940 "de-precambrianize or remove dependency from async"
Etherpad depends on a very old version of [async npm library](https://www.npmjs.com/package/async):

[code]

Times have changed quiet a lot from its introduction in etherpad. Continuing using it may or may not make sense.

- [x] investigate is the use of `async` library is unavoidable in Etherpad code base;
- [ ] if `async` is not necessary, remove it and adapt the existing code;
- [x] if `async`

[2020-04-26 21:55] JohnMcLear commented on #3094
A simple ``npm install ep_helmet`` will get you a B rating on Observatory.

The scope of the issue was "what CSP headers" but I did go off on a bit of a tangent and decided to cover a lot more of the header related exploits available to attackers.

This doesn't "fix" the question of the correct CSP headers yet.  CSP in general is a bitch to implement in Etherpad due to there being SO MUCH inline J

[2020-04-26 23:11] JohnMcLear commented on #3938
1. ``SessionKey`` is for the API, not for user sessions..
1. This setting is for if you want to enforce a user to have a pre-defined session ( from another API or so) to access NON GROUP pads (as per the setting).
[code]
1. I haven't looked at the docs but I'm 99% sure it talks about the flow for creating a session for an author.
1. You might find that you can find a library for your language IE p

[2020-04-26 23:52] muxator commented on #3932
Nice catch. This can go in **1.8.3** for sure.

[2020-04-27 00:12] #3932 closed

[2020-04-27 00:39] muxator commented on #3939
Hi @muzzol,

Remove the trailing "/" at the end of your URL and it will work.

Pad names cannot end in "/".

If you feel contributing, you could write a small PR to improve the error message.

P.s.: we are releasing 1.8.3 today. Try it, and change "skinName" from "no-skin" to "colibris". You won't regret it. 😄

[2020-04-27 01:33] muzzol commented on #3939
besides improving error message, do you have any rewrite rule for apache/nginx to remove trailing slash?

I already activated, my only complain is that I would like to make it wider, not full page but a little wider. where can I modify that value?

[2020-04-27 02:01] muzzol commented on #3939
ok, I'm gonna answer myself about the rewrite part. I managed to force removing trailing slashes with this configuration.

`
    	RewriteEngine On
    	RewriteCond %{REQUEST_URI} !^/locales/
    	RewriteCond %{REQUEST_URI} !^/locales.ini
    	RewriteCond %{REQUEST_URI} !^/admin
    	# RewriteCond %{REQUEST_URI} !^/p/
    	RewriteCond %{REQUEST_URI} !^/static/
    	RewriteCond %{REQUEST_URI} !^/plu

[2020-04-27 02:20] muzzol commented on #3939
even easier (sorry for double posting):

[code]

I repeat, this works only if you're NOT removing /p/ from your pads.

[2020-04-27 09:12] JohnMcLear commented on #3939
Can this be closed now? :)

[2020-04-27 09:24] JohnMcLear commented on #2106
@xloem I spent an hour on this and came up with a prototype: https://mclear.co.uk/2020/04/25/automatically-storing-etherpad-pad-contents-in-git/

It stores the entire database file in .git, it isn't author aware.  This shows a concept anyway, tighter integration is doable but requires work.

[2020-04-27 09:29] JohnMcLear commented on #3940
[code]

[2020-04-27 09:36] muzzol commented on #3939
sure, I'll close it mysefl.

[2020-04-27 09:36] #3939 closed

[2020-04-27 09:52] muxator commented on #2106
@JohnMcLear, what I'd be satisfied with is simply the possibility of committing specific versions to source control. No problem in losing the granularity of the single edit authorship, since that is weel tracked by Etherpad already. Something on the lines of:

1. the user opens pad `/p/test`
2. the user saves a revision with the star icon
3. a dialog with a commit message is opened
4. the current

[2020-04-27 09:56] muxator commented on #3939
[code]

@muzzol, a fast feedback: this `mod_rewrite` rule seems ok.

Currently there is no user-level support in core for setting a custom width.

[2020-04-27 10:00] muxator commented on #3940
Yep, **0.9** -> **3.2** couldn't be a smooth ride. But we can get there :smile:

[2020-04-27 10:00] JohnMcLear commented on #2106
Okay thanks for being specific about requirements..

So what you could do is have a plugin that has the following functionality..

 - [ ] On save revision msg writes txt file to location on server
 - [ ] On save revision button press user is presented a popup asking them to provide commit message data.
 - [ ] On commit message data commit the text file to the server with the commit message data.

[2020-04-27 10:02] alekso87 commented on #3938
To send a request through the API, I use the APIKEY.txt.
SESSIONKEY.txt as far as I understand the application itself uses on its side?

I know, thanks.

[2020-04-27 10:11] JohnMcLear opened #3945 "tests/frontend/specs_list.js is being delivered with the wrong MIME type."
When implementing ep_helmet I discovered this:
[code]

[2020-04-27 11:08] muxator commented on #2106
**Configuration parameters** for the plugin:

1. **`REPO_PATH`**: path where the repository is going to be created. I do not know is going with `ETHERPAD_BASE/var/git` is a good start, since this is something that the administrator may want to have fine grained control over, plus that would be a git repo inside another git repo.

2. **`INIT_COMMAND`**. Support some form of keyword syntax. For exam

[2020-04-27 12:51] alekso87 opened #3946 "function setPassword only for group pads?"
Hi everyone! Did you forget to mention this in the documentation? [Link to doc](https://etherpad.org/doc/v1.8.0-beta.1/#index_setpassword_padid_password)

<img width="929" alt="1" src="https://user-images.githubusercontent.com/25965602/80373951-90933c00-889e-11ea-8730-8491af9bb680.png">
<img width="927" alt="2" src="https://user-images.githubusercontent.com/25965602/80373967-9426c300-889e-11ea-8a4

[2020-04-27 13:23] alekso87 commented on #3946
If so, why not make a password with binding not only to padID, but + also to authorID?

setPassword(padID, authorID, password)

For example - a group pad and there are 2 authors in it.

The password is set on the pad. The owner of the pad urgently needs to close access to the second author. It changes the password to the pad, and since the password is shared, the password must be re-entered to the

[2020-04-27 13:26] alekso87 opened #3947 "Password form without style?"
Hi everyone! I'm testing pads with a password, I came across a form in which, as for me, there are no styles.

theme - colibris

<img width="870" alt="Screenshot at Apr 27 15-55-48" src="https://user-images.githubusercontent.com/25965602/80377379-e1f1fa00-88a3-11ea-9f15-14c7aef763ec.png">

[2020-04-27 14:26] JohnMcLear commented on #2106
Dumb question..  Sorry!

If I settings I have the string..

[code]

I want to use ${path} here as a variable.. So I do..

[code]

I want this to output git init /home/jose/develop/var/git

What's the best way to achieve this?

[2020-04-27 14:35] akosiaris commented on #2877
As pointed out in https://github.com/ether/etherpad-lite/pull/3817#issuecomment-620026619, the fix has caused a pretty significant performance regression

[2020-04-27 14:40] alexanmtz commented on #3434
@muxator, yeah, I found the js on https://mochajs.org/#running-mocha-in-the-browser

And I need to make the proper changes on the runner, then see the tests running on http://0.0.0.0:9001/tests/frontend/index.html

[2020-04-27 15:25] JohnMcLear commented on #2106
Test with ``npm install ep_git_commit_saved_revision``

and copy this into ``settings.json``

[code]

Whoever wants to help maintain the plugin feel free, the bulk of the work is done...

[2020-04-27 15:33] tiblu commented on #3563
@muxator  Looking good! Thanks for all your work on the project!
Created a PR for table readability improvement - https://github.com/ether/etherpad-lite/pull/3948

[2020-04-27 15:50] tiblu opened #3949 "BUILD/RELEASE process: Create release branch along with tag"
**What?**

Please create release branch along with release tag when new version of Etherpad is released.

**Why?**

When using Etherpad as a submodule in another project, you can reference a specific branch, but AFAIK not a tag. We would like to reference submodule from Etherpads official repository.

Why not reference `master`? `master` contains latest release version, but due to the nature of ou

[2020-04-27 18:33] alexanmtz commented on #3434
@muxator, I was able to update Mocha to the latest version, but there's a huge change in the way the reporters are extended. So this implementation on `runner.js` to extend the HTML reporter will no longer work:
https://github.com/ether/etherpad-lite/blob/develop/tests/frontend/runner.js#L69

And the `Base` function is included on the Mocha core

I'm trying different approaches but we can't requir

[2020-04-27 19:21] JohnMcLear commented on #3434
1. What's the existing HTML reporter User experience like Vs current solution?  Screenshot would be nice.  We need reporting to work w/ Travis as a side note.

[2020-04-27 19:28] JohnMcLear commented on #3938
1. My mistake.  You are correct.  sessionKey is used to generate express session IDs that can be then re-used after restart.  To retain uniqueness...

Did you solve this?  Happy to help further if I can.  If you want another example you can look at how the backend tests auth, I'm pretty sure it does a make user flow, create group pad etc.

[2020-04-27 19:31] alexanmtz commented on #3434
@JohnMcLear
I can see on the comments:
[code]

This is the result with the HTML reporter:
![pageshot of 'Frontend tests' @ 2020-04-27-2126'59](https://user-images.githubusercontent.com/88840/80412243-dfa49580-88cd-11ea-95d6-6e09862eaae7.png)

It is a plain HTML, and I can include the `mocha.css` classes to give some style if we proceed with this solution.

[2020-04-27 19:35] JohnMcLear commented on #3434
So with this approach what's the actual difference to.

1. the person who runs the tests (other than some minor styling)
2. how tests run.
3. how tests are reporter (success/fail) to the runner > travis?

Everything looks the same (relatively speaking).  What's the gotcha? :D

[2020-04-27 20:29] alexanmtz commented on #3434
Yeah @JohnMcLear, the trick is where these extended results in the plain text are used, is on Travis?

so taking out this extended reporter may break things, but I'm afraid that's the way to do it, otherwise, we will have more changes if we use the module implementation.

[2020-04-27 20:55] JohnMcLear commented on #3434
I don't know without looking at the runner logic how the results are passed from mocha > travis tbh ;\

[2020-04-27 21:01] alekso87 commented on #3938
Yes, I solved the question by running a couple of tests.

[2020-04-27 21:01] #3938 closed

[2020-04-27 21:09] JohnMcLear commented on #3094
Okay cool and now a merge request is in for CSP and I am going to publish an updated helmet.

[2020-04-27 22:29] tiblu commented on #3949
@muxator  Thanks for the quick response!

We're not in a hurry, but if you can create a release branch for us, it would be great. Release tag would be OK for those who are historically interested in the tag.

I'll put my 10 cents to https://github.com/ether/etherpad-lite/pull/3943

[2020-04-27 23:39] muzzol commented on #3939
nice, can I suggest putting this somewhere on the docs?
also would be nice to throw a DEBUG exception to logs indicating someone tried to put a non allowed character on a pad name

ok, I'll tinker a little bit with the code and see if I break something.

[2020-04-28 05:57] seballot opened #3954 "UI issue after 1.8.3 release"
- [x] in safari, the select dropdowns inside the toolbar (ep_headings, ep_font_color) do not work (because of the overflow of the toolbar. I already noticed this bug, but on chrome and firefox using a `position: fixed` fixed it. Not on safari :) )

- [x] A strange vertical line is displayed on middle of the screen on load : https://youtu.be/MiJ5AcS6S-g

- [x] Index page need to use new font
- [x]

[2020-04-28 06:08] seballot opened #3955 "Versioning assets for clearing browser cache"
On the server I run with etherpad, I noticed after moving to 1.8.3 that I needed to refresh my browser cache to see the changes. That is not very nice because most of the user will not do that.

We could easily change that by adding a version when loading assets

`<link href="path/to/css?v=1.8.3">`

WDYT? please assign to me if you agree

[2020-04-28 07:40] skramsa opened #3956 "Toolbar Icons not showing after update (1.6.2 -> 1.8.3) when exposing in a subdir via a reverse proxy and minify = true"
![image](https://user-images.githubusercontent.com/16946810/80459501-be29c500-8932-11ea-92eb-8788ceb3c96c.png)

The toolbar Icons are not showing and I get missing font family errors, but they're all in their folders, nothing was changed. Can you help me fix this issue?

GET <server>/static/font/Roboto-Regular.ttf net::ERR_ABORTED 404 (Not Found)

I get this for all font families.

[2020-04-28 08:43] JohnMcLear commented on #3956
Please provide details.

Are you running behind reverse proxy?
Are you running in development or production mode.
Minified?
Secured copy or your settings.json
Etc.

https://mclear.co.uk/2015/01/15/how-to-write-a-bug-report/

[2020-04-28 08:44] JohnMcLear commented on #3955
Yeah I thought the minifier/express was supposed to handle this but maybe it's not working and we need to implement it.

[2020-04-28 08:45] JohnMcLear commented on #3954
I can't assign to you.  Not sure why!

[2020-04-28 08:47] JohnMcLear commented on #3947
Oh I thought that whole thing got dropped/removed.  I wouldn't use the internal Etherpad password model and instead use a proper Auth provider.

I think we are going to remove this password option soon.  Do you need it?

[2020-04-28 08:49] JohnMcLear commented on #3949
I'm +1 release branches they make bisect much easier

[2020-04-28 08:50] JohnMcLear commented on #3947
Cc @seballot

[2020-04-28 08:52] skramsa commented on #3956
It's running in development mode, although the systemd service has "Environment=NODE_ENV=production" in it, no reverse proxy, the css is minified, settings.json is barely touched (only mysql and admin pw is changed).

It looks like etherpad can't load all fonts because it looks at <server>/static/font/*.ttf instead of <server>/etherpad/src/static/font/

[2020-04-28 08:53] JohnMcLear commented on #3946
I wouldn't use Etherpad internal mechanism for passwords, is it something you really want to do?

[2020-04-28 08:56] JohnMcLear commented on #3956
Try turn minify to false and maxage to 0 in settings.json

[2020-04-28 08:59] skramsa commented on #3956
I did, nothing changed

[2020-04-28 09:10] JohnMcLear commented on #3956
At my laptop now, might be able to help more.  Most useful thing is to get your settings.json (but remove any passwords).  Can you provide that please?

FWIW I tested 1.6.* > 1.8.3 and didn't experience this but it could be related to your settings.json having some legacy cruft in :!

[2020-04-28 09:13] JohnMcLear commented on #3956
If you don't want to provide settings one thing to do is:

``cp settings.json settings.backup.json``
``cp settings.json.template settings.json``
Then copy your database host/user/pass into ``settings.json``

Restart and see if it's fixed.

[2020-04-28 09:19] skramsa commented on #3956
/*
  This file must be valid JSON. But comments are allowed

  Please edit settings.json, not settings.json.template

  To still commit settings without credentials you can
  store any credential settings in credentials.json
*/
{
  // Name your instance!
  "title": "HelpMe-Etherpad",

  // favicon default name
  // alternatively, set up a fully specified Url to your own favicon
  "favicon": "favic

[2020-04-28 09:24] JohnMcLear commented on #3956
Okay cool, gimme 2 mins.

[2020-04-28 09:26] JohnMcLear commented on #3956
Nope, that didn't replicate, toolbar buttons exist for me..

Is this instance public that I can access?  feel free to email me URL contact@etherpad.org

Stupid question..  Did you
 - [ ] Clear browser cache?
 - [ ] Attempt to run using ``bin/run.sh``

Thanks!

[2020-04-28 09:31] seballot commented on #3947
I was not even aware of this feature !

[2020-04-28 09:35] skramsa commented on #3956
Sadly it's not a public instance.
I replaced the settings.json with the new template, also changed skin to no-skin. stilll no success..
And yes, I've run run.sh, restarted the service and cleared the cash :)

[2020-04-28 09:38] skramsa commented on #3956
This is the systemd service btw:
[Unit]
Description=Etherpad
After=syslog.target network.target

[Service]
Type=simple
User=etherpad
Group=etherpad
WorkingDirectory=/opt/etherpad
Environment=NODE_ENV=production
ExecStart=/opt/etherpad/bin/run.sh
Restart=always

[Install]
WantedBy=multi-user.target

[2020-04-28 09:45] JohnMcLear commented on #3956
How did you install?  Did you ``git clone`` or did you grab the released .zip and unpack?

[2020-04-28 09:47] JohnMcLear commented on #3956
Request URL: ``https://dev.com:9001/static/font/RobotoMono-Regular.ttf``

[code]

All looks fine to me.

[2020-04-28 09:57] skramsa commented on #3956
I installed it via git clone, or rather updated it. I believe it was installed a few years ago (by another admin) through zip unpack. I used rsync to update everything

[2020-04-28 10:20] JohnMcLear commented on #3956
Ah, I wonder if the last admin put some hacks in?  if you ``git status`` do you see any modified files?

[2020-04-28 10:21] JohnMcLear commented on #3956
What happens if you git clone a fresh repo then copy your settings.json over?  That will work but obviously isn't fixing the problem that something is weird..

[2020-04-28 11:50] alekso87 commented on #3947
What do you mean?

Today I'll sit down to rethink the model of my project so as not to use a password. A little later I will give an answer.

[2020-04-28 11:53] alekso87 commented on #3946
A little later I will give an answer in one of the issue :)

[2020-04-28 12:16] skramsa commented on #3956
I'm going to do that now. yes, it's very weird.. as if the root folder for the fonts is not the same as etherpad

[2020-04-28 12:40] JohnMcLear commented on #3956
The code is right btw.  src/ is the root folder..

I think the previous admin hacked something, I can't say what without seeing a git diff.  Can we close this now?

[2020-04-28 12:44] skramsa commented on #3956
previous admin didn't use git (was not installed), still doesn't work after clean clone..

[2020-04-28 12:54] JohnMcLear commented on #3956
@skramsa lulwut.  Completely clean clone and run and it doesn't work? :!  I have a feeling something is weird with your setup..  Any errors or warnings in log?

What if you do a completely clean clone and don't change any settings?  Does it still fail then?

Any chance you can make it public temporarily for me to debug?

[2020-04-28 12:57] JohnMcLear commented on #3947
Well Etherpad is not a good auth provider.  Intentionally...

Search here for "auth" https://static.etherpad.org/ -- some examples:
ldap, oauth..  There are hundreds and it's best to just allow Etherpad to use whichever suits your entire platform best.

TLDR; author auth mechanisms are mature/secure/well maintained..  It makes sense to just offload auth external to Etherpad and only have Etherpad

[2020-04-28 13:14] skramsa commented on #3956
no it's on a secured intranet..  could the upgrade from node 6 to 12 have something to do with it?

[2020-04-28 13:21] JohnMcLear commented on #3956
Not sure..  I'm not really sure other debug steps here..

The only clue I have is..
https://github.com/ether/etherpad-lite/blob/develop/src/node/utils/Minify.js#L429

But you said you cleaned all cache and do a clean run..

You disabled minify, did ``rm -Rf src/node_modules && rm src/package-lock.json`` then ran ``bin/run.sh`` yeah?   I mean you did a clean clone so ;\

[2020-04-28 13:22] JohnMcLear commented on #3956
What's your ``git sha``, ``npm --version`` and ``nodejs version`` values please?

[2020-04-28 13:22] alekso87 commented on #3946
I close the topic due to uselessness. Thanks.

[2020-04-28 13:22] #3946 closed

[2020-04-28 13:25] skramsa commented on #3956
npm is 6.14.4 and node -v is 12.16.2. stupid question, but what exactly do you mean with "my" git sha?

[2020-04-28 13:26] alekso87 commented on #3947
@JohnMcLear It's good that I raised this question on time :) Thanks for the clarification! As I understand it, in the future, the function of creating a password will be deleted from the project?

[2020-04-28 13:28] JohnMcLear commented on #3947
We have a proposal open to make this change.  It isn't concluded yet but I would say there is a 80% chance we will go that way.  Is that okay?  Obviously if it's critical for you(or others) we will keep it in but I think most devs realize having our own auth mechanism is a pretty wide vector to attack.

[2020-04-28 13:34] skramsa commented on #3956
I rerolled to 1.6.2 and set minify to false and suddenly it works again (before that not even the old version's icons did function). That's a relief.. I will try to make another clean setup next week with this settings, maybe this time it will work :D Thank you so much for your help!!

[2020-04-28 13:35] alekso87 commented on #3947
I agree about the security. It’s better to let everyone take care of authentication, it’s more difficult to break through the defense and apply the attack en masse.

[2020-04-28 14:05] JohnMcLear commented on #3956
In your etherpad folder type ``git rev-parse HEAD``

I wanna see which commit you are on.

[2020-04-28 14:37] muxator commented on #3949
Hi,

I have created https://github.com/ether/etherpad-lite/tree/release/1.8.3.

Noting this use case for the next releases, thanks.

[2020-04-28 14:37] #3949 closed

[2020-04-28 14:55] muxator commented on #3955
Hi,

this has been bothering me, too. It hit every developer recently (I think recently @JohnMcLear advised a developer to delete his browser cache, too).

@seballot: I am willing to incorporate your proposal. It is small and solves a problem very well.
I only have a question: let's try to **verify if the HTTP caching mechanism continue to work afterwards**.

Will the browsers issue correct reques

[2020-04-28 14:56] muxator commented on #3955
note number 2: please take in account that **this week I will be slower** in responding.

[2020-04-28 15:01] JohnMcLear commented on #3955
@muxator we appreciate all the time / effort you put in getting us to a release so whatever you are doing please don't feed any pressure from us to commit any time :)  Thanks!  I'm gonna focus on plugins this week so I wont put much noise in front of you.

[2020-04-28 15:27] seballot commented on #3955
I tested, the "maxAge" in settings works fine for js and css. But this value is stored by the browser locally, so to override it the easier things is to add the etherpad version on assets. create PR now

[2020-04-28 15:52] #3788 closed

[2020-04-29 01:43] julpec commented on #3956
Hello
I have exactly the same problem except I'm behind a proxy.
I made a test by saving my installation and cloning the repository. Then I simply copied my configuration file and restarted the service.
I still have the same problem despite the fresh installation.

But :
On the other hand, interesting thing, when I access the service without using the proxy and without https, no problem, the icons

[2020-04-29 06:31] lucaguindani commented on #3956
Had the exact same problem.

I use a reverse proxy and the Etherpad instance is in a subdirectory (/etherpad). I managed to make it right adding the following to my apache configuration.

[code]

I did not change anything in settings.json.

[2020-04-29 06:31] JohnMcLear commented on #3956
@skramsa hasn't mentioned any reverse proxy so I don't think it's related?  Skramsa please confirm there is no reverse proxy in your setup.

[2020-04-29 06:33] JohnMcLear commented on #3956
Why the retry and timeout rule?

[2020-04-29 06:33] lucaguindani commented on #3956
Yes but @julpec is behind a proxy, so I though it could be helpful ;)

[2020-04-29 06:36] lucaguindani commented on #3956
You're right, I don't think it's needed, I just did this in a hurry yesterday after the update ;)

[2020-04-29 06:37] JohnMcLear commented on #3956
It is thanks

[2020-04-29 08:47] julpec commented on #3956
As a reminder :

In my case, it's obvious it's proxy related.

In addition, I am in a migration situation of my Etherpad instance and I migrated my database and after that I updated Etherpad. I have this coming out in the logs now:

`[2020-04-29 10:43:29.440] [ERROR] console - table is not configured with charset utf8mb4 -- This may lead to crashes when certain characters are pasted in pads
`
Don'

[2020-04-29 08:50] JohnMcLear commented on #3956
Create a separate issue for this please.  It needs addressing.

[2020-04-29 08:53] julpec opened #3959 "Table is not configured with utf8mb4, after upgrade"
Hello
I am in a migration situation of my Etherpad instance. I migrated my database and after that I updated Etherpad. I have this coming out in the logs now:

[code]

Don't know if it can cause errors…

[2020-04-29 08:57] Oremountainflorian opened #3960 "Option to change hyperlink and text color sheme"
Hey everyone! We are really happy about version 1.8.3, the appearance improvements are awesome! I'm pretty new to etherpad and I hope my issue is at the right place here.

## Description

One thing I don't like is the green color sheme for hyperlinks, H1 and some text in the settings and the chat window. Especially in the text field itself this is pretty impractical for many author colors as the h

[2020-04-29 10:27] schneidr commented on #3956
I have the same problem.
I'm behind a reverse proxy (Apache) and I'm using the (currently) latest docker container (pulled the image one minute ago):

[code]
The toolbar looks exactly as in the original report. Etherpad is proxied under `/pad/`, but the fonts are loaded from `/static/`, which results in 404 errors.

I'd rather not use the workaround by @lucaguindani, because `/static/` is a very c

[2020-04-29 12:54] alexanmtz commented on #3434
@JohnMcLear I can see the runner remote use the generated output from the custom reporter, so we need to keep it.

I should be able in the latest version to extend and use the custom reporter as we have today with some changes, but for some reason, I can't access `Base` from the Mocha instance to extend the reporter as you do today.

The current implementation extracted Base from the library in or

[2020-04-29 14:08] JohnMcLear commented on #3956
Okay, will sort ASAP.  Should be today, might not be merged this week though so you guys might need to apply a patch.

After release week we're all trying to spend time with family etc.

[2020-04-29 14:21] JohnMcLear commented on #3434
Excellent work man, I really appreciate you handling this because I clearly was right in assuming I was out of my depths as far as hacking into Mocha :P

[2020-04-29 15:54] JohnMcLear commented on #3956
I can't replicate this with my apache config.  Can someone paste an offending apache config?

[2020-04-29 15:59] JohnMcLear commented on #3956
Tested nginx too w/ the wiki config and can't replicate there ;/

![image](https://user-images.githubusercontent.com/220864/80618026-b9503880-8a3a-11ea-8278-85768a83bac2.png)

[2020-04-29 16:03] JohnMcLear commented on #3956
![image](https://user-images.githubusercontent.com/220864/80618103-cec56280-8a3a-11ea-99f9-5c0f672de802.png)

Makes me think you guys are all experience a weird Apache mis-config / quirk.   Where did you all get your apache subdir config from?  We don't provide one on the wiki afaik so I think maybe you guys went rogue? :P

PS I'm testing against develop, which is pretty much release atm and the n

[2020-04-29 16:11] JohnMcLear commented on #3956
I also tried on ``/pad/foo/p/blah`` just to confirm there is no bug Etherpad side and things look fine...

[2020-04-29 18:59] julpec commented on #3956
Here is mine:
[code]

[2020-04-29 19:01] JohnMcLear commented on #3956
Awesome thanks gimme an hour will try tonight.

[2020-04-29 19:02] julpec commented on #3956
[Here](https://github.com/ether/etherpad-lite/wiki/How-to-put-Etherpad-Lite-behind-a-reverse-Proxy)

[2020-04-29 19:05] JohnMcLear commented on #3956
I looked there and the examples don't cover putting Etherpad in a subdir for Apache...

[2020-04-29 19:14] luixxiul commented on #3912
Due to an incident unrelated with etherpad-lite, I was required to reset the server on which etherpad-lite was hosted too. Since I would like to set up the environment afresh (thanks to the fact that our community still has not made use of etherpad yet), I am going to close this issue for now. If I would find a bug (if any) related with importing the database, I'll reopen this one.

[2020-04-29 19:14] #3912 closed

[2020-04-29 19:17] JohnMcLear commented on #3960
@seballot any thoughts on this?  Sounds like a sensible request..

[2020-04-29 19:23] JohnMcLear commented on #3956
![image](https://user-images.githubusercontent.com/220864/80637613-35587980-8a57-11ea-9c02-4ee017ea94eb.png)

Using a slightly modified version of your snip

[code]

[2020-04-29 19:24] JohnMcLear commented on #3956
![image](https://user-images.githubusercontent.com/220864/80637737-63d65480-8a57-11ea-9c37-812fb28c1c1c.png)

[2020-04-29 19:24] JohnMcLear commented on #3956
[code]

[2020-04-29 19:38] JohnMcLear commented on #3912
Ack :)  tnx

[2020-04-29 19:41] JohnMcLear commented on #3960
See: https://github.com/ether/etherpad-lite/issues/3641

[2020-04-29 19:42] seballot commented on #3960
Hi ! Indeed the green url does not fit with author color. I'm always using pads with author_neat that's why I did not noticed that, will try a fix !

[2020-04-29 19:43] julpec commented on #3956
it doesn't make sense. You can put whatever you want in the location tag. But I will try with you config and without "subdirectory" right now.
Thank for your investigations btw

[2020-04-29 19:49] JohnMcLear commented on #3959
So yeah, this is usually due to misconfigured tables but it's new code and I want to make sure it's working properly because I'm not 100% sure it is.

It's actually an UeberDB issue but whatever, here is fine.  The logic here:  https://github.com/ether/ueberDB/blob/master/mysql_db.js#L81

I'm going to make the assumption your Etherpad database is called ``etherpad_lite_db``

If it isn't, replace a

[2020-04-29 20:25] julpec commented on #3956
it doesn't make sense... in my brain. But in the real world that's what's causing the problem!
Good point :+1:
However, I don't understand why everything worked so well before, it's been running for years behind a reverse proxy with this as a configuration.
I really need a subdirectory since I have different services running behind an apache "single sign-on".
Would it be possible to use something

[2020-04-29 20:28] JohnMcLear commented on #3956
Copy/paste my config from above, I use a different location...

[2020-04-29 20:42] julpec commented on #3956
I don't see the difference with my own, except for the authentication settings.
I'm gonna try right now

[2020-04-29 20:45] julpec commented on #3956
still the same problem: no display of icons

[2020-04-29 20:47] JohnMcLear commented on #3956
Apache version?

[2020-04-29 20:51] julpec commented on #3956
Server version: Apache/2.4.38 (Debian)
Server built:   2019-10-15T19:53:42

I investigated with the element inspector and this is what he gives me as URL for the fonts :
[code]
It should be:
[code]
I can't understand why I don't have the "pad" subdirectory.

[2020-04-29 21:03] julpec commented on #3959
Here is the output for the first command :
[code]
Such was your wish

And this is for the second...
[code]
Oopss…
What can I do now ?

[2020-04-29 21:05] julpec commented on #3959
sorry, I went a bit fast without seeing the end of the message, I'm going to test the database modification now.

[2020-04-29 21:08] julpec commented on #3959
Great! It worked.
No more messages in the logs

[2020-04-29 21:53] JohnMcLear commented on #3959
Win.  It's great to see my work / efforts validated so thanks man! :)

[2020-04-29 21:53] #3959 closed

[2020-04-29 23:32] muxator commented on #3723
Closing this.

For documentation's sake: this was implemented by #3786, and released in **1.8.3**.

[2020-04-29 23:32] #3723 closed

[2020-04-30 02:24] sissieadmin commented on #3695
Came back to this.

I basically wiped my Nginx config and did a new Etherpad install (1.8.3 (6210114)). Also a newer Odoo version (13.0.20200420). I used almost precisely what is provided in the [nginx reverse proxy guide.](https://github.com/ether/etherpad-lite/wiki/How-to-put-Etherpad-Lite-behind-a-reverse-Proxy#https-only)

I get the exact same issue as before. Default settings 'work' but are c

[2020-04-30 06:42] schneidr commented on #3956
So, I started from scratch on a new host.

    docker run --name etherpad -d \
        -e NODE_ENV=production -p 9001:9001 \
        --mount type=bind,src=/etc/localtime,dst=/etc/localtime \
        --restart=unless-stopped \
        etherpad/etherpad

Nothing changed in the original configuration.

Apache config:

    <VirtualHost _default_:443>
        ServerName host
        <Proxy *>

[2020-04-30 07:21] JohnMcLear commented on #3956
Weird.  I will try use the docker image locally to see if that changes things

[2020-04-30 08:30] JohnMcLear opened #3961 "Exporting HTML doesn't close list soon enough..."
Test script
[code]
Note that AFTER NO LIST is included inside the eyy line when it should be a new line.

Caused by 85217b55e0253e3ee090d4a9435adf91d7a86160

Fix coming now.

[2020-04-30 08:43] JohnMcLear commented on #3961
Fix here: https://github.com/JohnMcLear/etherpad-lite/commit/0ef730dcb0d071e638e7c7161af6a60c0a0c5cd3

Fix included in the https://github.com/ether/etherpad-lite/pull/3877 PR

[2020-04-30 09:02] julpec commented on #3956
@JohnMcLear it's really unbelievable. I tried with exactly the same configuration as you, on port 81, in a separate vhost, etc... and the problem still occurs.
I made sure to empty the cache every time.

Here are my software versions:
[code]

[2020-04-30 12:26] seballot commented on #3960
Ok done, I disabled the coloring of hyperlink when color authorship is on

[2020-04-30 12:41] Oremountainflorian commented on #3960
@seballot Thanks for your quick fix! Just another question. You said the coloring of hyperlinks is just of when the switch "Authorship colors" in the option is off, right? However, it would be nice also to color the hyperlink when the background color is cleared, even if authorship colors turned on (for better visibility).

And sorry for my persistence, but I also think the default blue color of h

[2020-04-30 14:24] suempu commented on #3956
I have exactly the same issue. The icons are missing when run over the proxy (nginx) and minify is set to true. As soon as I set minify to false and start it with clearRun.sh and clear the browser cache, the icons are working. In the older version we used for quite some time, it was working with minify: true and this Nginx config:

[code]

I found out, when I use the nginx config from @JohnMcLear

[2020-04-30 15:08] JohnMcLear commented on #3956
Op said minify true/false doesn't change outcome.  Op also didn't mention any rev proxy....  I will check with minify true when I get home.

[2020-04-30 15:49] JohnMcLear commented on #3956
Confirmed it's caused by minify.

https://github.com/ether/etherpad-lite/issues/3956#issuecomment-620476150 claimed minify false made no difference and I should have checked myself if that was the case..

*facepalm.

Will fix ASAP.