[2020-07-15 09:53] JohnMcLear commented on #3373
@gared any thoughts??

[2020-07-15 15:46] webzwo0i commented on #4040
https://github.com/ether/etherpad-lite/blob/8ae823032db4b8ccb0e08e320260f71be1962e62/src/static/js/ace2_inner.js#L517 https://github.com/ether/etherpad-lite/blob/8ae823032db4b8ccb0e08e320260f71be1962e62/src/static/js/ace2_inner.js#L2075

[2020-07-15 15:56] JohnMcLear commented on #4162
PR @ https://github.com/ether/etherpad-lite/pull/4167 for IE11.

[2020-07-15 15:59] JohnMcLear commented on #4165
It's not semantically clean HTML so ideally I will get time to fix before the 21st.

[2020-07-15 16:08] JohnMcLear commented on #4162
So to answer this question:

Are you okay with dropping support for <IE11?  **Yes, IE11 would be nice to have though now we have a "fix".**
Or do we even only want to support Edge?  **IE11 would be nice, anything Promises+ is "supported" but core functionality (basic editing) should work IE9+ afaik.**
RE OS: **The current testing platforms we have is sufficient.**

RE automating mobile devices IE

[2020-07-15 16:08] #4162 closed

[2020-07-15 16:15] #3966 closed

[2020-07-15 16:35] #4147 closed

[2020-07-15 16:37] #3945 closed

[2020-07-15 16:48] cypher0n3 commented on #4123
No, I believe this issue persists with regard to operating a Etherpad instance in a K8S cluster behind an ingress controller.  I resorted to the work-around I mentioned in my original post (giving the container its own IP in the load balancer), but I would not call this an acceptable solution for most Kubernetes users.

I have the luxury (or headache, depending on how you look at it) of operating

[2020-07-15 16:51] cypher0n3 commented on #4123
I would disagree and argue that this is an issue, at least with regard to Etherpad support in Docker containers.  From my experience working with Docker containers, Etherpad's support for docker seems to be very odd, especially in that customizing the Etherpad Docker instance requires rebuilding Etherpad from source; in the world of Docker, that's rather abnormal.

[2020-07-16 09:49] JohnMcLear commented on #3610
I'm still unable to replicate this and now with test coverage up in Travis I am confident our solution is working.  If someone can provide steps to replicate I will re-open this issue

[2020-07-16 09:49] #3610 closed

[2020-07-16 09:51] #4006 closed

[2020-07-16 09:51] JohnMcLear commented on #4006
#4012 merged.

[2020-07-16 09:53] JohnMcLear commented on #3620
I'm now happy with our list handling in Etherpad so this can be closed.  The current behavior(at time of writing this comment) and test coverage is the expected UX.

[2020-07-16 09:53] #3620 closed

[2020-07-16 09:55] JohnMcLear commented on #2107
Btw the new logic for storing additional atext is in so this should be closed but if people experience an issue please do create a new issue and refer to this one.  I want to deal with each individual cause of problem case-by-case with the main goal to create automated logic to restore a pad upon detected corruption in real time.   That's the dream as corruption is inevitable.

[2020-07-16 09:55] #2107 closed

[2020-07-16 09:56] JohnMcLear commented on #4157
@gnd any update?

[2020-07-16 09:58] JohnMcLear commented on #4032
I think it's safe to close this now as OP is writing a plugin to make what he wants.

[2020-07-16 09:58] #4032 closed

[2020-07-16 09:58] JohnMcLear commented on #3664
@seballot will we see a PR with your fix in soon?  I ask because I finish my EP work soon!

[2020-07-16 10:02] JohnMcLear commented on #3463
Closing as the big warning is in and it appears ep_hash_auth has more users.

[2020-07-16 10:02] #3463 closed

[2020-07-16 10:05] JohnMcLear commented on #3371
@marcovtwout I'm going to assume since 1.8.4 you can't replicate this?  I will close but if you can still replicate in 1.8.4 let me know and I will re-open and solve ASAP.

[2020-07-16 10:05] #3371 closed

[2020-07-16 10:06] Erika-epr opened #4170 "Authentication required"
I have installed Etherpad Lite 1.8.3 on Centos7
with the standard settings and the user with cleartext passwords in the settings.json

I open a browser for the first time and log in, does the login work
If you close the complete browser and open it again, you will always be asked for the password
after restarting the service, you can log in again
if you open only one new tab, you can log in as oft

[2020-07-16 10:26] JohnMcLear commented on #4170
Please use latest version of Etherpad, this issue was resolved.

[2020-07-16 10:26] #4170 closed

[2020-07-16 10:29] Erika-epr commented on #4170
Thx, i will use the latest version and test it

[2020-07-16 10:30] JohnMcLear commented on #3884
Closing as duplicate of #3748

[2020-07-16 10:30] #3884 closed

[2020-07-16 10:30] JohnMcLear commented on #3748
https://github.com/ether/etherpad-lite/blob/211541e122758185571a994a10133320a26a0c68/tests/frontend/specs/scroll.js is a copy of the original tests that were broken as browsers/UI was changed.

[2020-07-16 10:30] seballot commented on #3664
Hi @JohnMcLear, the fix is already merged ! Probably with a PR where I was doing multiple UI improvements

[2020-07-16 11:10] JohnMcLear commented on #3664
Okay cool, will close it up @sudoman please see if the UX is okay to you :)

[2020-07-16 11:10] #3664 closed

[2020-07-16 11:10] JohnMcLear commented on #3664
@seballot just for reference can you refer to the commit that fixed this?  I didn't see any commits land recently from you :)

[2020-07-16 12:45] seballot commented on #3664
Yep was this commit : 7aa7e02e273c66936516f1ba87f435e4fe206c75
But as I said, it's mixed up other others small improvements

[2020-07-16 12:46] seballot commented on #3664
Actually all my commits I've been merged into one, so the original commit for this ticket is this one : https://github.com/ether/etherpad-lite/pull/4017/commits/9ef38436a14c90a5bbba2db8b0d8070f12c6226c

[2020-07-16 12:59] JohnMcLear commented on #2965
Steps to replicate.

1. Install a plugin via cli ``npm install ep_email_notifications@0.1.4``
1. Update a plugin via the web UI

Language strings wont be updated in UI.

But this appears to be part of a different issue.  This plugin isn't showing right locale for me.  Will try ep_comments_page next.

[2020-07-16 13:43] #3987 closed

[2020-07-16 13:47] JohnMcLear commented on #3940
I just need to update package.json and package lock...

[2020-07-16 13:49] JohnMcLear commented on #3506
Tldr; write test coverage

[2020-07-16 13:59] marcovtwout commented on #3371
I don't have the document readily available to reproduce the original error, but I'm not sure it is fixed yet. Comparing the code from two years ago and now, I see an extra condition check that calls `console.error` when `curSplice[sline]` is undefined. But note that `console.error` will not stop execution: the code continues and will probably trigger the same error as above, this time in line 797

[2020-07-16 14:33] ziofat commented on #3506
I open this issue because we had a project based on etherpad back in 2018. I removed this limit and it did not raise other issues in my observations.
It's great if you can do a test on it.

[2020-07-16 14:46] webzwo0i commented on #3371
ack, this should be fixed when https://github.com/ether/etherpad-lite/pull/2911 lands. I'm on it now.

This bug here is in the timeslider so I think I will be able to reproduce when importing crafted changesets. Of course it should never crash the instance (because malformed files could always be imported...), however I suspect this bug can happen during normal editing

So it would be great in cas

[2020-07-16 14:52] JohnMcLear commented on #3371
I disagree.

Modern Etherpad by default doesn't allow unsupported files to be imported.

I have fuzz testing for import, file contents and pretty significant changeset and contentcollector in unit and integration coverage.

While it's plausible this case exists I'd say since the recent changes its improbable it can be reproduced.

The edge case I can consider is if the pad contents was written in

[2020-07-16 14:58] webzwo0i commented on #3371
OK. Will look into this a little bit and report back.

[2020-07-16 15:04] marcovtwout commented on #3371
@JohnMcLear Alright! If I ever encounter the error again I will report back :)

[2020-07-16 15:19] JohnMcLear commented on #3371
Awesome thanks!

[2020-07-16 16:27] #2965 closed

[2020-07-16 16:30] JohnMcLear commented on #230
I'm gonna document what needs doing and then make a bounty as I won't have time to complete this work before I sign off.

[2020-07-16 16:37] #3940 closed

[2020-07-16 16:47] JohnMcLear commented on #3037
![image](https://user-images.githubusercontent.com/220864/87698913-09ae7b00-c78c-11ea-9318-f90a28d965c9.png)

I used shift space to create what should be a nbsp between 100 and km but as you can see it ends up being a line break.

So the bug is still open and present in FF, Chrome, Safari & Edge.

[2020-07-16 20:36] webzwo0i commented on #3371
@JohnMcLear you are right. https://github.com/ether/etherpad-lite/blob/develop/src/node/handler/PadMessageHandler.js#L1306 getChangesetInfo is wrapped in try-catch so those exceptions don't make it crash anymore

[2020-07-16 20:49] JohnMcLear commented on #3371
Thanks for the spot @webzwo0i ..  Been balls deep in EP code for 6 month now so nice to know I can spot something I handled without a deep dive.

[2020-07-16 21:00] joassouza commented on #3506
Just my 2 cents...
We've been using the limit of 20.000 chars for more than one year without any problem

[2020-07-16 21:21] Gared commented on #3373
You mean something like that? https://jose.readthedocs.io/en/latest/
I don't get the idea behind the signing. For now we just offer a list of packages to the users, but honestly we don't know what these plugins are doing (maybe they are doing bad stuff). If someone wants to offer malicious plugins he can do it right now and signing of the plugins.json won't help at all.

Please let me know what do

[2020-07-16 22:57] JohnMcLear commented on #3373
I agree with @Gared .

We aren't the Internet police here but perhaps the logic here is a checksum for a plugins filesystem Vs what the update thinks it should be?

This fee

[2020-07-16 22:57] JohnMcLear commented on #3373
Mm

[2020-07-16 23:04] JohnMcLear commented on #3373
Final thoughts/note from me.

Who controls static.etherpad.org other than me?  Namecheap?  Gared?  Mux?

If gared is hit by a bus is all the logic on his box open source/able to be brought back up quickly?

[2020-07-16 23:50] sudoman commented on #3663
I've discovered that this issue comes up even on Firefox 78 with a fresh dev instance of etherpad-lite. When you seek to the second line of text that wraps over more than one line, this bug doesn't appear at first. Once you press an arrow key to go up or down, this bug starts affecting that paragraph of text, and continues to affect that paragraph.

In the developer tools of Firefox, I noticed tha

[2020-07-16 23:52] sudoman commented on #3663
I should note that I was testing with version `1.8.4` of Etherpad Lite. Could you please re-open this issue? Thanks!

[2020-07-17 08:35] JohnMcLear commented on #3663
We have a separate issue open for the behaviour you are experiencing.  Please refer to that

[2020-07-17 09:36] JohnMcLear commented on #3506
Okay I tested with large amounts of characters (20k) as line wrapping limit and **I can 100% see a huge drop in responsiveness.**

Chrome and Edge both tested, both have a huge reduction in performance when the line number length is at 20k.

I also uncommented some testing which I made a long time ago to show that this issue is real and that the hard coded number should not be changed.  To run the

[2020-07-17 09:36] #3506 closed

[2020-07-17 09:45] JohnMcLear commented on #1627
Looks like this was actually resolved in  multiple_authors_clear_authorship_colors.js on 27th of May.

[2020-07-17 09:45] #1627 closed

[2020-07-17 11:56] JohnMcLear commented on #4162
Okay I'm giving up with IE11.  Too many things are broken.  Let's can it.

[2020-07-17 11:56] JohnMcLear commented on #4162
Firefox 52+
Chrome 55+

[2020-07-17 12:41] JohnMcLear commented on #4100
Can replicate in Firefox ,

can't in Chrome

[2020-07-17 15:40] #4100 closed

[2020-07-17 15:58] JohnMcLear commented on #3037
https://github.com/ether/etherpad-lite/pull/4177

[2020-07-17 16:25] JohnMcLear commented on #230
Well that was easy, took 5mins.  https://github.com/ether/etherpad-lite/pull/4178

[2020-07-17 16:25] sus16cn commented on #4040
Hi John, that's right!
I ran the loadTest on the Test server: node app.js http://127.0.0.1:9001/p/load -d 180 -l 100 -a 500
and also on the Productive: node app.js http://127.0.0.1:9001/p/load -l 50 -a 12
there were no Problems.

A user confirmed  to me, if you are already in the pad, you have no problems. The problem occurs with us from 10 to 15 users.

[2020-07-17 17:26] JohnMcLear commented on #4040
180 / 500 are unrealistic numbers imho!  500 authors each doing 1 edit per second is going to break the Internet 🖌️

[2020-07-17 17:41] JohnMcLear commented on #3094
I rebased today.  This PR is so involved that I don't want to merge it myself.

The PR just handles nonce's, it isn't great for fixing the inlineJS issues but for the most ``npm install ep_helmet`` saves the day :)

[2020-07-17 17:45] JohnMcLear commented on #4165
Confirmed.

[2020-07-17 18:27] yorickreum commented on #4040
Hi @JohnMcLear, sure. But I can affirm, the Etherpad installations withstood it! Impressing. However, this also means that whatever exactly crashes our instance (see closed issue https://github.com/ether/etherpad-lite/issues/4090) probably is not really depending on the activity in the pad, which probably means that it is yet another issue.

[2020-07-17 19:17] JohnMcLear commented on #4040
Noted @yorickreum.  But if I can fix this issue it's probable/possible it will fix your issue.  The mismatched apply is essentially a race condition that I need to remedy and this issues bug fix will hopefully cover all eventualities of that race condition happening irrespective of the cause.

[2020-07-17 21:38] Gared commented on #3373
@JohnMcLear You control the DNS for static.etherpad.org and I have control over the server.
The source code for the plugin-updates is in my private repo, but I think I can open it to the world if you want :-)

[2020-07-17 22:20] JohnMcLear commented on #3373
@gared all active foundation members also have access to dns.  Currently your server would be where things fell apart of something went wrong.

Both the source code for the service and access to the hosting needs to be available to the foundation members.  The foundation will obviously pick up the bill for the server etc.  I wonder if heroku or something would suffice or maybe we could use git to

[2020-07-18 09:25] JohnMcLear commented on #4040
Interesting. ``mismatched apply`` only is applicable to applying changesets to a string, not a modification of pad content which is the only thing the loadTest tool should be doing.  I will investigate further..

[2020-07-18 18:36] JohnMcLear commented on #4040
Just an update on this in case things go stale.

I can't remember the logic for applying an attribute to a selection using just the changeset.js without the document attribute manager so I have asked for help.

It's something someone more recently familar will be able to help with.  Once I have that logic I will include it in the load tests and hopefully be able to simulate the bug.

If there are

[2020-07-19 15:31] #4165 closed

[2020-07-19 21:45] JohnMcLear commented on #1866
4036 merged in, should handle it :)

[2020-07-19 21:45] #1866 closed

[2020-07-19 21:54] #4016 closed

[2020-07-19 21:55] #3748 closed

[2020-07-19 22:58] JohnMcLear commented on #2293
Closing as stale and no recent reports.

[2020-07-19 22:58] #2293 closed

[2020-07-20 08:16] JohnMcLear commented on #4157
@gnd can I go ahead and close this now?

[2020-07-20 16:01] alexanmtz commented on #3763
https://gitpay.me/#/task/357

[2020-07-20 16:03] alexanmtz commented on #3763
@JohnMcLear @muxator if it is still unsolved, why is closed?

[2020-07-20 16:39] JohnMcLear commented on #3763
I pinned it.

[2020-07-20 19:23] Gared commented on #3373
@JohnMcLear No etherpad itself uses the plugins.json. There is no simple way in npm to list all packages with a prefix.
I will publish the source code for the backend and then we can decide where we want to host it

[2020-07-21 02:45] Frogging101 commented on #4170
@Erika-epr Note that the fix is in the current tip of master, and not release 1.8.4.

[2020-07-21 05:16] JohnMcLear commented on #4170
Thanks @Frogging101 .  We work to develop branch fwiw so it's often best to use that to check for lates there as we rarely get time to release due to a semi time consuming release procedure.

We are due a release soon

[2020-07-21 12:00] webzwo0i opened #4188 "Frontend tests problems with Saucelabs"
There are still some problems with frontend tests on Saucelabs. I am working on this, tracking this here.

1. after the async update, queue.drain must be called with a callback (fix is https://github.com/ether/etherpad-lite/commit/ccfbe22c06eb735b6dd853fd9106a8e1ffb8e4c7)
2. travis cancels the SL-job when no output was received for 10 minutes, but in that case mocha results won't be logged (fix is

[2020-07-21 12:08] JohnMcLear commented on #4188
Are things stable if you just target one browser?  I often found that the more devices you target the less reliable saucelabs was

[2020-07-21 12:21] JohnMcLear commented on #3373
Okay perfect.  Thanks

[2020-07-21 13:13] #4157 closed

[2020-07-21 21:24] #4013 closed

[2020-07-22 07:39] Oremountainflorian commented on #4040
Just a short update/report:

Yesterday the problem occured again for me in a pad with only 2 users so I doesn't seem to be dependent on the number of users as @yorickreum already wrote (see https://github.com/ether/etherpad-lite/issues/4090). The problem arose after 2 minutes and lasted for 1 minute before I closed the tab and reopened the pad in a new tab which eventually solved the problem for t

[2020-07-22 07:45] JohnMcLear commented on #4040
@Oremountainflorian I'd be tempted to suggest testing without plugins to see if it continues.

[2020-07-23 15:19] JohnMcLear opened #4190 "Easysync tests aren't run when backend tests are run"
Easysync tests.js exists in node folder.  They should be refactored and included in the backend tests.

[2020-07-23 15:46] webzwo0i opened #4191 "Connection diagnostics don't work"
Since https://github.com/ether/etherpad-lite/commit/d26df864902510ca7f325b786183dc9031e04e42 diagnostics from disconnects are POSTed to the wrong url. We listen to /ep/pad/connection-diagnostic-info in https://github.com/ether/etherpad-lite/blob/develop/src/node/hooks/express/apicalls.js#L8 while that change made requests go to ep/pad/connection-diagnostic-info relative to path, so when you are in

[2020-07-23 16:01] webzwo0i commented on #4190
I started this some years ago but at that time did not now mocha very well.
https://github.com/webzwo0i/etherpad-lite/blob/tests-backend-tests/tests/backend/specs/easysync/easysync_tests.js

I can continue porting them if you haven't started

[2020-07-23 16:20] JohnMcLear commented on #4190
If you started will leave you to finish.  My goal was to take the apply test logic and implement that in load testing

[2020-07-23 18:45] joassouza opened #4193 "Error with clientVars hooks"
Since we've updated to the 1.8.4 we've got a bug where the variables set on
clientVars is not working. A deep look in to the code, I've realised there's one
part of code that's causing the error. That was added on https://github.com/ether/etherpad-lite/commit/d1330a1e1c0fc536244c77605f0612cf4412e9fe.

The misbehaviour happens because it has async code inside a forEach loop
https://github.com/ether

[2020-07-23 19:32] JohnMcLear commented on #4193
Can we get test coverage in for this please?

[2020-07-23 19:42] joassouza commented on #4193
I don't know how to test it, could you give me some guidance?
What I did to fix it, it was kind of follow your comment recommendation :)
https://github.com/ether/etherpad-lite/pull/4194/files#diff-e4533b536e57db4e3299a5214e5c2e24L86

[2020-07-23 19:47] JohnMcLear commented on #4193
fix looks good.  I think the best test coverage is something I documented here: https://mclear.co.uk/2020/07/18/suggestions-for-improving-etherpad-plugins/ where certain plugins(that use hooks in X way) are tested on merge to develop.

[2020-07-23 19:48] #4193 closed

[2020-07-24 09:56] tobidwest opened #4195 "Install just using ftp"
Is there a way to install Etherpad by just uploading some files via ftp? I can't run commands on my hosting plan.

[2020-07-24 10:58] JohnMcLear commented on #4195
Sorry but no.

[2020-07-24 10:58] #4195 closed

[2020-07-24 14:33] webzwo0i opened #4196 "Handle deprecation warnings after jquery update"
I prepared a [gist with integrated versions of jquery-migrate](https://gist.github.com/webzwo0i/f93fbb8f06a85686abcdeff08298d01d) that replace src/static/js/jquery.js

That's a jquery-plugin that should help people with transitioning to new jquery versions. There are two versions of it in the gist atm: one for the old jquery version before @JohnMcLear's update last month and one for the version af

[2020-07-27 15:54] webzwo0i commented on #4132
reopening this and assigning it to myself
The reason is although a patch is in develop that seems to fix the problem for me and @rittmeier , the last days I discovered that reverting the change does not expose the bug again for me... That's really strange.
Also there is no clear explanation why the jquery update that made the ready-event async triggered this specific bug.

I get "Pad never loaded"

[2020-07-27 16:32] webzwo0i commented on #4188
Yes and no. The problems described above are bugs in runner.js/remote_runner.js, fixes with explanations will come today! Without those it will look like everything is fine, while there are actually failing tests due to newPad (or something else) in a before(Each)-hook throwing. (You can see failing before-hooks on the left side during tests, but they are not logged because mocha's "test end"-hook

[2020-07-28 10:42] Gared commented on #3373
Published the code here: https://github.com/ether/plugin-loader

[2020-07-28 11:11] JohnMcLear commented on #3373
Awesome ta!  Thinking of building in some of the checkPlugins.js I built.  Any thoughts on that?

[2020-07-29 02:42] ovari opened #4202 "[i18n / l10n] Additional strings"
Please add additional strings to
https://github.com/ether/etherpad-lite/blob/develop/src/locales/hu.json
and the other locales.

### When joining an Etherpad
For example
https://video.etherpad.com/p/A7rHLQSTbUuBohq6fOK1
please add
[code]
![Landing page](https://user-images.githubusercontent.com/17465872/88749904-ad8a2480-d197-11ea-8b9e-db73925f6e4f.png)

### When in a Etherpad

For example
https:/

[2020-07-29 02:45] ovari opened #4203 "Language switch ?lang=<locale> and language selector/drop-down box"
1. Please allow adding a language switch, for example `?lang=fr` for `French`
https://video.etherpad.com/?lang=fr

2. Please add a language/locale selector/drop-down box on the landing page at
https://video.etherpad.com/

What do you think?

Thank you

[2020-07-29 09:58] JohnMcLear commented on #4202
Please read the docs

https://translatewiki.net/wiki/Translating:Etherpad_lite

If you require translations in plugins please send pull request to each plugin individually.

[2020-07-29 09:58] #4202 closed

[2020-07-29 10:27] JohnMcLear commented on #4203
Seems like a good idea and easy to do.  Just copy paste the logic from pad.html and also see how we handle URL Params in pad.js.

[2020-07-29 10:28] JohnMcLear commented on #4188
Fwiw I still find saucelabs inconsistent on which tests fail / pass but with a few runs if we can isolate the ones that frequently fail we can look to see why it's those and not others.

[2020-07-29 11:09] ovari commented on #4202
The following weren't in the file
[code]

How does one translate them? The don't seem to be in a plugin as they are shown on the main [Etherpad](https://etherpad.org/) page. Image shown below

![image](https://user-images.githubusercontent.com/17465872/88793054-8c4d2680-d1df-11ea-8389-51bd30c4da2c.png)

Thank you

[2020-07-29 11:12] ovari commented on #4202
The following wasn't in the file
[code]

How does one translate them? The don't seem to be in a plugin as they are shown on the main Etherpad page. Image shown below
![image](https://user-images.githubusercontent.com/17465872/88793347-ff569d00-d1df-11ea-9674-2176fa966497.png)

Thank you

[2020-07-29 11:19] ovari commented on #4202
https://translatewiki.net/wiki/Translating:Etherpad_lite

The **test site** link http://beta.etherpad.org/ redirects to https://video.etherpad.com/.

Can you please advise:
1. What _plugins_ the test site has?
2. How long does it take for _new strings_ and _translations_ to be live on the test site?

Thank you once again.

[2020-07-29 11:20] JohnMcLear commented on #4202
Find the plugin, find the translation file, send pull requests to those plugins

1. "What plugins the test site has?", see README.md in etherpad-lite
2.  No set amount of time, depends when I get around to updating it :)

[2020-07-29 13:52] hydrogenpi opened #4204 "Is there a way to go back to the old style/theme?"
I really am not a fan of the new aesthetic makeover, how to keep the updated code base but revert to the old styles?

* * *

name: Feature request
about: Suggest an idea for this project
title: ''
labels: enhancement
assignees:

* * *

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when (...)

**D

[2020-07-29 14:18] webzwo0i commented on #4204
Is skinName parameter in settings.json what you are looking for?

[2020-07-29 14:19] webzwo0i commented on #4204
Not sure if there is a plugin or way to change this as a user

[2020-07-29 14:56] JohnMcLear commented on #4204
Yea this is changable server-wide in ``settings.json``.  Afaik ep_themes provides user changable edits but IDK about going back from colibris to no-skin.

[2020-07-29 14:56] #4204 closed

[2020-07-29 17:38] webzwo0i commented on #4188
I configured a cron job to run daily. It's not possible to run it more often, but theoretically we can trigger it via Travis API hourly. I have a script at https://github.com/webzwo0i/ep-travis-jobs to collect all the results, we can use that to isolate them.

I did a very quick look,for instance https://github.com/ether/etherpad-lite/blob/develop/tests/frontend/specs/chat.js#L113
This is sometime

[2020-07-29 17:58] webzwo0i commented on #4188
stupid mistake for retry-logic (https://travis-ci.org/github/ether/etherpad-lite/jobs/713000220#L2167) fix is in https://github.com/ether/etherpad-lite/pull/4206

[2020-07-30 07:37] nejdl commented on #4143
I have updated to Etherpad version 1.8.4. as you suggested. We've been testing the pad for a while now and under circumstances where it had failed before. The problem did not return so I can confirm that the update has successfully fixed the problem! Thank you for your help again.

[2020-07-30 08:54] HMarzban opened #4207 "Relative static file path and Pad names depend on the URL"
**Describe the bug**

Hello John, two dependencies blocking us, to make a plugin.

1. Relative static files path, which depends on the URL path.
2. Pad name, which the pad management system also gets that name from the URL path.

#### What do I want to achieve with the plugin?

I'm going to create a sub pad! like this one `/p/:pad/:subpad`. the navigation flow is so simple. when a user navigates t

[2020-07-30 10:31] ovari commented on #4202
https://static.etherpad.org/

https://github.com/ether/ep_headings2/pull/30
https://github.com/ether/ep_spellcheck/pull/14
https://github.com/ether/ep_webrtc/pull/63

[2020-07-30 10:51] JohnMcLear commented on #4207
Just to be clear, I'm not gonna be spending any time on this.  Sorry, I have other commitments 🔢

[2020-07-30 11:00] JohnMcLear commented on #4202
?

[2020-07-30 12:28] webzwo0i commented on #4188
OK, I have the list now https://github.com/webzwo0i/ep-travis-jobs
The "errors_in_x_jobs" are based on the last x jobs that returned errors.
It's not perfect because as it includes failures that have already been fixed or that were introduced during coding but never merged in develop.

`makes chat stick to right side of the screen then makes it one step smaller Error: Uncaught Error: expected fals

[2020-07-30 12:36] webzwo0i commented on #4188
The noise of failing tests that have already been fixed and the fact that I skip all jobs that have more than ten errors is problematic.

I think I go for hitting the Travis API for some time to run a frontend test build. When I set SL-parallelism to maybe 3 or 4 it should be enough for our "regular" builds to run. Because a test runner takes up to 8 minutes right now (Safari) and Travis cancels a

[2020-07-30 13:57] HMarzban commented on #4207
It's okay, as long as you know, this feature is a big shift in the core.
Do you think if we work on it, it has a chance to merge with the master?

[2020-07-30 14:01] JohnMcLear commented on #4207
Yea if it's stable it absolutely would land in develop > master/release :)

[2020-07-30 20:30] Gared commented on #3373
The checkPlugins.js is mainly for plugin developers and the goal of the plugin-page is to give etherpad-admins an overview about the plugins. In my opinion this script is not directly something for the plugin-page, but I started a few weeks ago to parse the ep.json and see what hooks the plugin is using and displaying icons at each plugin. Sadly most of the hooks changes something in the frontend

[2020-07-31 21:32] fionera opened #4208 ""Uncaught TypeError: Cannot read property 'length' of undefined" after upgrading"
**Describe the bug**
Like #2107 after migrating to 1.8.4 some pads dont work and throw the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use 1.6.3
2. Upgrade to 1.8.4
3. See error

**Expected behavior**
The pads should work

**Screenshots**
-

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser: Chrome
 - Version: 83

**Additional contex

[2020-07-31 21:39] JohnMcLear commented on #4208
Export the .Etherpad of the pad.

/p/whatever/export/etherpad

And share it somewhere someone can access...

[2020-07-31 22:01] fionera commented on #4208
Hi :) Thanks for the fast response. Here the exported File: https://trash.ctdo.de/b/5f2494c1d04/einkaufsliste.etherpad

[2020-08-01 01:51] ovari commented on #4202
@JohnMcLear can you please help?

1. Can you please merge ether/ep_markdown#37?
2. Is `ep_comments_page` the same as `ether/ep_comments`?
3. Can you please advise where ep_embedded_hyperlinks2 is located?

Thank you

Updating information at https://github.com/ether/etherpad-lite/issues/4202#issuecomment-666286170

[2020-08-01 01:56] ovari commented on #4202
The https://video.etherpad.com/ site doesn't seem to have the https://github.com/JohnMcLear/ep_font_color/ which is stated at https://github.com/ether/etherpad-lite#getting-the-full-features. Can you please advise the plugins that need translating as we seem to not have found the location of what plugins the test site has from the README.md in etherpad-lite.

Thank you

[2020-08-01 02:17] slel commented on #4202
Not sure if that answers one of your questions, but
searching at https://static.etherpad.org/index.html
for `ep_embedded_hyperlinks2` points to the npmjs page
https://www.npmjs.com/package/ep_embedded_hyperlinks2
which has a link to the repository
https://github.com/seballot/ep_embedded_hyperlinks2

[2020-08-01 03:13] webzwo0i commented on #3733
I stumbled upon this issue as I was looking for the consequences it has, when someone updates the encoding/collation of the server.
@0x46616c6b
With *recent* ueberdb it should not make any difference if its utf8mb4_unicode_ci, _general_ci or _bin. The reason is the use of `BINARY` in https://github.com/ether/ueberDB/blob/master/databases/mysql_db.js#L133 and other places in mysql_db.js, that essen

[2020-08-02 12:13] JohnMcLear opened #4209 "If ???? is found in MySQL database then console.warn"
Some Etherpad instnaces don't have their MySQL database set up right, this leads to pad curruptions with mismatched changesets.

The database table "store" doesn't have utfmb8 in most of these instances.  I propose 2 changes.

1. Notify admin if a pad fails to load pad due to ``value`` including ``????``.  We already notify if database is incorrectly configured but this can be missed on startup so

[2020-08-02 12:22] JohnMcLear commented on #4208
[code]

on client

[code]

I feel like something is missing here, like some information, for example..

What database are you using?

Are you using plugins?

Afaik this is all requested in the issue template though so I can't imagine you omitted this intentionally so **I have assumed dirtydb and no plugins as is the default.**  Can you please confirm?

[2020-08-02 13:32] fionera commented on #4208
Oh sorry it was very late when I opened the issue. I am using mysql as database and no additonal plugins.

[2020-08-02 14:19] JohnMcLear commented on #4208
I think your database is misconfigured.  Check your charsets etc.

[2020-08-02 15:45] fionera commented on #4208
I use utf8mb4 as Charset in the ENV Variables and the Database has the following config:
[code]

[code]

Is there any way how I can check if the data is correct in the db, like a cleanup command to delete corrupt data?

[2020-08-02 15:51] JohnMcLear commented on #4208
Looks right to me.

There is checkPad.js but I don't know how reliable it is at the moment

[2020-08-02 17:20] JohnMcLear commented on #3373
@Gared agreed we should take this topic into the right repo.  Will frame it now.

[2020-08-02 20:29] webzwo0i commented on #4208
https://gist.github.com/webzwo0i/c6d75c09c4db0599ded42e7988cb39aa#file-checkpaddeltas-js this is an fast fix of checkPadDelta.js ,just calls checkRep on every revision and tries to applyToAText and comparing the result for every key revision

copy it to bin/ and call it like node bin/checkPadDeltas.js your-pad-name

[2020-08-02 21:51] webzwo0i commented on #4208
Can you also check your store table character set
`SELECT CCSA.character_set_name FROM information_schema.`TABLES` T,information_schema.`COLLATION_CHARACTER_SET_APPLICABILITY` CCSA WHERE CCSA.collation_name = T.table_collation AND T.table_schema = 'ctdopad' AND T.table_name = 'store'`
and can you paste the relevant lines of your my.cnf (especially init_connect if its there)
and also
`show variable

[2020-08-03 11:34] webzwo0i commented on #4191
Note I was wrong about locales.json, it's is relative already.

[2020-08-03 11:36] webzwo0i commented on #4191
And jserror seems to be relative too. Need to investigate if it is really just diagnostic-info that makes problems

[2020-08-04 07:42] mitar commented on #2683
unstale

[2020-08-04 16:57] #3593 closed

[2020-08-05 05:57] webzwo0i commented on #4188
side note:
We use https://github.com/admc/wd that only supports old Selenium ("legacy" 2). Had no luck migrating to webdriver.io yet, while still preserving the ability to launch our test suite in a local browser.

[2020-08-05 06:34] fangwei57 opened #4213 "TypeError: Cannot read property 'on' of undefined"
**TypeError**
When i  deploy it with docker

**To Reproduce**

1. run the docker image  "etherpad/etherpad"
2. upload or download with office file  at web page
3. contanier close
4. See error

**Expected behavior**
docker image etherpad/etherpad:lasted
`etherpad    | All relative paths will be interpreted relative to the identified Etherpad base dir: /opt/etherpad-lite
etherpad    | Random string

[2020-08-05 07:08] webzwo0i commented on #4213
can you docker run it with ls -la /usr/bin/soffice as last command please?

[2020-08-05 07:16] fangwei57 commented on #4213
i  use docker-compose to run it .
the config

`version: '2'
services:
  etherpad:
    image: etherpad/etherpad
    container_name: etherpad
    hostname: etherpad
    restart: always
    environment:
       - DB_TYPE=mysql
       - DB_HOST=192.168.182.128
       - DB_PORT=3306
       - DB_NAME=etherpad
       - DB_USER=root
       - DB_PASS=mysql123
    ports:
       - "9001:9001"
    volumes:

[2020-08-05 07:19] fangwei57 commented on #4213
services:
  etherpad:
    image: etherpad/etherpad
    container_name: etherpad
    hostname: etherpad
    restart: always
    environment:
       - DB_TYPE=mysql
       - DB_HOST=192.168.182.128
       - DB_PORT=3306
       - DB_NAME=etherpad
       - DB_USER=root
       - DB_PASS=mysql123
    ports:
       - "9001:9001"
    volumes:
       - /usr/local/office/libreoffice-6.3.6.2:/usr/bin/soffice

[2020-08-05 07:41] webzwo0i commented on #4213
you can use 'command: bash -c "ls -la /usr/bin/soffice"' inside your docker-compose.yml

[2020-08-05 08:05] fangwei57 commented on #4213
i use `volumes :
- /usr/local/office/libreoffice-6.3.6.2:/usr/bin/soffice`  so document list as the same as the path '/usr/local/office/libreoffice-6.3.6.2 ' that installed on the host。

![image](https://user-images.githubusercontent.com/20739640/89387618-53f49d80-d735-11ea-96de-7087a4ee3536.png)

**If i do not config the volumes ,the container will show the follow error **

` etherpad    | All re

[2020-08-05 08:08] fangwei57 commented on #4213
![image](https://user-images.githubusercontent.com/20739640/89387780-93bb8500-d735-11ea-9c9a-346329d33b54.png)

and entry  the container without the path
![image](https://user-images.githubusercontent.com/20739640/89387956-dbdaa780-d735-11ea-83de-0fa10eb472c9.png)

[2020-08-05 08:13] webzwo0i commented on #4213
in /usr/bin/soffice a binary file is expected, not a directory. Try setting the volume target to /usr/local/.... eg
`/usr/local/office/libreoffice-6.3.6.2:/usr/local/office/libreoffice-6.3.6.2`, find out where your executable is located (find /usr/local/office/libreoffice-6.3.6.2 -type f -executable) and set your soffice environment variable to that destination.

Is there a reason you build libreo

[2020-08-05 10:03] fangwei57 commented on #4213
It works! thankyou!

`FROM etherpad/etherpad
USER root
COPY ./sources.list  /etc/apt/sources.list
COPY ./rootfs/defaults/settings.json /opt/etherpad-lite/settings.json
RUN apt-get update && apt-get install -y --no-install-recommends libreoffice-writer

EXPOSE 9001`

change to chinese repo
`deb http://mirrors.ustc.edu.cn/debian stable main contrib non-free
# deb-src http://mirrors.ustc.edu.cn/debia

[2020-08-05 10:04] #4213 closed

[2020-08-05 10:33] slel commented on #4213
@fangwei57 can you edit your last comment
to use triple-backticks to display blocks of code?

Something like

[code]

will render properly -- otherwise comments render as titles.

[2020-08-05 17:22] JohnMcLear commented on #4188
@webzwo0i are you fixing the settimeouts or me?  Thanks

[2020-08-07 10:09] webzwo0i commented on #4188
will do it today

[2020-08-07 14:53] etienneleba opened #4214 "Docker-compose etherpad container with database container"
**Describe the bug**
Hi,
I'm trying to link my etherpad container to a database (mariadb database) but it's not working and I'm not figuring out why. I tried to build the image by myself but it doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. create a docker-compose file with this lines :
[code]
**Expected behavior**
It should work, but I'm getting this error :
[code]

**Desktop

[2020-08-08 01:51] webzwo0i commented on #4188
not finished yet... I wanted to beautify them a little bit, but this took longer than expected.
https://github.com/ether/etherpad-lite/compare/develop...workaround-dom-latency-in-tests#diff-48fdde5ec1dd1027446ff1f41bb125db I cannot handle jquery's Deferred better...

I am triggering rebuilds on travis for the rest of the night, I think tomorrow I am able to prepare a PR

[2020-08-08 11:38] ovari commented on #4202
All the plugins that are used in the test site should be merged. Cf. https://github.com/ether/etherpad-lite/issues/4202#issuecomment-666286170. If any plugins have been missed, please feel free to advise so this can be remedied.

@JohnMcLear can you please update the test site to enable `testing Etherpad[Develop Branch] and Plugins`?
Cf. https://github.com/ether/etherpad-lite/wiki/Sites-that-run-E

[2020-08-08 11:48] ovari commented on #4202
@muxator could you please advise when these translations would be available in the released branch?
https://github.com/ether/etherpad-lite/tags

Thank you

[2020-08-08 11:52] JohnMcLear commented on #4202
I would need to publish all the plugins,.

Afaik Etherpad plugins do/does test against the develop branch.

I release on bugfix/feature add/.travis config change.

[2020-08-08 11:58] ovari commented on #4202
Does **all** plugins mean there are more plugins than https://github.com/ether/etherpad-lite/issues/4202#issuecomment-666286170 that need to be translated into `hu`?

Do you know when a `bugfix/feature add/.travis config change` is planned?

Sorry, we don't have a server; however, it is hoped that anyone who does will benefit from the `hu` translations.

Thank you once again.

[2020-08-08 12:03] JohnMcLear commented on #4202
@ovari the list of plugins on video.etherpad.com is fluid, but for the moment I would say they are all translated with your thanks.  Did you get the HTML / EJS modified for the other plugins you wanted?  I don't recall merging it!

I don't know when a release is due, it really depends on what changes mostly with travis as that will trigger an automated update/release.  I'm not willing to trigger i

[2020-08-08 14:59] webzwo0i commented on #4188
Triggering the same build I run into https://github.com/travis-ci/travis-ci/issues/7443 The results in travis web ui (and also using travis-gem locally to get the logs) are not 100% reliable in the first minutes after the job finished and after triggering a rebuild they are overwritten. Now I am pushing empty commits to trigger a new build, so everything can settle and I can watch for sporadic fai

[2020-08-08 15:30] JohnMcLear commented on #4188
I am not working hard today.  I am hardly working...  Seriously tho I'm mostly gardening today :P 🌱

[2020-08-10 22:51] #2043 closed

[2020-08-11 10:22] #3293 closed

[2020-08-11 10:22] #3317 closed

[2020-08-11 18:15] #2962 closed

[2020-08-12 03:18] aw6658913 opened #4215 "about tables4"
The drop-down text cannot be displayed,As shown in the figure below

![image](https://user-images.githubusercontent.com/19485727/89971307-7e8eab00-dc8d-11ea-9151-3e60b2f68145.png)

[2020-08-12 03:28] aw6658913 opened #4216 "About upload-image"
After installing the upload image, the interface cannot be displayed
![image](https://user-images.githubusercontent.com/19485727/89971859-f8736400-dc8e-11ea-8292-afd42a584c14.png)

[2020-08-12 09:32] JohnMcLear commented on #4215
Please create issue on plugin repository.

[2020-08-12 09:32] #4215 closed

[2020-08-12 09:33] JohnMcLear commented on #4216
Please create issue on plugin repository.

[2020-08-12 09:33] #4216 closed

[2020-08-12 15:52] rodrigonmelo commented on #3275
Hello guys,
I am a newbie, but I would like to connect mssql to the Etherpad. Do you have a guide for this? Thanks a lot.

[2020-08-12 16:15] JohnMcLear commented on #3275
Docs at: https://www.npmjs.com/package/mssql
[code]
Just set user, pass, server and database in ``settings.json`` to match whatever you setup in mssql.

[2020-08-12 18:45] orblivion opened #4217 ""Restart Etherpad" in settings.json editor in admin does not remove deleted fields"
**Describe the bug**
If I remove a field in the `settings.json` editing Admin panel and click "Save" followed by "Restart Etherpad", the removed field will not be reflected in the effective settings as seen in the site's behavior. New fields and changes to existing fields are reflected, however. Once the server is manually restarted (ctrl-c, re-run), the removed fields are reflected in the effecti

[2020-08-12 19:12] nickhil-tekwani opened #4218 "Can't copy paste when etherpad is in iframe"
**Describe the bug**
I am trying to embed etherpad into an iframe on a different website such that someone can collaborate from either the iframe or the etherpad directly. When in the etherpad directly, copy+paste works great, but from within the iframe there seems to be no access to the clipboard.

I understand that this is is a generally known issue with cross-domain iframes due to security risk

[2020-08-12 20:27] rodrigonmelo commented on #3275
I appreciate your reply @JohnMcLear . Thanks and I would like to post  soon the pad, but I have to receive an authorization if they will allow me a new pad from my workplace.

[2020-08-12 22:43] rodrigonmelo commented on #3275
It does not work like this. There is not a mssql_db file on Etherpad_lite  like this:

`[2020-08-12 10:53:13.167] [INFO] console - Session key loaded from: D:\Program Files\nodejs\etherpad-lite\SESSIONKEY.txt
internal/modules/cjs/loader.js:968
  throw err;
  ^

Error: Cannot find module './mssql_db'
Require stack:
- D:\Program Files\nodejs\etherpad-lite\src\node_modules\ueberdb2\CloneAndAtomicLaye

[2020-08-12 22:50] JohnMcLear commented on #3275
Ueberdb will need mssql

It must not install it by default for some reason??

Are you on latest Etherpad develop branch?

[2020-08-12 23:16] rodrigonmelo commented on #3275
Yes, it should be installed by Ueberdb, but it is not installed on Ueberdb the mssql_db file. I got this with our fellow @jinbullsushil that uploaded the file on his repository.
I got the file and now it works like a charm.

[2020-08-13 07:58] JohnMcLear commented on #3275
https://github.com/ether/ueberDB/blob/master/package.json#L32  it is required...
and it exists in the repo: https://github.com/ether/ueberDB/blob/master/databases/mssql_db.js

I think you need to **update**, feels like this is all I spend my days saying to people lately ;\

[2020-08-13 12:18] rodrigonmelo commented on #3275
Hello John.

Sorry for spending your days in this. I had installed npm install ueberdb2,
not uberdb. However I have appreciated your collaboration and prompt reply
to help people like me. ;)

Thanks,
Rodrigo N. de Melo
rodrigonogueiramelo@gmail.com
+1 613 501 8846

On Thu, 13 Aug 2020 at 03:58, John McLear <notifications@github.com> wrote:

[2020-08-13 12:47] JohnMcLear commented on #3275
https://github.com/ether/ueberDB/blob/master/package.json#L2 is ueberdb2...

I think TLDR; again for anyone is to update Etherpad before posting here 📟

[2020-08-13 14:05] jinbullsushil commented on #3275
Hi,
Is mssql working for you?

On Thu, 13 Aug 2020, 4:46 am rodrigonmelo, <notifications@github.com> wrote:

[2020-08-13 14:08] jinbullsushil commented on #3275
I have used mssql with etherpad. And it is working.

[2020-08-13 14:08] rodrigonmelo commented on #3275
Thanks again @JohnMcLear .
 I downloaded the zip file from etherpad official web site and I did not find the mssql_db.js there. Can you please update there?

[2020-08-13 14:09] rodrigonmelo commented on #3275
Yes, it is working like a charm. Thanks a lot. You saved me. 👍

[2020-08-13 14:12] jinbullsushil commented on #4217
Hi,
Try to open the setting.json into notepad and save the file. After that restart the etherpad.

[2020-08-13 14:30] JohnMcLear commented on #3275
I'm hoping @muxator will do a rls soon. Will ping him.

[2020-08-13 14:34] orblivion commented on #4217
To be clear, the core of the error is in what is meant by "restart etherpad". There are two options:

`#1` Kill the etherpad server, and start it again
`#2` Click the "Restart Etherpad" button in the admin

For `#1`, there is no error. The error comes when I do `#2`.

As you suggested, I tried editing `settings.json` using vim (I'm on Linux), but then clicked "restart etherpad" in the admin. (I di

[2020-08-13 14:44] joassouza commented on #4214
Did you install the mariadb package?
`https://www.npmjs.com/package/mariadb`
Looking your docker-compose file it seems everything is correct. Docker-compose
create automatically links between containers at the same network.

[2020-08-13 15:11] joassouza commented on #4214
Looking the ueberdb repo there are not a special setup for MariaDB. I think we should use
`- DB_TYPE=mysql`
https://github.com/ether/ueberDB/tree/master/databases
You docker-compose file it seems ok. Docker-compose automatically creates links between container
at the same network.

[2020-08-13 16:06] etienneleba commented on #4214
Thx for your answer,

So it's working with mysql type, but the etherpad container in faster than the db one so it fails... It's not a big problem but it's annoying.

Maybe this PR : #3855 will resolve the problem.

Thx for your help :wink:

[2020-08-13 16:06] #4214 closed

[2020-08-15 11:54] #2207 closed

[2020-08-18 01:54] aw6658913 commented on #4215
Can you tell me the issue address?

[2020-08-18 22:04] ovari commented on #4202
Not sure. https://github.com/ether/etherpad-lite/issues/4202#issuecomment-666286170 lists the plugins that are merged. @JohnMcLear are you able to please advise if there are other ones yet to be modified that we have missed?

Can you please advise if `ep_comments_page` is the same as `ether/ep_comments`? Cf. https://github.com/ether/etherpad-lite/issues/4202#issuecomment-667450039

Do you know if

[2020-08-19 09:36] Gredin67 opened #4219 "New line added while typing"
**Describe the bug**
New lines are added while typing writing continues in the new line up or down.

**To Reproduce**
Steps to reproduce the behavior:
1. Type text
4. See new lines introduced automatically

**Expected behavior**
no new line while typing

**Screenshots**
https://forum.arn-fai.net/uploads/default/original/2X/c/cbf0c02db17f3e8de90a3904441d1b11d85a3e09.gif

**Desktop (please complete

[2020-08-19 09:41] JohnMcLear commented on #4219
I doubt this is an Etherpad bug.  We have test coverage in for this sort of stuff..

Can you replicate on latest develop branch of Etherpad or https://video.etherpad.com

[2020-08-19 12:50] Gredin67 commented on #4219
Could it be related to one of the plugins listed here? : https://github.com/YunoHost-Apps/etherpad_mypads_ynh#additionnal-informations

[2020-08-19 14:16] JohnMcLear commented on #4219
Please read the issue template!  It says to confirm the bug without plugins before creating the issue.

[2020-08-19 15:25] GeminienTan opened #4220 "Confusing when Create or Open a new pad with name"
I am a new user to Etherpad.
I am confusing when creating a new pad.
Sometimes when I entered a name for a new pad, I am not sure that I am creating a pad or opening a pad.
Is there a way to know if the name of a pad has been created?
Thank you.

[2020-08-19 18:27] #4219 closed

[2020-08-19 18:28] Gredin67 commented on #4219
yep, sorry, it was related to plugins that were not updating correctly

[2020-08-20 16:03] hs29 opened #4221 "Modifying the instruction of installation"
There was a confusion when I tried to install etherpad-lite on Windows. The second instruction of "With a "Run as administrator" command prompt execute bin\installOnWindows.bat" may make misunderstand to run their Command Prompt as 'Run as administrator'.

The instruction can be replaced with "Open the folder of **etherpad-lite**, select **bin**, then run **installOnWindows.bat**.

[2020-08-21 03:49] sissieadmin commented on #3695
@flotho

I've returned with a clean Nginx setup and a new installation of Etherpad. I know its been a while. This is Odoo12 Nginx reverse proxy almost exactly copy and pasting the Nginx config from the guide.

Curling https://urltoyourpad.tld/api/1/createPad results in (With EditOnly as false or true, same result):

If I add the full URL to Odoo with the auto-generated api key into Odoo for the Co

[2020-08-21 18:38] lupa18 opened #4223 "ADMIN_USER missing in settings template"
**Describe the bug**
In Docker deployment, if you don't set env var ADMIN_USER then you got this warning:
`WARNING: The ADMIN_USER variable is not set. Defaulting to a blank string.`

So you think you must set that variable, but settings template didn't include such option.

The result is: you set that variable but it hasn't any effect.

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2020-08-22 08:23] zuiyu-main opened #4224 "The document generated using setHTML loses the information of the original ordered list"
**Describe the bug**

The sequence number error occurs in the ordered list in the document content generated by setHTML

**To Reproduce**
1. Use getHTML API to get the source code of document 1
2. Use the setHTML API to transfer the html returned in the first step to document 2
3. An error occurred in the ordered list at this time, and all become serial number 1

**Expected behavior**

1. Use getH

[2020-08-22 10:42] #4224 closed, assigned to nobody

[2020-08-22 13:51] girdharsoni opened #4225 "how can i see Etherpad logs, please share the log file location"

[2020-08-23 18:31] callegar commented on #2539
Seeing it again with firefox 79.0 on linux ubuntu 20.04. In many text boxes (e.g. facebook) compose+`+vowel fails to produce the accented vowel.

[2020-08-23 23:37] #4124 closed

[2020-08-24 05:38] girdharsoni commented on #4225
ok i am checking

[2020-08-25 13:55] Nikerabbit commented on #4202
We can add plugins as well, if we are speaking about a dozen of them. Basically need the same things as for initial setup:

- Name
- Description (optional)
- Repo URLs and paths to files and push access for pushes or pull requests

If we are talking about a larger number of plugins, we need to add some automation and process for keeping the list up to date to keep overhead manageable.

[2020-08-25 13:59] JohnMcLear commented on #4202
Automation of plugins you say,...  https://github.com/ether/etherpad-lite/tree/develop/bin/plugins

We can make it part of the auto-update of plugins process..

Name, Description and Repo URL can come from package.json

Let me know what it takes on your side @Nikerabbit -- for example we can do an API call to make it if that exists?  Alternatively I can create a CSV file or some such but obviously

[2020-08-25 14:12] Nikerabbit commented on #4202
If you have a list of plugins you maintain & have access, we can start with those and them manually.

On our side, we will make the current "Etherpad lite" group to be an aggregate group that consists of `Etherpad lite – Core` and  `Etherpad lite - Plugin Name` groups corresponding to the new plugins.

Oh and we also need to know whether those plugins also follow the `develop` branch model or some

[2020-08-25 14:32] JohnMcLear commented on #4202
Plugin list at https://www.npmjs.com/~johnyma22 -- scroll down to get all of them (afaik it's 131 plugins)

All plugins follow develop branch model.

[2020-08-25 16:23] Nikerabbit commented on #4202
Hmm, I don't see any links to git repos on those package pages.

[2020-08-25 17:03] JohnMcLear commented on #4202
would it help if I went through each package.json and ensured the repository is set?  It usually is..

https://www.npmjs.com/package/ep_metrics is an example of the repository set in package.json

[2020-08-25 17:28] Nikerabbit commented on #4202
I guess it would help... though your examples also seems to be an example of a plugin with no i18n messages?

[2020-08-26 14:16] etienneleba opened #4227 "Error when trying to delete a group through the http api - WAITING ON MERGE OF TESTS"
## Describe the bug
I have a php app which create a group, create a pad inside the group, some authors. When I show the pad, the app create a session token for the user.
Then the app want to delete the group but there is an internal error. If the app doesn't create session token, the app can delete the group.

I looked into the etherpad code and it's when etherpad is deleting the session.

So, I t

[2020-08-26 15:22] joassouza opened #4228 "Performance degradation on 1.8.0 and newer versions"
**Describe the bug**
Performance degradation introduced on version 1.8.0 and replicable on newer versions as well

**To Reproduce**
Steps to reproduce the behavior:

1. Create a long pad (e.g. over 4.000 lines)
2. Press ENTER on the beginning of the pad to create a new line
3. Long time processing the change

**Expected behavior**
The creation of the new line pressing ENTER should be much faster.

[2020-08-26 15:24] JohnMcLear commented on #4228
Cc @seballot

[2020-08-26 15:24] JohnMcLear commented on #4228
We have test coverage in for this afaik. See responsiveness frontend test.

[2020-08-26 15:25] JohnMcLear commented on #4227
Please look at the backend tests for this operation.  You will see from that an example of what's required.

[2020-08-26 15:28] joassouza commented on #4228
The problem of the reflow is easier to realize when there are a large amount of nodes.
Is that one? https://github.com/ether/etherpad-lite/blob/develop/tests/frontend/specs/responsiveness.js
It's commented

[2020-08-26 15:57] etienneleba commented on #4227
Hi, Thx for your answer.

Could you be more accurate, plz. I look at : tests/backend/specs/api/sessionsAndGroups.js but there are just API route testing. I didn't see a test where a group is deleting when is having sessions.

Maybe I was not clear in my post, but the internal error is in Etherpad, an api call shoudn't create an internal error, no ?

Thx for your help :relaxed:

[2020-08-26 16:41] cwassert opened #4229 "Copy/Paste within the pad loses bold formatting in Chrome"
Text with bold sections can be copied into the pad and out of the pad. But when I try to copy text from the pad into the same pad the bold formatting ist lost. Italic and underlined text is not affected. I cannot reproduce this bug in Firefox.

**To Reproduce**
Open a pad, type some text, make the text bold, select it and press CTRL-C then CTRL-V

**Desktop (please complete the following informati

[2020-08-26 17:54] webzwo0i commented on #4229
confirmed. bisect seems to indicate fb5a65c5fc42ded503491f07ec8bc33794216fe8 as the commit that introduced this behaviour.
Can you test if this fixes the problem for you?
[code]

[2020-08-26 17:55] webzwo0i commented on #4229
However, I don't understand what happens here :-)

[2020-08-26 17:58] sodiumchl opened #4230 "Cannot type quotation mark (") in tables with tables4 plugin"
**Describe the bug**
With the latest etherpad-lite and tables4 plugin, you cannot enter quotation marks ("). If you type ", the whole row disappears.

[2020-08-26 18:28] sodiumchl commented on #4230
Each table row has the following code:
{"payload":[["Cell1","Cell2 ","Cell3 ","Cell4 ","Cell5 "]],"tblId":"1","tblClass":"data-tables", "tblProperties":{"borderWidth":"1","cellAttrs":[],"width":"100","rowAttrs":{},"colAttrs":[],"authors":{}}}

Apparently, if you have Ce"ll1 in place of Cell1, the whole row is messed up because there is no escape for quotation mark.

[2020-08-26 18:38] JohnMcLear commented on #4230
File plugin bugs under specifc plugins please.  Thankd

[2020-08-26 18:38] #4230 closed

[2020-08-26 18:40] JohnMcLear commented on #4229
I think it's contentcollector doing its job.  Prolly expects <b> elements not span styles.

[2020-08-26 18:46] sodiumchl commented on #4230
The "Issues" tab is unavailable for the tables4 plugin...

[2020-08-26 20:58] webzwo0i commented on #4227
@etienneleba
Can you cherry-pick and test https://github.com/ether/etherpad-lite/pull/4231 please?

[2020-08-26 21:02] JohnMcLear commented on #4228
Oh boy, I will uncomment and ensure we have working test coverage.  Hopefully @seballot can find a performant fix hastily :)

[2020-08-26 21:05] webzwo0i commented on #4227
If you want it would be really awesome if you could write tests for group deletion of a group that has 2 pads and 2 sessions

[2020-08-26 21:21] joassouza commented on #4228
thanks @JohnMcLear!

[2020-08-27 09:38] etienneleba commented on #4227
Hi @webzwo0i,

Thx for your help. I didn't cherry-pick but I removed the "s" in GroupManager.js like you did in your commit, and it's working great :smile:

Do you know when it's gonna be released ?

I can try but it has been a while I touched node js :sweat_smile:

[2020-08-27 21:47] JohnMcLear commented on #4228
Uncommented, thanks for the really thorough and well put together bug report.  Will bump @seballot again :+1:

[2020-08-28 10:18] regnoh commented on #4225
as follow, in settings.json, search "logconfig" > uncomment "type" : "file"... > change the filename > restart etherpad > will see server.log in rootpath
 "logconfig" :
    { "appenders": [
        { "type": "console"
        //, "category": "access"// only logs pad access
        }

      , { "type": "file"
      , "filename": "server.log"
      , "maxLogSize": 20971520
      , "backups": 10 // h

[2020-08-28 10:25] regnoh commented on #4220
I am a new user too
when I access the name, it will hint the names I used.
and I installed the plugin “adminpads3“ to manage all my pads

[2020-08-28 17:47] vivekvt opened #4234 "table is not configured with charset utf8mb4 -- This may lead to crashes when certain characters are pasted in pads"
I am using AWS RDS Mysql.

Everything is working fine I can create pad. **Etherpad is Awesome**
settings.json
[code]

But whenever I start
`./bin/run.sh
`

I get this Error

**[2020-08-28 23:05:43.828] [ERROR] console - table is not configured with charset utf8mb4 -- This may lead to crashes when certain characters are pasted in pads**

![Screenshot from 2020-08-28 23-16-07](https://user-images.gi

[2020-08-28 18:08] JohnMcLear commented on #4234
Good.  Etherpad is doing its job.  Read the Amazon docs.  Amazon MySQL is not supported by ueberdb

[2020-08-29 13:20] brunob commented on #4234
This one could be closed, no ?

[2020-08-29 13:21] brunob commented on #4225
This one could be closed too...

[2020-08-29 14:16] #4234 closed

[2020-08-29 14:18] JohnMcLear commented on #4234
@vivekvt Amazon is the problem here, not Etherpad.  Amazon MySQL (whatever the fuck that is) needs the correct charset.  Learn how to set that in the Amazon whatever.  We don't support Amazon or Azure or any other corporate (closed) offering.  We only support "MySQL" in a pure, unadulterated form.  If you want to use Amazon MySQL (assuming it's MySQL or Maria) then that's up to you to support it.

[2020-08-29 14:19] JohnMcLear commented on #4225
Ops are friggin lazy :P  tnx @brunob

[2020-08-29 14:19] #4225 closed

[2020-08-29 14:20] JohnMcLear commented on #4228
Not heard back from @seballot yet despite email/cc here.  I assume he's on vacation and will get onto this ASAP but if anyone else can take a stab while we wait that would be ideal :)

[2020-08-29 17:07] brunob commented on #4225
@JohnMcLear u're welcome :)

[2020-08-30 06:34] seballot commented on #4228
Hi guys ! thanks for this very clear bug report @joassouza, and sorry for the bug

I'm sorry I'm very focused on other project right now, I'll try to have a close look on this ticket on next week. But if anyone want to try to solve be my guest !!

[2020-08-30 10:01] JohnMcLear commented on #4202
I went ahead and made sure most plugins have a git repository in ``package.json``.

@ovari I suggest you go through every plugin you want translations for and ensure the translations are supported.

Here are the plugins you need to modify:

[code]

You can use ep_page_view or something as easy reference for how to modify the EJS/HTML to support translations.  I expect it will take a few hours work

[2020-08-30 10:13] ovari commented on #4202
How can this issue be re-opened? Thank you

[2020-08-30 10:22] JohnMcLear commented on #4202
It doesn't need to be re-opened, the issue needs to exist on each plugin but the best thing for you to do is just to start working and start sending through pull requests with your translation files and I will merge.

[2020-08-30 14:36] vivekvt opened #4236 "Error embedding pad in iframe chrome"
I tried emebedding my etherpad into react web app using iframe.
It is working fine on **firefox** and **opera** but on **chrome** I am getting error.

Warning: it appears that your browser does not have cookies enabled. EtherPad uses cookies to keep track of unique users for the purpose of putting a quota on the number of active users.  Using EtherPad without  cookies may fill up your server's use

[2020-08-30 14:39] JohnMcLear commented on #4236
Update to latest develop branch

[2020-08-31 02:01] regnoh opened #4238 "Open blank in IE browser. Whether compatibility is required？"
**Describe the bug**
open https://video.etherpad.com/p/xxx in IE browser, ther editor is empty

**Screenshots**
![Snipaste_2020-08-31_09-58-25](https://user-images.githubusercontent.com/37654899/91675888-8f398f00-eb70-11ea-9c3b-6dd7127abb1d.png)
**Desktop (please complete the following information):**
 - OS: win10
 - Browser IE 11
- etherpad-lite 1.8.4

[2020-08-31 02:13] #4238 closed

[2020-08-31 02:13] regnoh commented on #4238
https://github.com/ether/etherpad-lite/issues/4162

[2020-08-31 19:25] vivekvt opened #4239 "How do we deploy etherpad-lite using serverless framework to AWS lambda ?"

[2020-09-01 13:40] JohnMcLear commented on #4239
Please search through closed issues before creating new issues :)

https://github.com/ether/etherpad-lite/issues/3848

[2020-09-01 13:40] #4239 closed

[2020-09-04 14:59] joassouza opened #4242 "Feature Request/RFC: Shallow Copy Feature"
name: Feature request
about: Implement a way to copy a pad that is less resource demanding
title: 'Shallow Pad Copy'
labels: enhancement
assignees: me

* * *
**Is your feature request related to a problem? Please describe.**
We use the duplication of pads (copyPad API) a lot in our use case. We provide it as a way to the users to create versions of their pads. With that users can keep track of the

[2020-09-04 15:31] JohnMcLear commented on #4242
I'm +1 for a "copy a pad without full fidelity" existing but it should be clearly commented that it's not best practice and that historical reference points will be lost.  It's like taking a git repo, copy/pasting all the files and creating a new repo.

Shifting everything to rev:0 I "think" should be okay.  Any historical lookup IE timeslider will obv be nuked.

I think we need a clear name for t

[2020-09-04 18:12] joassouza commented on #4242
So, I think that problem is already known, or at least kinda. Reading the ueberDB part that mention the problem, it says:

If I understand correctly that operation of copy matches this bug case because it does not call a pause between a  large number of set operation, right?

Here's a screenshot what's shown on the logs after a duplication of a pad. Look that we have multiple call of GC on the sam

[2020-09-04 18:37] JohnMcLear commented on #4242
Just fork https://github.com/ether/ueberDB and enable it on Travis.

https://github.com/ether/ueberDB/blob/master/.travis.yml

https://github.com/ether/ueberDB/blob/master/.travis.yml#L29 is where we dump in a script https://github.com/ether/ueberDB/blob/master/.travis.yml#L30 to generate data

Tests can be run locally with ``npm test`` as per https://github.com/ether/ueberDB/blob/master/package.j

[2020-09-04 20:53] joassouza commented on #4242
@JohnMcLear, I've done more tests. It seems it does not have any problem with ueberDB at all. The main problem is with the operation of copy per se. Using a pad with 100.000 revisions, it's done at least 200.000 operations (100.000 get on the source pad and 100.000 set on the new pad). So, the CPU stays on 100% forever until the processing ends. The memory allocation increases as well, what's not

[2020-09-05 13:11] JohnMcLear commented on #4228
@seballot just a bump for this coming week to ensure you have some time in your schedule to take a look at this please :)  Thanks!

[2020-09-05 13:12] JohnMcLear commented on #4227
Just waiting on test coverage now, I bumped @webzwo0i so prolly middle of this week as we have a few more things landing then we need @Gared to do a release :)

[2020-09-05 14:34] #4236 closed

[2020-09-05 14:41] JohnMcLear commented on #4218
@nickhil-tekwani Sorry I didn't respond to this because I assume you resolved it with a quick Google check?

https://github.com/flutter/flutter/issues/53651 for more details.  TLDR; use https.

[2020-09-05 14:41] #4218 closed

[2020-09-05 14:44] JohnMcLear commented on #4217
@orblivion yeah this sounds about right, I haven't looked at it yet but I imagine logic is something like this

[code]
then you remove ``foo`` from settings.json and when it reloads ``foo`` is still ``bar`` because we don't nullify values that aren't present.

The fix here would be to nuke ``settings`` with  ``settings = {}``; then repopulate.  I imagine we just populate.

@orblivion can you look

[2020-09-05 14:45] JohnMcLear commented on #4223
@rhansen Can you look into this please?  I still don't want Docker issues on my radar :+1:

[2020-09-05 14:46] #4221 closed

[2020-09-05 16:27] rhansen commented on #4223
I am unable to reproduce that warning. Where are you seeing it?

If I run `git grep ADMIN_USER` I get no hits, so I'm not surprised that setting `ADMIN_USER` has no effect. That warning must be coming from somewhere else, not Etherpad.

I don't think the `settings.json` environment variable substitution works for JSON keys (only values), so if you want to change the admin username you will have to

[2020-09-06 04:17] anhlt570 opened #4256 "Stuck at loading"
**Describe the bug**
I use etherpad 1.8.4 with docker-compose + mysql docker 5.7.31 and I got stuck at loading screen every time i open a pad.
In console log i saw this error
Uncaught ReferenceError: padutils is not defined
    at window.onerror (7lXdSejG0cdpxAV5NmEU:706)

![image](https://user-images.githubusercontent.com/6743213/92318158-80e8e880-f032-11ea-987b-9eb5a5608745.png)

[2020-09-06 04:29] #4256 closed

[2020-09-06 09:36] seballot commented on #4228
Hi !

I cannot reproduce, I made a 6000 lines long pad, and it works fine

![Peek 06-09-2020 11-27](https://user-images.githubusercontent.com/17404254/92322854-39635c00-f034-11ea-85a2-65fa6b6061fb.gif)

Tested on Debian 9 -> Chromium 73 & Firefox 68

Why your line numbers looks bad (number 1 is displayed okay, then from number 2 it's too big and not aligned) ?
Could it be a problem in your local c

[2020-09-06 09:38] JohnMcLear commented on #4228
Haven't tested but can see Firefox responsive test fail that used to pass.  Try Firefox responsive test with no-skin set to see if it passed?

[2020-09-06 09:45] seballot commented on #4228
test pass for me on both chromium and firefox

![image](https://user-images.githubusercontent.com/17404254/92323124-67e23680-f036-11ea-9646-7463abff1866.png)

[2020-09-06 14:54] orblivion commented on #4217
Sure, I'll look into it.

[2020-09-06 15:36] JohnMcLear commented on #4228
Yea it just passed for me too, so I need to dig deeper but I wonder if it passes for us because we're on fast(ish) pc's and sauce labs  throws up some peasantry vm to handle the task?

I also experience zero lag on ff on ubuntu

[2020-09-06 15:39] JohnMcLear commented on #4228
Okay so changing ``amount`` to ``1600000`` (creates 8k lines) does make the lag noticeable for me.

Try doing that @seballot , ``tests/frontend/specs/responsiveness.js`` line ``26``

[2020-09-06 15:50] joassouza commented on #4228
Just to give more context. The test were made on Chrome on MacOs. We could reproduce the same error on really fast machines like i9, 64gb RAM.
@seballot could you try to edit in the beginning of the pad?
I've just tried on a Windows machine using chrome as well and I've got the same delay.
https://video.etherpad.com/p/example_long_pad

[2020-09-06 15:50] JohnMcLear commented on #4228
I have been testing Firefox like an idiot, will test Chrome now.

[2020-09-06 15:52] joassouza commented on #4228
I believe the delay increases if you edit in the beginning of the pad. Like, in the first line of it.

[2020-09-06 15:55] JohnMcLear commented on #4228
I'm not overly familiar with Chrome Performance tools but this is what I see when trying to edit the responsiveness.js pad.
![Screenshot from 2020-09-06 16-54-38](https://user-images.githubusercontent.com/220864/92329775-bc4edb80-f061-11ea-94e7-0eeeb84f2aa5.png)

Notice that I don't get all the layout time like you?

[2020-09-06 16:04] joassouza commented on #4228
I've tried on FF on Windows machine and I've got the same delay. Using this pad

https://video.etherpad.com/p/example_long_pad
About the reflow, it depends on which CSS is applied, browser, js code the triggers it, .... That's why I've done the tests without any plugin. I have to check the code of the responsiveness test to understand why in those tests you guys don't realize the delay.

[2020-09-06 16:47] seballot commented on #4228
Hi ! indeed with 8K it start freezing. But I switched to 1.7.5 and with the pad of 8k it freeze the same (I would even say it worst !)

Anyway, it's a fact that etherpad get slow when pads are too big. I don't feel it's a critical bug, because pad are not made to writes books, and I think most people use them for short text.

But yes probably we could improve. But I feel it will be a painful job :

[2020-09-06 17:19] seballot commented on #4228
@JohnMcLear I tried to have a look now, but I don't understand, every change I make to `ace2_inner.js` (even deleting the whole file) does not affect my local instance, it still working the same. What am I missing?

[2020-09-06 17:26] webzwo0i commented on #4228
ace2_inner.js is requested without version string atm, so the URL to ace2_inner.js does not change and your browser cache is used. When you set maxAge=0 in settings.json and/or disable cache it should serve the new file without restart.

[2020-09-06 18:20] seballot commented on #4228
Hi @webzwo0i ! thanks for you help ! I finally remember that I need to invalidate myself the cache of ace2_inner because it's loaded in the iframe...

(maxAge=0 had no impact btw)

A bit late now, will look tomorrow !

[2020-09-06 18:25] JohnMcLear commented on #4228
One trick is to use network tab open as it disables caching.

@joassouza can you confirm Sebastians findings?

[2020-09-07 14:58] Hufschmidt opened #4262 "Regression caused by PR 4241"
The pull-request https://github.com/ether/etherpad-lite/pull/4241 caused a regression for #4006!

## Error Message

Getting the following error when importing a pad via the ILIAS Etherpad-Lite [Plugin](https://github.com/jrocho/ILIAS-Etherpad-Lite-Plugin):

[code]

Its the same error as described in #4006, where the AuthorId displayed in the warning does not match the AuthorId of the user trying t

[2020-09-07 15:38] JohnMcLear commented on #4262
@rhansen

[2020-09-07 23:46] #4262 closed

[2020-09-08 00:06] orblivion commented on #4217
Not _that_ easy to do a good fix. The way it's designed, the settings blob is the module itself. I.e. `settings.maxAge` is known as `exports.maxAge` within `Settings.js`:

https://github.com/ether/etherpad-lite/blob/develop/src/node/utils/Settings.js#L204

By your method I would have to nuke it with `exports = {}` which would break the functions that `settings` exports. 2 problems:
* It would dele

[2020-09-08 08:09] alperbayata opened #4266 "Etherpad docker settings.json"
How to edit etherpad docker settings.json file?

[2020-09-08 08:16] seballot commented on #4228
Ok done ! actually it was not very complicated, thanks to @joassouza who made all the work of finding both problem and solution

[2020-09-08 08:27] seballot commented on #4228
and I confirm the bug is not related to recent UI changes, it has been there for a long time I think !

[2020-09-08 12:42] joassouza commented on #4228
I guess this can be closed now with the fix #4267
Thanks one more time @seballot

[2020-09-08 13:52] #4228 closed

[2020-09-08 14:07] aryamanpuri commented on #3763
Is it still open for the bounty program?
I am a CS college student and interest in web development.
I am interested in this project and looking for long term opportunitites.

[2020-09-08 14:09] JohnMcLear commented on #3763
@aryamanpuri We're open for students to jump in, fix things and send us invoices for time.  Look at the open issues and start debugging them!

[2020-09-08 14:36] aryamanpuri commented on #3875
Hi @JohnMcLear
Can I give this issue a try?
Would you like to give a brief about this issue and how to counter this issue?

[2020-09-08 15:09] JohnMcLear commented on #4266
Feels like the mailing list or Discord or IRC would be a suitable place for questions

[2020-09-08 15:11] elmatusov commented on #3464
Thanks A LOT, @JohnMcLear! Superhelpful!

I was getting the following error on my Etherpad Lite 1.8.4 running on Windows Server 2019:

ErrorId: 4wNmhAZ2hYo9zBrq1xHb
URL: https://diaped.soe.udel.edu:9001/p/g.NfRQhXclxTNNzHYW$DiaMoodle
UserAgent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:80.0) Gecko/20100101 Firefox/80.0
TypeError: $sidedivinner is undefined in https://diaped.soe.udel.edu:9001/st

[2020-09-08 15:13] JohnMcLear commented on #3875
Just read the issue.  It's all there.  Try replicate and if you can then fix.

[2020-09-08 15:14] JohnMcLear commented on #3464
It is but I will say we don't have test coverage for Windows server so we just have to hope that Microsoft don't break any APIs and keep up which so far they have been doing.

[2020-09-08 16:08] webzwo0i commented on #3464
@elmatusov
$sidedivinner seems to be related to ep_author_neat plugin. Also ep_copy_paste_images has problems on your instance (go to a pad and watch for console errors)

[2020-09-08 20:47] fancycade opened #4271 "Postgres backend - error: column "value" is of type jsonb but expression is of type text"
**Describe the bug**
Schema mismatch when doing any kind of inserts.

error: column "value" is of type jsonb but expression is of type text

**To Reproduce**
Use latest source and postgres. Tried with v12 and v13.

**Expected behavior**
To do the insert without error.

**Screenshots**
etherpad_1   | [2020-09-08 20:37:50.541] [ERROR] console - error: column "value" is of type jsonb but expression i

[2020-09-08 20:56] fancycade commented on #4271
This is mostly an issue where I used latest source when I should've used a release.

I've tried this with 1.8.4 and can confirm I do not get this error. I have updated the issue accordingly.

[2020-09-08 21:54] fortuna commented on #3154
This is still a problem. For example, here is an editable pad:
https://etherpad.wikimedia.org/p/6qOCyhue3ewXrvjZnf2d

You can export to text fine:
https://etherpad.wikimedia.org/p/6qOCyhue3ewXrvjZnf2d/export/txt

This is the read-only version of the same pad:
https://etherpad.wikimedia.org/p/r.fc667082410bef6063769e4f6c39bc06

This is the export link:
https://etherpad.wikimedia.org/p/r.fc667082410

[2020-09-08 21:59] JohnMcLear commented on #4271
Except 1.8.5 does include this bug, so whoops.

[2020-09-08 22:02] JohnMcLear commented on #3154
https://video.etherpad.com/p/r.2bf9e8f549026ecfc46c7b2b86936563 clicking export 404s.

Feck

[2020-09-08 22:02] JohnMcLear commented on #3154
I thought we had test coverage in for this too ;\, my bad.

@webzwo0i any chance you can take a stab at this one as it needs test coverage.

[2020-09-09 02:44] elmatusov commented on #3464
Thanks, @webzwo0i for the info. You wrote, "go to a pad and watch for console errors." I do not see any errors in the console. Maybe, I don't know where to look for the errors. Can you guide me, please?

[2020-09-09 07:04] JohnMcLear commented on #3464
Press f12.  Google how to use developer console if you are stuck.

[2020-09-09 08:32] JohnMcLear opened #4274 "responsiveness.js breaks FF52"
Test needs uncommenting then debugging on FF52.

[2020-09-09 13:43] JohnMcLear commented on #4271
Fixed in c8361a211a1e6bfbbc006933f48d48ca51857c71

[2020-09-09 15:31] elmatusov commented on #3464
Thanks, @JohnMcLear, I do not see any problem when I click F12. However, when I open the etherpad log file, I can see many errors of the following two types:

1) [WARN] message - Authentication try failed:{"component":"pad","type":"CLIENT_READY","padId":"g.NfRQhXclxTNNzHYW$DiaMoodle","sessionID":"null","password":null,"token":"t.nlx6g9QWnjgnB2qimJF9","protocolVersion":2,"client_rev":1699,"reconnec

[2020-09-09 16:02] JohnMcLear commented on #3464
1.8.5 is stable.  Use that.

[2020-09-09 19:09] webzwo0i commented on #3154
I'll try. Stuff on my etherpad list increases, but I have more time the next weeks

[2020-09-09 20:47] JohnMcLear commented on #3154
Tnx @webzwo0i

[2020-09-10 07:34] jeanfabrice opened #4276 "Etherpad 1.8.5, 1.8.6 not tagged on Dockerhub"
latest tag seems to have been built a few hours ago, but tag for 1.8.5 is not present.

[2020-09-10 09:28] samirsayyad commented on #4271
I still get that.

![image](https://user-images.githubusercontent.com/11405614/92711083-8c5b4d00-f36d-11ea-9313-d5657fa9eaf1.png)

[2020-09-10 09:29] JohnMcLear commented on #4271
Did you git pull then bin/run.sh?

You will need to update ueber and bin/run.sh will do that.  Don't use fastrun

[2020-09-10 09:31] samirsayyad commented on #4271
Yeah, I always come up with `bin/run.sh `.
It is updated to `"ueberdb2": "^0.5.2"`

[2020-09-10 09:34] JohnMcLear commented on #4271
![Screenshot_20200910_103721](https://user-images.githubusercontent.com/220864/92712133-2b258080-f351-11ea-9d4f-ff9cedc60bc4.jpg)

Tests are passing fine.

[2020-09-10 09:35] JohnMcLear commented on #4271
Can you try a new pg dB plz?  I want to see if previous commit broke your database.

[2020-09-10 09:38] samirsayyad commented on #4271
sure, let me try.

[2020-09-10 09:45] samirsayyad commented on #4271
Actually, due to my dev environment, I am getting a new pg db on every build.
![image](https://user-images.githubusercontent.com/11405614/92713214-f37a0100-f36f-11ea-860c-e17162ebe599.png)
![image](https://user-images.githubusercontent.com/11405614/92713285-0b518500-f370-11ea-9f68-0099c3834b61.png)

[2020-09-10 09:48] JohnMcLear commented on #4271
Then Peep Travis config to see how we create the database for the ueberdb tests.  You will want the ueber dB repo not here

[2020-09-10 10:07] samirsayyad commented on #4271
Does it seem we should use the below repo?
[https://github.com/ether/ueberDB#dirtyref](https://github.com/ether/ueberDB#dirtyref)

[2020-09-10 12:03] JohnMcLear commented on #4271
#dirtyref is merged into master.  Use ``master``

[2020-09-10 13:04] danieljakots commented on #4271
Hi, I have this issue on 1.8.5 as well. Can you re-open this issue until a solution is found? (so it's easier to find it!)
Thanks!

[2020-09-10 13:46] samirsayyad commented on #4271
I still have this issue even change to repo https://github.com/ether/ueberDB (master)

![image](https://user-images.githubusercontent.com/11405614/92738892-97c06f80-f391-11ea-85a9-6727d694041f.png)

[2020-09-11 10:01] c7hm4r commented on #4271
Same here:
- Pads are not loading (either eternal "Loading…" or 502)
- OS: Ubuntu 18.04
- `settings.json`:
[code]
- DB: postgresql 10+190ubuntu0.1
- DB schema:
[code]

[2020-09-11 13:19] lupa18 commented on #4223
Sorry, can't make it happen again. I will delete ADMIN_USER references from my env files.

Thanks for your time.

[2020-09-11 13:19] #4223 closed

[2020-09-11 15:16] oli415 opened #4279 "Unable to update plugin"
I developed a small plugin ([https://www.npmjs.com/package/ep_timestamp/v/0.1.4](https://www.npmjs.com/package/ep_timestamp/v/0.1.4)) two years ago that I now want to update. I cloned etherpad, created the settings.json file with the content from [https://github.com/ether/etherpad-lite/wiki/Example-Development-Settings.JSON](https://github.com/ether/etherpad-lite/wiki/Example-Development-Settings.

[2020-09-11 21:10] danieljakots commented on #4271
I took the rollback road. I tried to rollback just etherpad to 1.8.4 but it didn't work:

[code]

So I restored a pgsql dump as well and now 1.8.4 works again (which is not really a surprise since it had been working finely).

[2020-09-13 08:31] alignwaivers commented on #2742
ctl-shift-v solved this problem for me in firefox 79 on Ubuntu 18

[2020-09-13 08:50] fabrice-noel opened #4284 "Uncaught TypeError: exports.plugins is undefined after upgrade 1.8.4 > 1.8.5"
**Uncaught TypeError: exports.plugins is undefined**

I upgraded 1.8.4 > 1.8.5 but it didn't go well...

I first updated my OS (Ubuntu Srv 18.04)

Then I updated the Etherpad plugins :
adminpads2 v0.0.4
align v0.2.0
author_hover v0.2.1
delete_after_delay v0.0.21
embedded_hyperlinks2 v1.2.2
font_color v0.0.11
font_size v0.2.0
headings v0.1.6
pads_stats v0.0.9
spellcheck v0.0.7

Then I did:
[code]

[2020-09-13 08:52] JohnMcLear commented on #4284
Remove all plugins and add one by one.  The issue template even has this in btw.

[2020-09-13 12:42] fabrice-noel commented on #4284
Hello John,

Thank you very much for this answer, I will follow your instructions but it will be for next Sunday, when I will do the next maintenance and I will keep you informed of the results. Have a good Sunday.

[2020-09-13 13:36] webzwo0i commented on #4284
Confirmed with maxAge=6*3600
This is probably like https://github.com/ether/etherpad-lite/issues/3955
Files, that are dynamically required, don't have a version string.

@fabrice-noel In case you have a low/default value for maxAge in settings.json, when you wait for this amount of time, does it work? We don't have "versions" in our file names atm, but use a workaround, where a query string (with

[2020-09-13 16:31] fabrice-noel commented on #4284
I will check this next Sunday because our maintenance window is now closed. Many thanks for your reply!

[2020-09-14 08:15] alperbayata opened #4291 "How can i contribute?"
Import is disabled because you never contributed to this pad. Please contribute at least once before importing..

[2020-09-14 10:42] alperbayata opened #4293 "iFrame Error"
An error occurred
Please press and hold Ctrl and press F5 to reload this page
If the problem persists please send this error message to your webmaster:

ErrorId: jhbtJrpqhA7OeIfFOvsV
URL: https://canli.evdekiokulum.com/etherpad/p/alper?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false
UserAgent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gec

[2020-09-14 10:45] JohnMcLear commented on #4293
Try updating Etherpad (git pull) and clearing browser cache.  Etherpad is working fine btw, please do test before creating new issues, most of the issues you are making could be resolved by yourself if you spent a little time thinking about it.

[2020-09-14 11:03] alperbayata commented on #4293
Thank you

[2020-09-14 11:25] #4293 closed

[2020-09-14 20:21] ArcticSnowman opened #4294 "Uncaught URIError: URI malformed"
What does this error mean?

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/13837922/93133931-fe9d9b80-f6a5-11ea-865e-4b9992935689.png)

##Version
v1.8.4

[2020-09-14 20:25] JohnMcLear commented on #4294
Plugin error

[2020-09-15 03:20] rhansen opened #4297 "Line numbers don't line up with `no-skin` skin"
As of PR #4267 (I think), line numbers no longer line up with the lines when using the `no-skin` skin:

![Screenshot_20200914_231906](https://user-images.githubusercontent.com/1612291/93161569-cf585000-f6e0-11ea-9661-2a1cb647f38c.png)

cc @seballot

[2020-09-15 08:29] #4297 closed

[2020-09-15 11:32] devkral commented on #4271
reason: from 1.8.4 to 1.8.5 the column value is changed from type text to jsonb.
Should be a major release...

[2020-09-15 11:51] devkral opened #4300 "etherpad crashes hard after upgrade: TypeError: Cannot read property 'name' of null"
After an upgrade to 1.8.5 etherpad fails often hard (without recovering) with an db error. I don't know exactly how to reproduce this error but I think having an editing user without name is enough.
I suspect one of these commits:
6c2a361935fdf3bfa6107781913881ba030f688f
2bf076043f6c4d49fdc18f4e3163390aacb8d314
or the upgrade of ueberdb2 to be the problem.

Affected Version: 1.8.5
Not affected: 1.

[2020-09-15 12:01] devkral commented on #4300
Maybe a check if .user is available would be enough. Does ueberdb2 understand ?.

[2020-09-15 12:06] c7hm4r commented on #4271
Is there a migration script which can be applied?

[2020-09-15 12:11] JohnMcLear commented on #4300
Please use develop branch.  We are aware of this issue and it's been patched.  We need to release 1.8.6 which will include the fix.

[2020-09-15 12:11] #4300 closed

[2020-09-15 12:11] JohnMcLear commented on #4271
I'm just gonna revert these commits.  This was all poorly handled IMHO.

[2020-09-15 12:22] devkral opened #4301 "mark 1.8.5 as unstable/broken"
There are some serious bugs in version 1.8.5. Please warn users before they loose their data.
Maybe even remove the 1.8.5 tag or rename it to 1.8.5_dangerous

[2020-09-15 14:15] ArcticSnowman commented on #4294
How would I tell which plugin was having the issue?

[code]

[2020-09-15 14:16] JohnMcLear commented on #4294
Uninstall them until it works.  That's usually the best way I know.  I don't see any specific debug from plugin which will help in this instance which is rare.

[2020-09-16 07:25] Porrumentzio opened #4308 "Add markup without selection"
Currently on Etherpad-lite without using any plugin, the markup (**B**old, *I*talic...) can only be applied if a some character is selected. It can not be changed otherwise, for example:

Proposed type history:

This should print:

Nowadays this cannot been while typing, but only a selected text can be marked up.

[2020-09-16 07:27] JohnMcLear commented on #4308
This is by design.  I don't think applying formatting prior to typing provides a good ux.

[2020-09-16 07:29] Porrumentzio commented on #4308
This is the workflow of major text editors, both offices, text-editors... isn't?

[2020-09-16 07:34] JohnMcLear commented on #4308
Imho just because other projects do things one way doesn't mean we should.  Still, if you want this as a plugin or if someone wants to work on it then feel free!

Ps see sticky attributes plugin.  It might already do something similar but idk.

[2020-09-16 18:24] #4242 closed

[2020-09-16 22:07] JohnMcLear opened #4311 "mocha isn't running plugin backend tests"
https://github.com/ether/ep_comments has lots of backend tests.

When you run ``npm test`` it's supposed to run all etherpad backends and all installed plugin backend tests.

It does not.

To replicate, install ep_comments and run ``cd src && npm test`` - you will notice no tests specific to ep_comments are run..

[2020-09-16 22:07] JohnMcLear commented on #4291
Type something in the pad, or change formatting...

[2020-09-16 22:07] #4291 closed

[2020-09-16 22:08] #4279 closed

[2020-09-18 15:28] #4311 closed

[2020-09-18 18:16] brunob commented on #3675
FTR, etherpad 1.8.5 on debian stretch with mongodb 3.2.11 cf

[code]

...is  still getting the error pointed in https://github.com/ether/ueberDB/issues/109 and it can be fixed by `npm install mongodb@2.2.28`.

Maybe this one should be reopened ?

[2020-09-18 18:49] JohnMcLear commented on #3675
Didn't we drop mongo support?

[2020-09-18 20:31] rhansen opened #4317 "[i18n / l10n] Centralized translation repo for plugins?"
Each plugin that supports l10n has its own language files. For a language translator, it is not practical to maintain translations across all of the plugins because each plugin has its own repository with its own maintainer, and many of the maintainers are not responsive. Registering each plugin with translatewiki.net also seems infeasible.

What do you think about maintaining plugin translations

[2020-09-18 21:02] ovari commented on #4202
@JohnMcLear does this change https://github.com/ether/etherpad-lite/issues/4317 anything?

[2020-09-18 21:03] ovari commented on #4317
@JohnMcLear @Nikerabbit what are your thought please? Thank you

[2020-09-18 21:07] JohnMcLear commented on #4317
I'm trying to build tools for Devs that will ease the process of implementing language files.  See bin/plugins

[2020-09-19 03:49] cdluminate opened #4319 "[Feature Request] Show cursor positions of the users"
* * *

name: Feature request
about: editor, cursor position
title: Show cursor positions of the users
labels: enhancement
assignees:

* * *

**Is your feature request related to a problem? Please describe.**

When doing an online meeting, I hope the others can see where my cursor (editing cursor, not the mouse cursor) is pointing at.
So that I don't have to tell them, like, "please look at line 12

[2020-09-19 05:12] joassouza commented on #4319
There's a plug-in that does that

http://redhog.org/ep_cursortrace
🙂

[2020-09-19 07:29] wsw70 opened #4320 "[QUESTION] How to install plugins in the docker version?"
I assume that https://hub.docker.com/r/etherpad/etherpad is the official docker container for Etherpad, sorry if this is not the case (I saw a copy paste of the README from this repo). Sorry if this is not the case.

If so - is there an instruction on **how to install plugins when running Etherpad in a container?** The problem is that the way it is suggested in the main documentation will probbaly

[2020-09-19 08:31] 8sd commented on #4276
There is no tag for 1.8.6 as well...

[2020-09-19 09:16] #4319 closed

[2020-09-19 10:03] Gared commented on #4276
@8sd Sorry I don't know how to do that. @JohnMcLear Can you give me instructions? I will add this to our release procedure list

[2020-09-19 10:13] jeanfabrice commented on #4276
Something may be broken or not correctly setup on your [Dockerhub CI configuration](https://hub.docker.com/repository/docker/etherpad/etherpad/builds/edit)

[2020-09-19 11:08] jeanfabrice commented on #4320
Sure.
You will have to build you own customized image using the upstream Dockerfile:
`docker build --build-arg ETHERPAD_PLUGINS="ep_codepad ep_author_neat"  https://github.com/ether/etherpad-lite`

See [documentation](https://github.com/ether/etherpad-lite/blob/develop/doc/docker.md#build-a-personalized-container)

[2020-09-19 11:35] tim-krieger opened #4321 "Etherpad on mobile devices"
iPads (and other mobile devices with relatively large screens) do not use the mobile version of etherpad-lite. This results in broken icons in the toolbar. I think the [media queries](http://stephen.io/mediaqueries/#iPad) have to be adapted.

![Screenshot_20200919_125849](https://user-images.githubusercontent.com/64839715/93666222-ac30f600-fa7c-11ea-876a-432e6711d5e3.png)

[2020-09-19 11:40] JohnMcLear commented on #4321
@seballot is the CSS ninja who probably already knows the fix..

[2020-09-19 11:46] brunob commented on #3675
Can't find any word about this drop in the repo, but "recent" mentions about mongo here https://github.com/ether/etherpad-lite/issues/3672#issuecomment-559952316 & https://github.com/ether/etherpad-lite/issues/3353#issuecomment-378238058

[2020-09-19 12:43] cdluminate commented on #4319
@joassouza Ah, thanks!

[2020-09-19 14:49] seballot commented on #4321
Ok fixed with #4322, @tim-krieger would be very good if you could have a careful testing on this feature. With colibris skin, without colibris skins, with different plugins, opening popups from the bottom toolbar, from the top toolbar etc...
I did test myself but I know I'm not very good at testing my own features, so could you spend some time on that? we don't want to introduce UI bug because of

[2020-09-19 16:02] c7hm4r commented on #4271
The change log says "IMPORTANT: This fixes a severe problem with postgresql in 1.8.5" for 1.8.6, but I've upgraded and still get the exceptions mentioned above. I now noticed those exceptions as well, which are output immediately after service restart:

[code]

[2020-09-19 16:15] Porrumentzio commented on #4308
I have been thinking about this and I think that even keyboards, at one time mechanic, worked this way: there's a key that can change the _markup_ to make letters become uppercase, that's the Caps Lock key.

So a markup option can be changed while typing and not interpret it as editing. It's more fluid.

[2020-09-19 16:27] JohnMcLear commented on #4271
@c7hm4r did your database change or something?  If you start a new tarble/database are things okay?

[2020-09-19 16:28] JohnMcLear commented on #4308
@Porrumentzio I already told you this already exists.

https://github.com/JohnMcLear/ep_sticky_attributes

If you want to further extend the sticky attributes plugin please open issues there :)

[2020-09-19 16:28] #4308 closed

[2020-09-19 17:51] tim-krieger commented on #4321
Thanks a lot @seballot. I've tested your changes with colibri skin. It looks good (iPad Safari & Android Chrome) and I didn't notice any bug. Tomorrow I will do further tests.

[2020-09-19 18:11] JohnMcLear commented on #4317
I'm not a fan of this.  I think of plugins like apps, I want them contained but working to good practice.

Plugin authors could setup a hook to auto publish on TW commit if they wanted?

[2020-09-19 18:44] ashitikov opened #4323 "Wrong condition on access check to group pad"
https://github.com/ether/etherpad-lite/blob/12bd617f511de1da4f4511617ffed6e2804ac9d7/src/node/db/SessionManager.js#L75

The last condition is wrong: si.validUntil <= now, which means that only expired sessions will be matched. Instead we should match only si.validUntil > now sessions.

[2020-09-19 18:48] JohnMcLear commented on #4323
cc @rhansen

[2020-09-19 19:54] rhansen commented on #4323
Doh! Sorry about that. Fixed in PR #4324.

[2020-09-19 20:10] #4323 closed

[2020-09-19 21:00] rhansen opened #4325 "Read-only user accounts"
I would like to add support for read-only users and read-only access to specific pads. Users would be able to use the normal pad URL (not the read-only pad URL) but still be restricted to read-only access.

I have already implemented this in my fork of the etherpad-lite repository. [My read-only-user branch](https://github.com/rhansen/etherpad-lite/tree/read-only-user) introduces the following two

[2020-09-19 21:32] rhansen commented on #4317
It's not about what the plugin authors want, it's about what users of those plugins want. Approximately zero plugin authors care about Hungarian translations, but there are definitely some users that care. Devs tend to not spend time on stuff they don't care about unless (1) a user requests it, and (2) the change is sufficiently simple.  Integrating with translatewiki.net is not trivial. Setting u

[2020-09-20 07:44] rfc2119 opened #4326 "Error: Timeout: Did not receive an init message from worker threads"
**Description**
I have installed a vanillia etherpad for the first time. I did not have node installed so I went to install it first (as per your instructions). Upon running `./bin/run.sh` and accessing the instance via any broswer, it crashes. Here is the log output:
[code]

I have tried to run it into prod mode. It also crashed
**Desktop Information**
 - OS: Debian 10 (buster). Kernel version: 4

[2020-09-20 07:49] fabrice-noel commented on #4284
Dear all, I made the update this morning 1.8.4 > 1.8.6 and everything went well, I had no problem! Thanks for the work done!

[2020-09-20 09:49] JohnMcLear commented on #4326
What version of node?

[2020-09-20 09:53] JohnMcLear commented on #4317
The goal is to work with @Nikerabbit to get setting up on translatewiki automated.  Being that I think over 50% of the plugins I'm the author for and that all my plugins have automation once we solve it for my plugins we can build it into the plugin automation logic already existing in Etherpad.

I think it's not gonna be 1.9 but maybe 2.0.  I think I need to write down the logic I expect so peopl

[2020-09-20 10:04] rfc2119 commented on #4326
Version `v10.22.1`. Nodejs was installed as per your instructions:
[code]

[2020-09-20 11:46] JohnMcLear commented on #4326
Try node 12...  10 should work but could be distro / node version weirdness...  Fwiw builds pass so this isn't a major issue...  Has to be an edge case.

[2020-09-20 12:27] tim-krieger commented on #4321
I've tested your feature now with no-skin and it works (iPad Chrome & Safari). Also with no plugins. I noticed only a tiny visual glitch in to icons (star, collaboration), but I'm not sure this is related to your changes.

![48EA5357-247A-4E37-923D-1B97D3433078](https://user-images.githubusercontent.com/64839715/93711281-47919c00-fb4d-11ea-827f-230741653b58.png)

[2020-09-20 12:38] tim-krieger commented on #4321
One addition: With Android Chrome the bottom toolbar is above the keyboard in mobile view. With an iPad you can see the bottom toolbar (and the popups) only if you hide the keyboard.

[2020-09-20 14:29] tim-krieger commented on #4321
And a last addition: With another iPad (2018, 9.7") popups are displayed on the left side. I don't know if this is a intended behavior.

![89638741-F4F9-4A09-AA56-11073A495A7F](https://user-images.githubusercontent.com/64839715/93713744-3604c000-fb5e-11ea-8ba9-1c72fda6ddca.png)

[2020-09-20 17:06] rhansen commented on #4317
That would help a lot, as would a GitHub action to automatically bump the version number and publish to npm whenever there is a new commit from translatewiki.net.

Do you mean automation from translatewiki.net to your repos? Or from your repo to published npm? (Or both?)

[2020-09-20 17:53] JohnMcLear commented on #4317
I automate a bunch of stuff.  Check out the script 👍

[2020-09-21 05:37] robinpaulson opened #4327 "node-scrypt is deprecated, over a year old"
**Describe the bug**
according to https://github.com/barrysteyn/node-scrypt , node-scrypt is no longer maintained, but is still used in etherpad-lite

recommended replacement (by the maintainers):
https://nodejs.org/api/crypto.html#crypto_crypto_scrypt_password_salt_keylen_options_callback

[2020-09-21 08:19] JohnMcLear commented on #4327
Isn't this only used in hash auth plugin?

[2020-09-21 09:21] robinpaulson commented on #4327
ah, thanks! that's why, i understand the error now. closing

[2020-09-21 09:21] #4327 closed

[2020-09-21 09:23] JohnMcLear commented on #4327
Please create issue on ep_hash_auth repository.  Thanks.

[2020-09-21 14:55] seballot commented on #4321
Thanks for testing @tim-krieger ! I think we are fine, those small stuff does not seems bug to me. Okay to close the issue?

[2020-09-21 14:59] tim-krieger commented on #4321
Yes, of course, thanks a lot again!

[2020-09-21 14:59] #4321 closed

[2020-09-21 15:04] #4095 closed

[2020-09-21 17:51] JohnMcLear commented on #4190
@webzwo0i :+1:

[2020-09-22 00:50] pedro-nonfree commented on #2107
This is a message for people getting to this recently (when upgrading from older versions of etherpad).

Today I upgraded an etherpad service from `1.6.3` to `1.8.6` (what a change!!!!! congratulations to all developers)

I had problems with one pad, the checkers (checkPad, checkAllPads, etc.) failed to detect it (or I don't know how to run node fine, anyway).

I verified the `charset` is `utf8mb4

[2020-09-22 06:02] rhansen opened #4331 "Better handling of reconnects"
Issue #3830 describes a problem where pads silently disconnect when the browser suspends a background tab. PR #3868 added a workaround, but that workaround has a couple of significant drawbacks:
  * If the server (or browser?) is slow enough, visiting a different URL in the same browser tab can trigger a disconnect which causes the `document.location=document.location` line to trigger a reload of

[2020-09-22 07:37] tim-krieger opened #4332 "iframe error"
I noticed an iframe error with different pads from different server in different browsers (Firefox, Chromium). Cache is empty.

https://pad.colibris-outilslibres.org/

![pad1](https://user-images.githubusercontent.com/64839715/93851595-b63b3a80-fcb0-11ea-934b-3e1e986e435a.png)

https://pad.kits.blog

![pad2](https://user-images.githubusercontent.com/64839715/93851791-0fa36980-fcb1-11ea-97f6-d810bd

[2020-09-22 10:16] JohnMcLear commented on #2107
I guess one thing we could do here is check for ???? in pad contents and provide a warning that includes a suggested solution.  @pedro-nonfree please could you submit a patch to checkPad.js or something then I'd happily merge that :)

[2020-09-22 11:00] c7hm4r commented on #4271
@JohnMcLear When restart Etherpad 1.8.6 with an empty database, a new schema is created and it seems to work without exceptions.

When I compare the new schema with the old one, I get following:

[code]

So the question is: When the type of the column has changed and how to migrate/revert that?

[2020-09-22 11:01] c7hm4r commented on #4271
I configured automatic updates for my Etherpad instance from the master branch.

[2020-09-22 12:40] JohnMcLear commented on #4271
@c7hm4r @qsuscs was the author of the offending commits.  I'm hoping he takes some responsibility here and helps out :)

[2020-09-22 12:42] JohnMcLear commented on #4271
https://github.com/ether/ueberDB/commit/b9e786e2c8753f4cbbe09d3695a92a1a03904ead#diff-f1b8245dd259fa912c33cb2db527f609R31 is the alter statement..
[code]

One would assume changing jsonb to text would do it?

[2020-09-22 13:55] c7hm4r commented on #4271
Thanks @JohnMcLear , running the following made it work again:

[code]

[2020-09-22 14:07] JohnMcLear commented on #4271
@c7hm4r no worries, hopefully the handful of people this affects will find this thread and do that command.,  Thanks for writing and testing! :)  I'd be willing to take a PR to fix if you or the original author wanted.  I have other tasks at the moment that are taking priority.

[2020-09-22 16:19] UnixFriend opened #4334 "Error: Timeout: Did not receive an init message from worker after 10000ms. Make sure the worker calls expose()."
Hello, I got this error when I'm trying to access etherpad at port 9001 via the browser. It exits immediatley.  Am I missing something?

Full log:

added 1127 packages in 41.911s
Clearing minified cache...
Starting Etherpad...
All relative paths will be interpreted relative to the identified Etherpad base dir: /home/pi/etherpad-lite
Random string used for versioning assets: 650daa0b
[2020-09-22 18

[2020-09-22 16:32] JohnMcLear commented on #4334
What version of node?

[2020-09-22 16:34] UnixFriend commented on #4334
Version v10.22.1

[2020-09-22 16:54] JohnMcLear commented on #4334
I swear I saw a similar bug report recently.  I suggested to update Node and heard nothing back.  Please try update node and let me know.

[2020-09-22 16:56] UnixFriend commented on #4334
apt says it is the newest version. Should I update it manually?

[2020-09-22 17:00] JohnMcLear commented on #4334
yes

[2020-09-22 17:07] UnixFriend commented on #4334
Ok I updated node to version 12. Works now

[2020-09-22 17:07] #4334 closed

[2020-09-22 17:12] rfc2119 commented on #4326
It is indeed recommended elsewhere (for some other software) that one should stay away from debian's node 10 builds (and should instead use the node apt repository).
I'll try node 12. If I haven't replied back you can close this issue.

[2020-09-22 17:16] JohnMcLear commented on #4326
Please confirm either way.  We support node 10 so it should work.

[2020-09-22 17:21] JohnMcLear opened #4335 "Node 10 is broken"
Updating fixes..  I'm wondering if they hot patched an old release and now we're seeing issues with it...

[2020-09-22 17:22] JohnMcLear commented on #4335
[code]

We support node 10 afaik...

[2020-09-22 17:24] JohnMcLear commented on #4335
Steps to replicate that I haven't yet done...

- [ ]  Install 10.22.1
- [ ]  Setup MVP environment
- [ ]  Test.

If bug is found report at https://github.com/avoidwork/tiny-worker/issues

[2020-09-22 18:32] JohnMcLear commented on #4196
That was one long weekend ;)

[2020-09-22 18:36] #4271 closed

[2020-09-22 19:31] rhansen commented on #4332
Please provide:
  * Instructions on how to reproduce. I don't see any errors when I visit https://pad.colibris-outilslibres.org/ or https://pad.kits.blog.
  * The version of Etherpad (which Git commit).

[2020-09-22 19:51] #3094 closed

[2020-09-22 20:23] tim-krieger commented on #4332
1. Open https://jsfiddle.net/westonruter/6mSuK/
2. Insert

`<iframe name="embed_readwrite" src="https://pad.kits.blog/p/test?showControls=true&showChat=true&showLineNumbers=true&useMonospaceFont=false" width="100%" height="600" frameborder="0"></iframe>`

or

`<iframe name="embed_readwrite" src="https://pad.colibris-outilslibres.org/p/test?showControls=true&showChat=true&showLineNumbers=true&useMo

[2020-09-22 21:02] JohnMcLear commented on #4332
ep_helmet facilitates this maybe?

[2020-09-22 21:21] webzwo0i commented on #4334
@UnixFriend Is this on ARM?

[2020-09-22 21:28] webzwo0i commented on #4335
https://travis-ci.org/github/ether/etherpad-lite/builds/729439713
seems to work fine on x86 with all v10 versions that have been released. I asked in https://github.com/ether/etherpad-lite/issues/4334 if the issue could be related to ARM.

[2020-09-23 06:51] tim-krieger commented on #4332
I didn't enable ep_helmet before but I tried it yesterday without success.

[2020-09-23 06:58] JohnMcLear commented on #4332
It requires config.  Did you read the plugin docs?

[2020-09-23 07:33] JohnMcLear commented on #4332
Filed upstream as it's 99% an apache proxy issue not an Etherpad issue.

[2020-09-23 07:54] JohnMcLear opened #4337 "Migrate JohnMcLear plugins to Ether/"
The top 10 plugins as per https://static.etherpad.org/ should hand ownership of those repos to the Etherpad Foundation and be part of ether/.

The plugins should pass all checks from checkPlugins (localizations, stale issues resolved, frontend and backend test coverage) and these plugins will all be checked when Etherpad (core) is commited to or has a new open PR (as per current existing CI).

The

[2020-09-23 08:03] ilmartyrk commented on #4317
For our project we have developed a solution based on crowdin. I created a plugin https://github.com/citizenos/ep_translations that enables to sync translations from git repo. All translations are in https://github.com/citizenos/etherpad_translations. All translation keys for our plugins and etherpad are added to source.json. This is synced with Crowdin as Crowdin supports github integrations. Now

[2020-09-23 08:07] JohnMcLear commented on #4337
Work required:

Checking the plugin: ep_author_follow
No repository in package.json

Checking the plugin: ep_author_hover
Test files not found, please create tests.  https://github.com/ether/etherpad-lite/wiki/Creating-a-plugin#writing-and-running-front-end-tests-for-your-plugin

Checking the plugin: ep_cursortrace
Translations not found, please create.  Translation files help with Etherpad access

[2020-09-23 09:15] JohnMcLear commented on #4317
@ilmartyrk That's really cool, I'm +1 sticking w/ translatewiki and @Nikerabbit because they have done a great job so far.

I'm getting the plugins ready now as per https://github.com/ether/etherpad-lite/issues/4337 and the next step will be to give @Nikerabbit some time to come up with a guide/solution to "register" a plugin repo with TW.

[2020-09-23 09:50] doobry-systemli opened #4340 "Regression in 1.8.5: Rate Limited. You sent too many messages to this pad so it disconnected you."
**Describe the bug**
In some occasions (certainly *not* when typing too fast), a rate limit is detected and etherpad disconnects the client connection. This didn't happen with 1.8.4 and only started showing up after we upgraded to 1.8.6. Several independend users reported the same issue.

**To Reproduce**
No real reproducer found yet. It's *not* related to the number of people connected to the pad

[2020-09-23 09:58] doobry-systemli commented on #4340
This is the MR that introduced rate limiting: https://github.com/ether/etherpad-lite/pull/4036

So most likely, the default values are too strict for normal usecase.

[2020-09-23 11:00] JohnMcLear commented on #4340
Did you disable all plugins before checking?

[2020-09-23 14:23] tim-krieger commented on #4332
Yes, of course, I've read the docs. It works but ep_helmet didn't solve the problem.

I think this issue is related to a problematic cookie setting:

video.etherpad.com

`Set-Cookie: express_sid=s%3AQmId8pn_7CAQRzx0rFNpHtucJ5V5jEBE.KKA%2BpIjLQri%2FD6aevZRB9ZrUkMQAiUqBWphSYgFBkBg; Path=/; HttpOnly; Secure; SameSite=Strict`

pad.kits.blog

`set-cookie: express_sid=s%3AR9MVUcfKIwxdCbkFYGbX1zB6x_JHeb4

[2020-09-23 14:38] JohnMcLear commented on #4332
can you test it without apache?  I want to ensure it's not an apache issue which I suspect.

[2020-09-23 14:42] tim-krieger commented on #4332
We've only nginx enabled.

[2020-09-23 14:43] JohnMcLear commented on #4332
-apache +nginx :)

[2020-09-23 16:38] webzwo0i commented on #4332
Confirmed. Bug introduced in d0a16d23cbcbf4b835467fbc6eff0be50948971d
@tim-krieger Can you downgrade pad.kits.blog to 4434e54368d8ba4be23d665caa09c216ea16d9ea and verify it works?

[2020-09-23 16:48] JohnMcLear commented on #4332
ugh good spot.  Perhaps we need test coverage for iframe usage... ;\  I am not sure how we'd achieve it but worth trying.  FWIW I thought the test runner already ran in an iframe but I guess it's not cross domain...

[2020-09-23 18:00] webzwo0i opened #4341 "More test setups for CI"
There are probably other issues that describe similar things, but this is not so much about concrete areas that need more tests but more about the environment in which etherpad can be deployed. Please add more ideas which environments we need to test. I don't say they should run on every commit, but it would be cool to have them at hand.

- todo: search Github issues for other "missing tests" (thi

[2020-09-23 18:01] doobry-systemli commented on #4340
Do you believe that the issue could be related to plugins? Problem is, our Etherpad instance is used quite a lot and disabling plugins for longer will result in unhappy users :wink:

In case we find an easy reproducer, we'll certainly retry to reproduce with plugins temporarily disabled. But honestly I don't see a possible relation to plugins, do you?

[2020-09-23 18:18] JohnMcLear commented on #4340
I remember some cursortrace / caret tracking plugins sent lots of messages making it cause rate limit.  Not sure if it's still the case.

[2020-09-23 18:33] JohnMcLear commented on #4341
It'd also be nice to be able to test against a known amount of hardware so we can get load test reference numbers to see if a change has a negative impact on the servers ability to handle messages.  I don't think Travis offers that specifically but I think you can target cpus?  If not, ``cpulimit`` ?

[2020-09-23 19:01] tim-krieger commented on #4332
Thanks! This works fine.

[2020-09-23 19:11] webzwo0i commented on #4340
@JohnMcLear
Any chance it's not `client.handshake.address` but `client.handshake.headers['x-forwarded-for']`? I have the feeling the first is always the proxy in case of reverse proxy setup?

[2020-09-23 19:24] webzwo0i commented on #4340
In the case of trustProxy=true I think it should be `client.handshake.address` and if trustProxy=false `client.handshake.headers['x-forwarded-for']`

[2020-09-23 21:17] rhansen commented on #4332
Do you have `settings.requireAuthentication` set to false? If so, would you try PR #4342 to see if it fixes the problem for you?

[2020-09-24 04:05] webzwo0i commented on #4341
I'm afraid only different architectures and maybe no. of vCPU can be choosen. In virtualization environments this won't help much, because other jobs on the same hardware have an effect. But it's probably fun to try to get some insights there:
- run the same test multiple times and choose the fastest pass
- repeat the same test with pauses in the hope we get a time slot with less impact from other

[2020-09-24 04:44] webzwo0i commented on #4196
Hehe :-) yeah... Fixing the deprecation warnings will be way more convenient when we have console output in frontend tests.

[2020-09-24 04:59] webzwo0i opened #4344 "Discard wd in favour of webdriver.io or similar"
I probably did not open a ticket for this, yet. We use https://github.com/admc/wd that only supports old Selenium (legacy version 2).

This has impact on our Saucelabs tests, among others:
- we cannot get console output
- we cannot get performance metrics

It must be guaranteed that we can still launch the frontend tests in a local browser after migration.

[2020-09-24 07:31] ldruschk opened #4345 "Permission denied when accessing pad with ID containing umlauts"
**Describe the bug**
Accessing a pad containing umlauts (and potentially other special characters requiring URL encoding) always leads to "You do not have permission to access this pad".

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Authentication (we are using a OAuth2 plugin, but I don't think that matters)
2. Access a pad containing an umlaut, e.g. /p/ü-test
3. See "You do not ha

[2020-09-24 07:37] ldruschk commented on #4345
As an additional note, this issue only started appearing recently (the same pads worked earlier), so it is most likely related to this commit: https://github.com/ether/etherpad-lite/commit/b80a37173efe592c07c89e2e16a7fe6602441ed5#diff-25d902c24283ab8cfbac54dfa101ad31

[2020-09-24 08:02] tim-krieger commented on #4332
An addition to the cookie issue I mentioned before: In Firefox the pad works but the debugger shows me an error. To fix this may prevent issues in the future.

![Screenshot_20200924_095840](https://user-images.githubusercontent.com/64839715/94117723-e1f32780-fe4c-11ea-9ee8-b7b153f65208.png)

[2020-09-24 08:14] webzwo0i commented on #4345
Can you change line 42 from `const` to `let` and insert `padID = decodeURIComponent(padID)` after `if (padID == null) return next();` and see if this solves your problem?

[2020-09-24 08:19] ldruschk commented on #4345
Thanks for the quick response. Yes, this does indeed fix the issue.

[2020-09-24 08:33] webzwo0i commented on #4345
You did all the debug work yourself :-)

@rhansen
You think this is correct or do we need to encodeURIComponent in src/node/db/SecurityManager#checkAccess ?

[2020-09-24 08:38] JohnMcLear commented on #4345
Also please include a test.  I have a fuzz test for pad content not pad IDs.

[2020-09-24 09:42] #4332 closed

[2020-09-24 10:09] JohnMcLear commented on #4344
+1 yes please! :+1:

[2020-09-24 10:11] JohnMcLear commented on #4341
Sounds good to me, I do think having these metrics is valuable but it might be a V2 thing as 1.9 prolly wont include the port to a modern webdriver.

[2020-09-24 14:41] doobry-systemli commented on #4340
To my knowledge, wee don't use a cursortrace plugin. Here's the list of installed plugins:

  - ep_page_view
  - ep_comments_page
  - ep_delete_empty_pads
  - ep_headings2
  - ep_markdown
  - ep_scrolltoanchor
  - ep_spellcheck
  - ep_stats_extended
  - ep_sync_status
  - ep_table_of_contents

[2020-09-24 14:50] JohnMcLear commented on #4340
@doobry-systemli we test rate limiting etc. when load testing so we think the value is okay but you can try to increase the value to see if it remedies your problem.  I'd like to know if something awkward is going on IE improper config of reverse proxy where the correct IP address is not being shown to the limiter.  Alternatively if all of your users come from behind a proxy / gateway where they a

[2020-09-24 14:55] doobry-systemli commented on #4340
@JohnMcLear thanks! We indeed run Etherpad behind a Apache2 Reverse Proxy.

For now we didn't get further reports regarding this issue and we also failed to reproduce the issue ouselves after hitting it once. It's indeed possible that the situations where people hit the rate limit where due to people using a pad from the same source IP.

Is the IP-based rate-limiting per pad or instance-wide? In o

[2020-09-24 15:00] JohnMcLear commented on #4340
instance wide.

[2020-09-24 17:02] rhansen commented on #4337
In addition to moving the Git projects to the `ether/` namespace, the Etherpad devs should be added to the plugin's npm collaborators.

I'd be happy to move the plugins I currently own over to `ether/`, just as long as I retain push access.

[2020-09-24 19:42] chetanmadaan opened #4347 "Unable to Access Group(Private) Pad."
**Describe the bug**
After following the steps in the HTTP API. I am unable to access the newly created private Pad.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a New Author.
2. Create a New Group.
3. Create a New Pad for group.
4. Create Session for Group and Author
5. Create Cookie via console = `document.cookie="sessionID=s.8db6fe22639b52296c96662b80d12860"`

**Expected behavio

[2020-09-24 20:28] JohnMcLear commented on #4347
Do you get this problem using develop branch?

[2020-09-24 20:31] chetanmadaan commented on #4347
No, I downloaded the stable windows version "etherpad-lite-win-1.8.6-299bd962b6.zip"

[2020-09-24 20:36] JohnMcLear commented on #4347
Can you please try develop?

[2020-09-24 20:40] chetanmadaan commented on #4347
I sure can... Give me a few.

[2020-09-24 20:41] chetanmadaan commented on #4347
Sorry, where can I find the development releases?

[2020-09-24 20:42] chetanmadaan commented on #4347
Nevermind, I am cloning git.

[2020-09-24 20:44] chetanmadaan commented on #4347
Develop won't run.

`Chetan@DESKTOP-9246OIJ MINGW64 /e/etherpad-develop (develop)
$ node node_modules\ep_etherpad-lite\node\server.js
internal/modules/cjs/loader.js:979
  throw err;
  ^

Error: Cannot find module 'E:\etherpad-develop\node_modulesep_etherpad-litenodeserver.js'
?[90m    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:976:15)?[39m
?[90m    at Function.Module._load

[2020-09-24 20:46] JohnMcLear commented on #4347
Do

Cd SRC
Npm install

[2020-09-24 20:48] chetanmadaan commented on #4347
running now.

[2020-09-24 20:50] chetanmadaan commented on #4347
still struggling.

[code]

[2020-09-24 21:06] JohnMcLear commented on #4347
Any chance you can provide an MVP use case that replicates this bug?  IE the source code you are using to hit these API endpoints?  We cover most of the API with test coverage but it's possible we missed something!

[2020-09-24 21:43] Gared commented on #4337
Maybe create a team on npm to manage those plugins?!

[2020-09-24 21:45] chetanmadaan commented on #4347
Postman screenshots 1 of 4.
![image](https://user-images.githubusercontent.com/3968575/94203548-99a82980-fe8d-11ea-9385-7af7abedc278.png)

2 of 4
![image](https://user-images.githubusercontent.com/3968575/94203559-a167ce00-fe8d-11ea-9a11-9bb34f5e302b.png)

3 of 4
![image](https://user-images.githubusercontent.com/3968575/94203579-a9277280-fe8d-11ea-97e0-fbc702ac7f70.png)

4 of 4
![image](https://u

[2020-09-25 08:40] gnd commented on #3545
Hi, while trying to repair a broken pad with bin/repairPad.js it finishes with:

`[2020-09-25 10:36:08.174] [INFO] console - aborting [gitlab #3545]`

Is that still of interest for this ticket ?

[2020-09-25 10:53] JohnMcLear commented on #3545
I think it checks the pad but never does the repair, unless I'm mistaken.

[2020-09-25 11:33] JohnMcLear commented on #4337
Team members: @rhansen @Gared @webzwo0i @translatewiki @orblivion

Who else would like access?

[2020-09-25 18:58] chetanmadaan commented on #4347
I thought it have something to do with my windows local setup, Went ahead and spinned it up on AWS (Amazon Linux) and still have the same results.

[code]

[2020-09-25 19:13] chetanmadaan commented on #4347
Switched to Mysql to see if that makes a difference and still no awail.

Is it just me or are others having this issue too?

[2020-09-25 19:20] chetanmadaan commented on #4347
applying the following fix doesn't work either.

https://github.com/ether/etherpad-lite/pull/4324/commits/0d188b108481bce7faf04ff9a3018f150ca464fa

[2020-09-25 19:32] JohnMcLear commented on #4347
We have test coverage for this access and it isn't failing, but that doesn't mean it isn't a bug.

[2020-09-25 19:49] chetanmadaan commented on #4347
Thanks, any suggestions on what I could try?

[2020-09-25 19:55] JohnMcLear commented on #4347
1. Create a simple test case IE a curl script or something that we can use to replicate, that's usually really good.
1. Try bisect to older versions to see if it's a new thing or if its been in as a bug for a long time.

[2020-09-25 20:04] chetanmadaan commented on #4347
1. I am not good at curl but will see what I can do
2. I'll try older version to see if that works.

Thank you

[2020-09-25 23:45] chetanmadaan opened #4350 "Download document as a PDF?"
* * *
name: Feature request
about: Ability to download the document as PDF.
labels: enhancement
assignees:
* * *

[2020-09-26 01:04] rhansen commented on #4350
Etherpad already supports PDF export. To enable, you must set either `soffice` or `abiword` in `settings.json`.

![Screenshot_20200925_205833](https://user-images.githubusercontent.com/1612291/94326550-99358e80-ff72-11ea-8825-560638493007.png)

[2020-09-26 08:18] #4350 closed

[2020-09-26 09:47] #4345 closed

[2020-09-26 17:32] #4331 closed

[2020-09-26 17:52] alyberty commented on #4347
I also observed this behavior after an upgrade to 1.8.6 (from something old).
Any group pad results in "You do not have permission to access this pad".
I also tried to disable the access restrictions to the pad (via setPublicStatus), which at least changes the behavior.
After this, the pad is stuck at "Loading..."
I also found these errors in the logs when trying to load the "public" group pad:
[c

[2020-09-26 17:56] rhansen commented on #4347
@alyberty There is a bug in v1.8.6 that was fixed in commit 3886e95c83af106f812da39987a304201689081d. Please try the current `develop` branch, or cherry-pick that commit.

[2020-09-26 18:06] rhansen commented on #4347
I just spotted a typo in the session check code. @alyberty: Would you please try #4357 and let me know if it fixes it for you?

[2020-09-26 18:10] alyberty commented on #4347
Thanks for the quick reply!
The cherry pick  3886e95 didn't fix it, but your proposed change in #4357 did.
Can be closed for me.

[2020-09-26 18:11] rhansen commented on #4347
@chetanmadaan Would you also try PR #4357 and report back? Thanks!

[2020-09-26 18:24] rhansen commented on #4331
FYI, I reproduced the disconnects on Linux by doing the following:

  1. Run: `killall -STOP node`
  2. Wait for the client to notice that it can no longer ping the server and enter the reconnecting state
  3. Run: `killall -CONT node`

[2020-09-26 18:25] rhansen commented on #3830
@ryanpitts @joassouza We recently made some changes to improve handling of reconnects (see #4331). Please keep an eye out for regressions when you upgrade.

[2020-09-26 19:01] rhansen commented on #4332
Unfortunately fixing those isn't trivial because the cookies would have to be replaced with something else. This is doable for `express_sid`, but not `token` or `prefs`. Fortunately, the `token` and `prefs` cookies aren't strictly necessary (they just provide a better user experience), and `express_sid` is no longer necessary (since PR #4342) as long as `settings.requireAuthentication` is false.

[2020-09-26 20:05] tim-krieger commented on #4332
Thank you @rhansen for explanation and for developing this great app!

[2020-09-26 20:47] #3154 closed

[2020-09-26 20:48] JohnMcLear opened #4360 "Create test coverage for export of read only pads"
To cover issue of : https://github.com/ether/etherpad-lite/pull/4309

[2020-09-26 23:36] chetanmadaan commented on #4350
My apologies!

[2020-09-27 03:08] chetanmadaan commented on #4347
@rhansen I went ahead and modified the file SecurityManager.js manually in both node_modules folder and /src/node/db folder.

Still the same results. Nothing new.

[code]

[2020-09-27 11:07] ovari commented on #4203
.

[2020-09-27 13:00] JohnMcLear commented on #4203
@ovari we allow non worked on issues to go stale.  If you want this to be worked on please ask people to work on it.

[2020-09-27 19:22] rhansen commented on #4347
Please update to the latest commit on the `develop` branch and try again with `loglevel` set to `DEBUG`.

[2020-09-27 19:23] rhansen commented on #4347
@JohnMcLear would you please reopen this bug?

[2020-09-27 21:53] JohnMcLear commented on #4360
Fixed in https://github.com/ether/etherpad-lite/pull/4364

[2020-09-27 21:53] #4360 closed

[2020-09-27 22:54] chetanmadaan commented on #4347
@rhansen still the same issue.
[code]

[2020-09-28 02:14] rhansen commented on #4347
What time zone are the timestamps in? I want to confirm that your `validUntil` value is in the future.

[2020-09-28 02:19] rhansen commented on #4347
I should have looked more closely before making my previous comment. Your `validUntil` is way in the past no matter what your time zone is:

[code]

[2020-09-28 02:53] rhansen commented on #4347
Oops, I didn't notice 2021. I'm just not observant today.

[2020-09-28 03:27] chetanmadaan commented on #4347
Yeah, the timezone is +1 year from when I started testing this.

[2020-09-28 03:27] chetanmadaan commented on #4347
Timestamps are in EST.

[2020-09-28 04:39] rhansen commented on #4347
The session ID isn't in the websocket message sent from the web browser to the server. Please verify that you are setting the `sessionID` cookie properly.

[2020-09-28 04:43] rhansen commented on #4347
From your log it looks like there were two attempts to load the pad. The first attempt didn't have the `sessionID` cookie. The second did, but with the wrong session ID.

[2020-09-28 05:53] chetanmadaan commented on #4347
I intentionally make two attempts, one to load the page and then using the console setting the sessionID and the second one to refresh the page when I do have the sessionID as a cookie.

I'll run a fresh test in a few hours and post back my results.

[2020-09-28 07:04] jeanfabrice commented on #4276
ping @Gared @JohnMcLear

[2020-09-28 08:32] jaywink opened #4372 "Docker 1.8.5 and 1.8.6 images missing from Docker Hub"
Docker 1.8.5 and 1.8.6 images seem to be missing from Docker Hub: https://hub.docker.com/r/etherpad/etherpad

[2020-09-28 08:34] JohnMcLear commented on #4276
I don't do anything to do with docker, sorry!

[2020-09-28 10:19] RuthCatlow commented on #4340
Confirm that this is a persistent problem for us - a pad used by 2 people - intermittently in different locations.
Absolutely normal use. This is a new problem for us.

[2020-09-28 10:20] JohnMcLear commented on #4340
@RuthCatlow can you please increase the ``max`` value in settings.json under section ``importExportRateLimiting`` and let ujs know if this fixes it for you.

The number of people on the pad doesn't matter so much.  By normal use, it's really hard for us to define "normal use" as normal use between one of our users is totally different from others.  But I assume by normal you mean Etherpad without

[2020-09-28 10:22] #4325 closed

[2020-09-28 10:26] RuthCatlow commented on #4340
Sorry John, I should have been clearer I am using a free service at https://pad.riseup.net/

[2020-09-28 10:37] JohnMcLear commented on #4340
@RuthCatlow then please talk to the riseup team :+1: )

[2020-09-28 11:10] webzwo0i commented on #4340
I had no time to get CI for this in, yet. Our current tests with loadtest and import/export basically show that if you increase the value everything is fine.
@JohnMcLear
`importExportRateLimiting` is probably fine because in this case it's directly used as express middleware and thus express uses the right IPs. I did not verify that either, though.
RE this issue: The reason I could not test with e

[2020-09-28 11:24] JohnMcLear commented on #4340
@webzwo0i setting ``loadTest`` to ``true`` disables rate limiter.

Lemme know RE fix-ratelimit PR et al.

[2020-09-28 14:44] chetanmadaan commented on #4347
Hi,

Still the same result as you can see below.
I did made sure the session ID was correct and matches what was returned in the API call.

[code]

[2020-09-28 15:17] doobry-systemli commented on #4340
Limiting rate limits to import/export sounds like a sensible thing to do :+1:

[2020-09-28 15:18] webzwo0i commented on #4347
Transmitting the cookie in curl seems to work fine:
`#!/bin/bash
host="http://localhost:9001"
apikey="c23f9fd186886ea9300d465ee6b52de0a0b350f54a429060f4b43c0684c12d7d"
apiversion="1"

authorName="tester"
validUntil=$(($(date +%s) + 10000))
padName="TestGroupPadCreation"
echo "validUntil ${validUntil}"

groupID=$(curl -s "${host}/api/${apiversion}/createGroup?apikey=${apikey}" | jq -r '.data.groupI

[2020-09-28 16:08] JohnMcLear commented on #4340
Rate limiting changesets is a method to stop a bad actor committing too much damage.  It's required imho.  I can explain in private over email Webzzzzz if you want?

[2020-09-28 16:22] ryanpitts commented on #3830
Thanks! I saw that 1.8.6 landed, and I'm planning to upgrade either this week or next.

[2020-09-28 17:36] rhansen commented on #4340
**WARNING:** Setting `loadTest` to `true` makes it possible for anyone to bypass authentication and authorization checks.

Agreed.

I think that's OK. The goal should be to keep the system from buckling under load, not to stop all malicious traffic. Disconnecting a random user each time the limit is exceeded meets that goal.

Cheap != free. Early load shedding is critical to providing a service (i

[2020-09-28 17:55] rhansen commented on #4340
(For simplicity, I'm going to refer to HTTP requests per second plus socket.io messages per second as [QPS](https://en.wikipedia.org/wiki/Queries_per_second).)

I think there should be two or three layers of rate limiting:
  * Server-wide total QPS limit. (defense against overload collapse)
  * QPS limit per client IP address. (defense against malicious users)
  * QPS limit per socket.io connectio

[2020-09-28 18:50] chetanmadaan commented on #4347
@webzwo0i thank you for putting this script together, for some reason it doesn't see to be working for me.

one question, does the pad have to be public with "publicStatus=true" like you did in the last step?

[2020-09-28 19:04] micah commented on #4340
This branch doesn't have any commits in it, did it get removed?

[2020-09-28 20:53] disturbio commented on #4340
@doobry-systemli: did any suggestion work for you? we had to rollback to 1.8.4 as it made our instance impossible to use.

[2020-09-28 22:15] webzwo0i commented on #4340
@micah It's up again: https://github.com/ether/etherpad-lite/compare/fix-ratelimit#diff-5d2aa4336c4964b828a123e20e09b73c

[2020-09-28 23:23] webzwo0i commented on #4347
No, it's commented out. It must be false. Your latest paste indicates `Your Etherpad version is 1.8.6 ()`. Are you sure you're running latest develop branch, because this seems to be 1.8.6

[2020-09-28 23:24] rhansen commented on #4340
Does increasing `commitRateLimiting.points` in `settings.json` not work?

[2020-09-29 00:15] webzwo0i commented on #4340
@rhansen  thanks for your explanation! I must think about this a little bit more when I'm rested. :-) Is my understanding right, that you vote for not kicking everyone that shares the same IP, when a rate limit is reached? In this case I think the patch is ready.

https://travis-ci.org/github/ether/etherpad-lite/builds/731127336 has a docker setup with a reverse proxy and checks if etherpad takes

[2020-09-29 00:25] doobry-systemli commented on #4340
We just raised `commitRateLimiting.points` from `10` to `100`. According to the metrics, not too many users ran into the rate limit before anyway, but we have to investigate a bit further. For the moment I hope that the raised limit works as a workaround :wink:

[2020-09-29 05:12] rhansen commented on #4340
Yes, your understanding is right.

[2020-09-29 08:14] jeanfabrice commented on #4372
duplicates #4276

[2020-09-29 08:25] comete-upn commented on #4347
Hi,

We are using Moodle to create pads. These pads are therefore private.
After upgrading to version 1.8.6 we couldn’t access the pads and reverted to version 1.8.5.

Applying both the commit [SessionManager: Fix session expiration check](https://github.com/ether/etherpad-lite/commit/3886e95c83af106f812da39987a304201689081d) and the proposed [Fix typo in session check](https://github.com/ether/et

[2020-09-29 08:28] alperbayata opened #4374 "Remove etherpad contribute"
How to disable contributing

[2020-09-29 10:08] JohnMcLear commented on #4374
Wha?

[2020-09-29 10:36] alperbayata commented on #4374
[url=https://hizliresim.com/TrvNe2][img]https://i.hizliresim.com/TrvNe2.png[/img][/url]  Is it possible to remove this

[2020-09-29 10:40] JohnMcLear commented on #4374
Yes.  Either with a plugin or custom CSS rule to just hide the button.  The plugin might want to override the /import & /export endpoints too if you want to be thorough about the job.

It can probably also be done in settings.json by modifying the toolbar options.

Please do a tiny bit of effort before creating noise here, we are all very busy and need our community to do some self serving before

[2020-09-29 10:40] #4374 closed

[2020-09-29 10:45] alperbayata commented on #4374
No. This is not what I mean. How can I remove the "contributor" in the import section every time I open Etherpad. I want to import files directly without contributing.

[2020-09-29 10:51] JohnMcLear commented on #4374
https://github.com/ether/etherpad-lite/blob/develop/settings.json.template#L483

TLDR; set

``allowAnyoneToImport": true``

**This is not recommended if your instance is not behind some authentication/authorization** -- Setting this to true can allow a malicious actor to spam import endpoints unrestricted.

[2020-09-29 10:55] alperbayata commented on #4374
Thank you very much. I apologize for my bad english :)

[2020-09-29 11:01] JohnMcLear commented on #4374
No problem, I went through and corrected where applicable.  You might prefer Discord for basic questions like this.    https://discord.gg/FDhurk

[2020-09-29 14:51] disturbio commented on #4340
@rhansen no, it didn't work with our current users (increased adding several zeros at the end).

@webzwo0i will try it later today or tomorrow. thanks for your help with this!

[2020-09-29 15:13] chetanmadaan commented on #4347
Got it, Thank you.
I downloaded the following version https://github.com/ether/etherpad-lite.git (since that's the latest develp branch... right)?

[2020-09-29 15:13] chetanmadaan commented on #4347
I have to be doing something wrong since it's working for @comete-upn as well.

[2020-09-29 15:47] JohnMcLear commented on #4347
@chetanmadaan use git to get etherpad then checkout the develop branch or whatever branch you want.

[2020-09-29 18:47] rhansen commented on #4372
Duplicate of #4276

[2020-09-29 18:47] #4372 closed

[2020-09-29 19:00] rhansen commented on #3830
@ryanpitts: The change that I'm referring to is not in v1.8.6; it will appear in the next release.

A heads up: There are a couple of bugs in v1.8.6 related to [sessions](https://etherpad.org/doc/v1.8.6/#index_session). If you use the HTTP API then you will probably need to cherry-pick 3886e95c83af106f812da39987a304201689081d and 4332affba6264cc886878b36873266f9e1dbc457 (or just check out the `dev

[2020-09-29 19:13] Gared commented on #4276
@jeanfabrice I'm sorry, but we don't have access to this docker hub. I'm trying to find the owner

[2020-09-29 19:41] chetanmadaan commented on #4347
@JohnMcLear It was the freaking Checkout Branch! Thank you so very much for not giving up on me.

@rhansen Thanks for the fix.

[2020-09-29 19:41] #4347 closed

[2020-09-29 19:44] chetanmadaan opened #4375 "First time setup questions!"
Hello Gentlemen (& Ladies),

Now that I have the instance running, I have some lame a** questions that I wanted to ask.

1. How do I actually set the session. All this time I have been doing it via console and etherpad would run on a subdomain compared to the primary domain from where the user's will be coming here.
Can it be done via URL or something i.e. http://127.0.0.1:9001/p/g.oNlM73EFpQCYuoI

[2020-09-29 19:46] chetanmadaan commented on #4375
3. How do I configure the domain name on this since this is no longer Apache and we don't have virtual hosts.

[2020-09-29 19:56] ber8749 opened #4376 "UnhandledPromiseRejectionWarning: Error: self signed certificate in certificate chain in 1.8.5 and 1.8.6"
**Describe the bug**
When spinning up etherpad 1.8.5 or 1.8.6 in ubuntu 16.04, the following error is encountered:
[code]
We have previously run etherpad versions 1.6.1 through 1.8.4 without issue.

**To Reproduce**
N / A

**Expected behavior**
Server to start.

**Screenshots**
N / A

**Desktop (please complete the following information):**
N / A

**Smartphone (please complete the following inform

[2020-09-29 20:11] disturbio commented on #4340
@webzwo0i seems to be working \o/

[2020-09-29 22:36] chetanmadaan commented on #4375
#3.
https://github.com/ether/etherpad-lite/wiki/How-to-put-Etherpad-Lite-behind-a-reverse-Proxy#http-proxy

Tried setting up the basic https proxy (didn't work, nothing  would show up on domain name).
Setup Apache with SSL and I have 502 Proxy error.

Will try this again in a few hours with more energy.

[2020-09-30 00:52] rhansen commented on #4375
1. Your frontend server returns it to the user in a `sessionID` cookie.
2. `settings.json` has [`port`](https://github.com/ether/etherpad-lite/blob/554eef77708fcc5b597d5864395bd4ba61dfde5e/settings.json.template#L129) and [`ssl`](https://github.com/ether/etherpad-lite/blob/554eef77708fcc5b597d5864395bd4ba61dfde5e/settings.json.template#L147-L151) options, but I recommend using a reverse proxy.
3.

[2020-09-30 01:32] rhansen commented on #4376
Did you upgrade node.js and/or your SSL library? That might explain why it's not working for you now.

See https://stackoverflow.com/q/45088006 for workarounds, but I highly recommend using a real certificate. You can get them for free with https://letsencrypt.org/.

[2020-09-30 02:14] rhansen commented on #4337
Does anyone here have access to https://www.npmjs.com/~etherpad or know who does?

[2020-09-30 09:12] woeterman94 opened #4377 "ssl connection is required. please specify ssl options and retry"
How can I specify that SSL is required to connect with my postgres database?

I tried adding   **"sslmode": "require"** but that does not seem to work.

[code]

[2020-09-30 10:24] woeterman94 commented on #4334
Got the same issue when trying to run etherpad in docker.

[2020-09-30 10:26] woeterman94 commented on #4335
What version should I try for the docker image?

[2020-09-30 10:38] Joggel72 opened #4378 "API: listAll... failed"
**Describe the bug**
I've tried to use the listAll... methods.
Bull methods received the following response:
_{"code":2,"message":"createHTTPError.notFound is not a constructor","data":null}_

There is no entry in the log for these requests.
Other requests are working.

**To Reproduce**
Using curl:
_curl "http://localhost:9001/api/1/listAllGroups?apikey=477d..." _

**Expected behavior**
code: 0 an

[2020-09-30 10:47] JohnMcLear commented on #4378
Does it work on develop?

[2020-09-30 11:53] webzwo0i commented on #4334
Please paste your Dockerfile

[2020-09-30 12:18] Joggel72 commented on #4378
In the log I can see this:
 Etherpad is running in Development mode.

[2020-09-30 12:20] woeterman94 commented on #4334
I'm using the one in the master branch.

I changed `FROM node:10-buster-slim` to `FROM node:12-buster-slim`

[2020-09-30 12:31] JohnMcLear commented on #4378
Please try develop branch

[2020-09-30 12:56] webzwo0i commented on #4334
Weird. Cannot reproduce. Are you running on special hardware like Raspberry PI?

[2020-09-30 13:40] woeterman94 commented on #2526
When using your plugin I get "no api key provided"

[2020-09-30 13:45] faizan-glowlogix opened #4379 "[QUESTION] How to export/import pdf file in etherpad through its API?"
I'm trying to use etherpad-lite with one of my php laravel based application. In our application user will upload the document on system and our system needs to display that document in a window for editing.

Until now, I've been able to create pad and padGroups in my laravel app through API for dummy text.

I've also installed LibreOffice and required plugin in my server. Import/Export functional

[2020-09-30 14:16] Joggel72 commented on #4378
I've tried to use it, but start failed.

I've get the zip from https://github.com/ether/etherpad-lite/archive/develop.zip unzipped the actuell version in a new directory. Then called in directory src
_npm install_
called _start.bat_
and got
C:\tmpWork\etherpad-lite-develop>node node_modules\ep_etherpad-lite\node\server.js
internal/modules/cjs/loader.js:969
  throw err;
  ^

Error: Cannot find modu

[2020-09-30 14:28] webzwo0i commented on #4378
bin/installOnWindows.bat before start.bat

[2020-09-30 14:32] webzwo0i commented on #4379
afaik there is no API endpoint for import/export and you need to convert the file in your backend, but there are API endpoints for getHTML/setHTML

[2020-09-30 14:39] n-goncalves commented on #4379
I was having a similar problem a few days ago.

From what I saw there's nothing in the HTTP API allowing to set the content of a pad using something else than text or HTML. And no way to hook to the HTTP API in order to extend it (Please correct me if I'm wrong).

What I ended up doing is creating a plugin which adds the ability to import export.
It's basically a mix of [APIHandler.js](https://git

[2020-09-30 15:10] Kurounin commented on #2526
@woeterman94 the plugin is meant to be used with an existing session id to display the etherpad-lite page, not to do api calls. You're supposed to use the api to create the session first (from a backend service) and then output an `iframe` as mentioned in the documentation of the plugin to display the etherpad-lite page.

[2020-09-30 15:42] faizan-glowlogix commented on #4379
@n-goncalves  Can you please share your code?

[2020-09-30 16:39] woeterman94 commented on #2526
I know. See my comment here: https://github.com/Kurounin/ep_auth_session/issues/4.

[2020-09-30 16:42] woeterman94 commented on #4334
An Azure App Service with the docker image.

[2020-09-30 16:50] ukcb commented on #4377
Activate ssl-mode in postgres?

[2020-09-30 17:02] woeterman94 commented on #4377
Other way around. My postgres DB (in azure) demands ssl connections. I'm unable to connect using ssl because there is no "sslmode require" option anywhere.

[2020-09-30 17:22] JohnMcLear commented on #4377
See ueberdb.  You can use any normal setting for postgres module afaik.

[2020-09-30 17:24] JohnMcLear commented on #2526
Worth noting we dropped the lite bit in the name 👍

[2020-09-30 17:37] JohnMcLear commented on #4276
I sent you access @Gared

[2020-09-30 21:01] Gared commented on #4276
@JohnMcLear @jeanfabrice Fixed. Tags for 1.8.5 and 1.8.6 created and (hopefully) new tags will be added automatically

[2020-10-01 03:15] rhansen commented on #4379
Does `GET` of `/p/${pad}/export/pdf` and `POST` to `/p/${pad}/import` not work for your use case? You will have to create a session first and pass the session ID via the `sessionID` cookie.

[2020-10-01 08:24] n-goncalves commented on #4379
You could do that for exporting, but you need to be an author to import from what I understood.

@faizan-glowlogix Here's my plugin https://gist.github.com/n-goncalves/84683a3f7806cb05a3fc8d0384e3146a

It adds news endpoint at `/importExport/${pad}/export/${type}` and `/importExport/${pad}/import` to which you can pass the apikey as you would normally.

[2020-10-01 08:28] JohnMcLear commented on #4379
This is a setting that can be enabled/disabled.  The example curl for importing is available in the backend tests folder.

[2020-10-01 09:43] jeanfabrice commented on #4334
I can confirm that vanilla etherpad docker image 1.8.6 and 1.8.5 recently built are broken.
Base image has not changed since 1.8.0 (node:10-buster-slim) so unless it is rebuild on dockerhub, etherpad image 1.8.4 should still work.

Seems related to #4335

[2020-10-01 17:54] rhansen commented on #4334
@jeanfabrice: Can you reproduce the problem with the current develop branch? Please report success/failure on bug #4335.

[2020-10-01 18:36] rhansen opened #4381 "Revisit allowAnyoneToImport"
PR #3833 added a requirement to edit a pad before import, unless `settings.allowAnyoneToImport` is true (see issue #3964 and PR #3965). I don't know all of the background that went into adding that requirement, but with recent authentication and authorization changes (see issue #4325) it might now be safe to rely solely on [`securityManager.checkAccess`](https://github.com/ether/etherpad-lite/blob

[2020-10-01 18:47] JohnMcLear commented on #4381
That's a very good point.  However having "tools" that can import without creating sessions is also useful.  That said, shifting for clients to use ``userCanModify`` etc. is a great idea.

So to summarize.  Keep ``allowAnyoneToImport`` logic but shift clients to use ``userCanModify`` to enable/disable import.  @rhansen does that make sense?  Fancy taking a stab at it?

[2020-10-01 19:27] rhansen commented on #4381
Currently, the `'/p/:pad/import'` handler calls `securityManager.checkAccess` before checking `settings.allowAnyoneToImport`. Thus, tools must authenticate as a user (assuming authn is required) or create a session before importing even if `settings.allowAnyoneToImport` is true. Tools won't be affected if we completely remove `allowAnyoneToImport`.

To make it possible for tools to import and expo

[2020-10-01 19:28] chetanmadaan commented on #4375
@rhansen
1. Frontend server might not be able to do this, since the frontend server is running on domain.com and etherpad is running on domain2.com

Please keep this open as I am working on 2/3 and will post back a fix which may/may not be helpful with others.

[2020-10-01 19:36] chetanmadaan opened #4382 "Importing Document cleares all revision history"
**Describe the bug**
Uploading a document (in this case I used a .doc) replaces the pad ( _which is expected behavior_), but also the revision's prior to file upload are then no longer visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new type.
2. Type in some content.
3. Download a copy as word doc ( _you must have soffice or abiword installed and setup in order to do this_)

[2020-10-01 20:46] rhansen commented on #4375
That's currently not supported (patches welcome). To work around it you can have your frontend server also act as a reverse proxy to Etherpad.

[2020-10-01 20:47] jeanfabrice commented on #4335
Well, I'm a bit puzzled.

Ran a few tests without being able to reproduce this issue as often as I would:
- local NodeJS 10.22.1 + etherpad 1.8.6 + DirtyDB : works
- local Docker image etherpad/etherpad:1.8.6 + DirtyDB : works
- Docker image etherpad/etherpad:1.8.6 + few plugins + MySQL 8 : works
- Kubernetes deployment using Docker image etherpad/etherpad:1.8.6 + few plugins + MySQL 8 : don't wor

[2020-10-01 20:53] JohnMcLear commented on #4335
I am too oldschool to use any containers.  Sorry!

[2020-10-01 20:55] jeanfabrice commented on #4335
@JohnMcLear np, but what was your setup when you ran into this error? NodeJS version? arch?

[2020-10-01 20:56] JohnMcLear commented on #4335
Oh my log is from another issue...  I should have linked it.

[2020-10-01 21:06] chetanmadaan commented on #4375
Got it. that's more complicated stuff then.

If we get something like ?setsessionID or so. That should be perfect. Let me see if I can do some digging around and find a patch. I am pretty sure I won't though.

[2020-10-01 21:15] jeanfabrice commented on #4335
Well, original issue mentioned by @JohnMcLear was #4334. Environment may be ARM (?), solved upgrading to Node 12

@woeterman94 seems to encounter the issue as well, running Docker 1.8.6 image on Azure. Again, solved changing the Dockerfile base image to node:12. @woeterman94: were you ran some tests locally?

And now, me, encountering the issue running Docker images on on-premise Kubernetes platfo

[2020-10-01 21:26] #4276 closed

[2020-10-01 22:24] jeanfabrice commented on #4335
Also :
- Kubernetes deployment using Docker image etherpad/etherpad:1.8.4 + MySQL 8 : works
- Kubernetes deployment using Docker image etherpad/etherpad:1.8.5 + MySQL 8 : doesn't work

[2020-10-02 00:17] iuriguilherme commented on #4326
I have nodejs v10.21.0 from debian buster package and getting the same error.

[2020-10-02 00:23] iuriguilherme commented on #4326
Reinstalling using current LTS (v12) has solved it: https://github.com/nodesource/distributions#installation-instructions

[code]

[2020-10-02 02:48] rhansen commented on #4379
PR #4381 will remove the need to create and edit a pad before import. You will still need to authenticate as a user or create a session unless the `requireAuthentication` and `requireSession` settings are both false.

[2020-10-02 04:21] JohnMcLear commented on #4335
Switching to terser broke something with containers.  1.8.5 kn and node 12 okay?

[2020-10-02 05:55] rhansen commented on #4334
Duplicate of #4335

[2020-10-02 05:55] rhansen commented on #4326
Duplicate of #4335

[2020-10-02 05:55] #4326 closed

[2020-10-02 06:35] jeanfabrice commented on #4335
@JohnMcLear I did not test Node12 on containers but @woeterman94 did. And success.

I will bisect around terser’s commit and will post result

[2020-10-02 07:29] MikkCZ commented on #4335
I hit the same issue today on fresh installation of Debian 9. After first boot, I upgraded all packaged and the followed installation steps as in Etherpad README file. A workaround for me was to update the `bin/run.sh` file and adding `--experimental-worker` flag right after `exec node`. on the very last line.

[2020-10-02 07:57] jeanfabrice commented on #4335
This is a nice catch!
Docker image jeanfabrice/etherpad:f1e3aff7 (based on f1e3aff7, terser's commit) : doesn't work
Docker image jeanfabrice/etherpad:166e1371 (based on 166e1371 previous commit) : works

[2020-10-02 08:25] woeterman94 commented on #4334
What hardware are you testing on?

[2020-10-02 11:09] JohnMcLear commented on #4335
Good catch re experimental workers..

[2020-10-02 12:45] woeterman94 commented on #4332
Cookies should have the "secure" flag when using `samesite = none` in chrome.

Works
image
![image](https://user-images.githubusercontent.com/5755057/94924465-dbecee80-04bd-11eb-9b2b-f52a6d5e66c6.png)

Doesn't work
image
![image](https://user-images.githubusercontent.com/5755057/94924478-e14a3900-04bd-11eb-8c50-5afa1a4cd337.png)

[2020-10-02 14:11] YSelfTool commented on #4378
@Joggel72 listAllGroups is not available in API version 1. You need to pass version >= 1.1, just pass 1.2.14 (the current one):
`curl …/api/1.2.14/listAllGroups?…`, then it will work.
@JohnMcLear Something is wrong with the import of http-errors, leading to this "notFound is not a constructor" error when calling "new createHTTPError.notFound".

[2020-10-02 14:40] faizan-glowlogix commented on #4379
Uncaught TypeError: Cannot read property 'setStateIdle' of null -- { errorId: 'CIHQm6npexmwmnCUKfw5',
  msg:
   'Uncaught TypeError: Cannot read property \'setStateIdle\' of null',
  url: 'http://127.0.0.1:9001/p/Test',
  linenumber: 227,
  userAgent:

Anyone know about this? @rhansen  @n-goncalves

[2020-10-02 18:19] rhansen commented on #4379
Not me. Where are you seeing this? Is this related to import/export of PDFs? Steps to reproduce?

[2020-10-02 19:08] rhansen commented on #4378
The error handling code in [`openapi.js`](https://github.com/ether/etherpad-lite/blob/891d2600fa4659d6183bb3ac524b88e504835ff3/src/node/hooks/express/openapi.js) (specifically [here](https://github.com/ether/etherpad-lite/blob/891d2600fa4659d6183bb3ac524b88e504835ff3/src/node/hooks/express/openapi.js#L586-L591) and [here](https://github.com/ether/etherpad-lite/blob/891d2600fa4659d6183bb3ac524b88e5

[2020-10-03 08:23] mitar commented on #2683
unstale

[2020-10-03 11:20] afifa-glowlogix opened #4385 "[QUESTION] PDF and Docx import results unformatted text."
I've followed this link to https://github.com/ether/etherpad-lite/wiki/How-to-enable-importing-and-exporting-different-file-formats-with-AbiWord to install LibreOffice and ep_import_documents_hook  https://github.com/mrbabbs/ep_document_import_hook to import documents in my pad, but the resultant pad text is unformatted.
It'll have a lot of extra spaces and change the lists to only 1.

[2020-10-03 11:25] JohnMcLear commented on #4385
Our tests pass here.

https://github.com/mrbabbs/ep_document_import_hook  -- are you sure you want to use this?  Perhaps it's causing problems?

This looks to be a plugin issue unless you can replicate on say https://video.etherpad.com -- if you can, please provide the document.

[2020-10-04 04:31] rhansen commented on #4332
FYI: PR #4384 will allow pad admins to set `SameSite=None` for session cookies, which should make Etherpad usable in iframes even with `requireAuthentication = true` (assuming the user's browser does not block third-party cookies).

[2020-10-05 06:29] afifa-glowlogix commented on #4385
I think it has something to do with high fidelity of the document.

[2020-10-05 06:34] afifa-glowlogix commented on #4385
Here is one of my documents: https://drive.google.com/file/d/1mAfZxHkR2ny5SMHVsAKF-fuY2A1RaT1u/view

[2020-10-05 07:05] JohnMcLear commented on #4385
Did you try without plugins?  Does it work on video.etherpad.com?

[2020-10-05 07:10] woeterman94 commented on #4332
How can I pass the sessionID as a parameter to the iframe?

[2020-10-05 09:17] afifa-glowlogix commented on #4385
Yeah.
I've tried without the plugin as well but same results.
and video.etherpad.com is also generating the same result.

[2020-10-05 09:19] JohnMcLear commented on #4385
https://video.etherpad.com/p/3HvCofvIJq1TsySXHaEv works...

[2020-10-05 09:21] JohnMcLear commented on #4385
I think this is more "I want Etherpad to behave the same as Word/Docs" not "there is an actual problem".   Etherpad formats content differently and behaves differently because it's entirely different software..  Do you have a specific problem or???

[2020-10-05 09:21] afifa-glowlogix commented on #4385
![Capture](https://user-images.githubusercontent.com/65132592/95062050-db4e9500-0715-11eb-8029-bc025d89d9e8.PNG)
![Capture2](https://user-images.githubusercontent.com/65132592/95062054-dd185880-0715-11eb-9fe7-6a137bc17d78.PNG)

The first one is the original document and 2nd is how it's displaying on video.etherpad.com

[2020-10-05 09:23] JohnMcLear commented on #4385
I'm seeing the document you gave us correctly imported with correct line listing.  I'm also seeing Etherpad handle line numbers completely fine, by using 1.1 et al not 1.a..

Please try to be coherant.  Provide one specific example in one document and frame your question as that, see the new issue guidelines for some advise in how to create bug reports.

[2020-10-05 09:23] afifa-glowlogix commented on #4385
![video etehrpad 2](https://user-images.githubusercontent.com/65132592/95062313-3c766880-0716-11eb-8724-7dca40f7fc21.PNG)
![video etherpad](https://user-images.githubusercontent.com/65132592/95062324-3f715900-0716-11eb-93d4-822c1f348733.PNG)

@JohnMcLear that's how it's showing up here.
All the indentations have gone and the page no is displaying on top?

[2020-10-05 09:30] JohnMcLear opened #4387 "Uncaught Error: The module at "js-cookie/src/js.cookie" does not exist."
```Uncaught Error: The module at "js-cookie/src/js.cookie" does not exist.```

When visiting the timeslider of a pad with contents in.

Branch: Develop

[2020-10-05 09:32] afifa-glowlogix commented on #4385
@JohnMcLear okay.
I'm sorry I brought up a different document's format issue here.
The link https://video.etherpad.com/p/3HvCofvIJq1TsySXHaEv is not displaying the document correctly to me.

[2020-10-05 09:36] JohnMcLear commented on #4382
- I created a pad
- wrote 1,2,3
- imported a new doc
- visited timeslider
- I see 1,2,3 then the 4th revision is the new doc..

Are you sure about this?

[2020-10-05 09:39] woeterman94 opened #4388 "Can't install my plugin: No valid version available"
I've developed a plugin for etherpad. But when I try to install it I get : "Can't install my plugin: No valid version available".
Happens when using `npm install` or the web interface

![image](https://user-images.githubusercontent.com/5755057/95063895-3de86680-06ff-11eb-81bf-d6dd643240fd.png)

My package.json looks like this
[code]

[2020-10-05 12:02] JohnMcLear commented on #4388
Obvious question...  Do you get this issue with other plugins?

[2020-10-05 12:13] woeterman94 commented on #4388
Didn't try it before. But yes.

[2020-10-05 12:29] JohnMcLear commented on #4388
Does your ``node_modules/`` folder have anything other than ``ep_etherpad-lite`` inside?

[2020-10-05 12:34] woeterman94 commented on #4388
no, just that folder

[2020-10-05 12:35] JohnMcLear commented on #4388
try using the npm command.

``npm install your_plugin_name``.

I have a feeling it's a bug in the plugin web based installation logic...

[2020-10-05 12:40] woeterman94 commented on #4388
Tried that as well, no luck
![image](https://user-images.githubusercontent.com/5755057/95080588-99731e00-0718-11eb-844c-300991a99df8.png)

[code]

[2020-10-05 12:40] JohnMcLear commented on #4388
what if you do

``npm install ep_headings2`` ????

[2020-10-05 12:44] woeterman94 commented on #4388
same error:  `No valid versions available for ep_etherpad-lite`

[2020-10-05 12:45] JohnMcLear commented on #4388
@woeterman94 Try a clean install of Etherpad, it looks like you borked something...

[2020-10-05 14:34] webzwo0i opened #4389 "timeslider follow content: Cannot read property 'offsetTop' of undefined"
**Describe the bug**
Introduced with bf24063234b29f34a3674fcedd6a2da281b04d4b
The timeslider cannot display the contents in certain situations and errors, so that timeslider play or backwards/forwards buttons do not work anymore
**To Reproduce**
Steps to reproduce the behavior:
1. Create pad
2. Delete everything (ctrl+a, delete)
3. Press enter
4. goto timeslider, activate "follow pad contents"
5.

[2020-10-05 15:34] chetanmadaan commented on #4382
I'll test again. May be it's just me.

[2020-10-05 15:34] #4382 closed

[2020-10-05 16:19] rhansen commented on #4387
This is related to PR #4384.

I am unable to reproduce. The `js-cookie` package was added to `src/package.json`—did you remember to re-run `./bin/installDeps.sh`?

[2020-10-05 16:23] jeanfabrice commented on #4335
So etherpad >= 1.8.5 + node 10 requires `--experimental-worker` flags to work properly

What are your plans ? Add `--experimental-worker` to the node 10 based docker image ? or switch to node 12 ?

[2020-10-05 16:28] rhansen commented on #4332
Currently not supported. Patches welcome!

(And I just realized that [my previous comment](https://github.com/ether/etherpad-lite/issues/4332#issuecomment-703200887) could be misunderstood so I edited it to clarify.)

[2020-10-05 17:12] JohnMcLear commented on #4387
Oh I'm so used to using fastRun.sh lately I totally forgot..   This makes total sense :)  Ignore, I'm a noob.

[2020-10-05 17:12] #4387 closed

[2020-10-05 17:18] JohnMcLear commented on #4335
Adding ``--experimental-worker`` doesn't fix things for users of debian using node out of the box.  That's a problem.

Add ``--experimental-worker `` doesn't hurt though, would you like to put forward a PR with that included please?

[2020-10-05 17:22] jeanfabrice commented on #4335
If this is the way you want to go (i.e keep node10 as a valid interpreter), some magic in `bin/run.sh` (and others bootstrap shells) should test the node version and add `--experimental-worker` accordingly, no?

Sure

[2020-10-05 17:24] JohnMcLear commented on #4335
Good idea, but what about node 10 on Windows?  Same issue or fine?

[2020-10-05 17:48] #4381 closed

[2020-10-05 17:59] rhansen commented on #1922
I'd be surprised if anyone feels like working on this. :smile:

Unless there is an existing library that can convert a v0.6.35 config to something compatible with v3.0 and later, I think the only feasible option is to break backward compatibility and force users to re-write their logging settings. (Also: log4js seems to have gone out of favor, so we may want to switch to [`winston`](https://www.np

[2020-10-06 09:00] JohnMcLear opened #4394 "Export of HTML in attributes within a line (not line attributes) are broken"
STR:

1. checkout develop etherpad
1. install ep_font_size / ep_font_color (``npm install ep_font_size``)
1. ``bin/run``
1. put line attributed content in pad
1. export html

No additional HTML is included to represent the attributes.

d1330a1e1c0fc536244c77605f0612cf4412e9fe is the first bad commit
commit d1330a1e1c0fc536244c77605f0612cf4412e9fe
Author: John McLear <john@mclear.co.uk>
Date:   Fri

[2020-10-06 12:28] #4335 closed

[2020-10-06 12:37] MikkCZ commented on #4335
@JohnMcLear might be worth adding the switch to wiki as well. One example is [this page](https://github.com/ether/etherpad-lite/wiki/How-to-deploy-Etherpad-Lite-as-a-service), but there might be more.

[2020-10-06 12:40] JohnMcLear commented on #4335
@MikkCZ Go for it!  Happy for you to make the required changes if you are comfortable to do so :+1:

[2020-10-06 12:48] MikkCZ commented on #4335
Done, I think. I found and updated three pages that contained string `server.js`:
- https://github.com/ether/etherpad-lite/wiki/How-to-deploy-Etherpad-Lite-as-a-service
- https://github.com/ether/etherpad-lite/wiki/How-to-deploy-Etherpad-as-a-service
- https://github.com/ether/etherpad-lite/wiki/Running-Etherpad-on-Phusion-Passenger

[2020-10-06 13:30] JohnMcLear commented on #4335
Awesome tnx

[2020-10-06 16:46] fooness commented on #1116
This bug is pretty much real and happens all the time when using Etherpad integration widgets in Matrix / Element https://element.io/ …

[2020-10-06 16:50] fooness opened #4396 "Pad name length is limited to 50 chars ... that’s DEFINITELY not enough."
**Describe the bug**

Works: https://scalar.vector.im/etherpad/p/01234567890123456789012345678901234567890123456789

Doesn’t: https://scalar.vector.im/etherpad/p/012345678901234567890123456789012345678901234567890

In contrary to comments in https://github.com/ether/etherpad-lite/issues/1116, this bug is pretty much real and happens quite often when using Etherpad integration widgets in Matrix / E

[2020-10-06 17:47] JohnMcLear commented on #4396
@fooness - Matrix/Element are making padIds with values longer than 50 characters despite it being documented that we have that limit?

How is this an Etherpad issue?  We have this limitation in for a reason as per #1116

Why can't the third party software just use a shorter padId or so?  Is a uniqueness of 8.8817842e+84 not good enough?

[2020-10-06 17:53] JohnMcLear commented on #4388
@woeterman94 I assume this is resolved now?

[2020-10-06 17:54] JohnMcLear commented on #4340
Can we close this now?  @rhansen @webzwo0i

[2020-10-06 17:54] JohnMcLear commented on #4376
closing as inactive.

[2020-10-06 17:54] #4376 closed

[2020-10-06 17:55] JohnMcLear commented on #4377
Closing as inactive.  Assuming op got it sorted.

[2020-10-06 17:55] #4377 closed

[2020-10-06 19:19] rhansen commented on #4394
There is a bug in d1330a1e1c0fc536244c77605f0612cf4412e9fe (`Array.prototype.forEach` returns `undefined`, not a Promise), but that's a red herring. `aCallAll` has been fixed since then, so I'd try your tests again at 0835bfeabb4babd8ee55111e82462b9d8fd3dd57 (the commit that fixed `aCallAll`).

[2020-10-07 01:37] #4340 closed

[2020-10-07 03:46] rhansen opened #4401 "Move all inline code to `.js` files"
I would like to move all of the inline code into `.js` files so that users can set a [Content Security Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) (CSP) that prohibits inline code. Prohibiting inline code reduces the potential number of XSS vulnerabilities.

[2020-10-07 03:47] rhansen commented on #4401
As a first step, I would like to delete the indexCustomInlineScripts hook that was added in PR #3996 for issue #3957.

cc @brunob

[2020-10-07 07:54] JohnMcLear commented on #4401
Makes sense to me.  I used ep_helmet to handle CSP by adding nonces btw but moving it out from being inline is way better.  Peep ep_helmet first and the nonce open PR as reference points :+1:

[2020-10-07 09:00] fabrice-noel opened #4403 "Error "Context is undefined" with v 1.8.6"
**Description of the bug**
The message below appears after several seconds of use of the PAD, I press Ctrl+F5 but the message comes back a few seconds later... This problem appeared after the migration from 1.8.5 to 1.8.6.

![Capture du 2020-10-07 10-33-34](https://user-images.githubusercontent.com/69907322/95308272-fb9f6080-0889-11eb-81aa-aaa2ac1892ce.png)

**To Reproduce**
Steps to reproduce the

[2020-10-07 09:06] fabrice-noel commented on #4403
In the end I reproduce this problem also on Chromium...

[2020-10-07 09:28] JohnMcLear commented on #4403
@fabrice-noel as per the issue creation guidelines please attempt to recreate this issue without plugins.  Then add plugins until you find the plugin at fault and open an issue on that plugins repo.

[2020-10-07 09:28] #4403 closed

[2020-10-07 09:33] fabrice-noel commented on #4403
Hi John,

Thank you very much for your very quick response and sorry for not respecting the "protocol" for opening a ticket. So I will investigate in this sense, plugin by plugin.

Thank you very much!

[2020-10-07 09:43] #4394 closed

[2020-10-07 11:58] brunob commented on #4401
Why not, but what alternative would we have to modify the index inline script after that ?

[2020-10-07 12:10] JohnMcLear commented on #4401
@brunob isn't there a hook to include JavaScript in the head?

[2020-10-07 12:12] brunob commented on #4401
@JohnMcLear i don't think so, here is what we do with that hook https://framagit.org/infini/ep_infini/-/blob/master/infini.js#L10

[2020-10-07 12:31] JohnMcLear commented on #4401
Okay so @rhansen why remove it?  Just ensure the docs say to people to only reference scripts here IE how the template does it..

[code]

An example of how not to do it could be

[code]
An example of how to do it could be..
[code]
We could also just in the HTML put a comment saying not to include inline JS...

I'm lazy too which is why I prefer nonce approach over removing inline completely becaus

[2020-10-07 12:43] #230 closed

[2020-10-07 15:36] rhansen commented on #4401
I moved the indexCustomInlineScripts-specific discussion to PR #4402.

Adding a nonce might be a good temporary fix, but I don't like it as a long-term fix because:

  * It is easy to do it incorrectly (insecurely).
  * It breaks caching. By definition, a nonce can only be used once.
  * We would have to set the CSP header in Etherpad itself rather than let users set the CSP header in their revers

[2020-10-08 10:43] cwassert opened #4405 "The automatic indentation after a colon is annoying"
When typing a colon followed by a linebreak the etherpad automatically indents the next line with four spaces.
This is annoying, if you want to start an enumeration, an itemlist or a section indented by TAB because starting either of those keeps the four spaces in tact.

There are multiple ways to improve this behavior. The easiest to implement would be do remove the automatic indentation.

Versio

[2020-10-08 11:05] JohnMcLear commented on #4405
Lists were practically rewritten in 1.8.5 and afaik we decided to keep this as it's expected and desired UX.

I'd welcome a PR that is a setting to enable/disable this behavior, if you look at the files in ``src/static/js`` you should be easily able to figure out where the logic is make clientVars pass a setting.

Also this could be a plugin.  It's defo a "user choice" and you might even want to e

[2020-10-08 13:16] #4209 closed

[2020-10-09 02:58] #4208 closed

[2020-10-11 20:07] webzwo0i commented on #4344
I had some luck today with https://www.npmjs.com/package/selenium-webdriver
so it will definitely happen in the near future... :-)

I am not sure if this will help with test stability, but at least we'll know, that it's not related to selenium 2 and we'll have console.log

[2020-10-12 14:46] etienneleba opened #4411 "docker etherpad stress test [QUESTION]"
Hi everyone,

I'm developing an app which is using an etherpad instance. My goal is to put 100 people on the app, dispatched on 20 pads. First question, I don't have any clue about the etherpad performance, so is it realistic ? if yes, how many cpu and memory I should take ?

I wanted to answer to this question by myself so I created a t2.micro node on aws and I put a dockerize etherpad on it with

[2020-10-12 14:54] JohnMcLear commented on #4411
Good start.

SocketIO limitation probably hitting around 10k msg / second.

You aren't testing your simulated load, you are testing maximum load.  We often have 500+ users on instances without any issues.

Make the following changes to your tests to make them more suitable for your challenge:
1. Simulate your pad usage by running the test across multiple pads, not just one pad as that will exponen

[2020-10-12 15:51] etienneleba commented on #4411
Thx for the answer.

So if you're telling me that 100 users dispatched on 20 pads should not be a problem for an etherpad instance, I will directly create load test on the entire app with jmeter.

Thx for your time and for etherpad-lite.

[2020-10-12 15:51] #4411 closed

[2020-10-12 15:56] JohnMcLear commented on #4411
@etienneleba In the use case we have for clients 100 users on 20 pads is fine, but it depends on words per minute typed (massive oversimplification but for the sake of simplicity think of it like that).  Careful with plugins that might create "noise" IE ``ep_cursortrace``

You are welcome, PS we just call it Etherpad now :)

[2020-10-13 07:49] learningcentrum opened #4412 "install on a webserver / hosting server"
Hoi, a want to install it on a webhosting server with vesta cp

greetings
Martin Doornbos

[2020-10-13 08:35] etienneleba commented on #4411
Ok thx, anyway I will test, it's the best way to know. Ok, maybe I will remove some of plugins.

Actually I didn't really test them a lot but they seems really nice, for my purpose, the comments one is the most useful.

And If you want to check, my project is etienne/IciOnParle, it's a deliberative tool, it's in french for the moment but if it works it will be in english too.

[2020-10-13 13:34] chetanmadaan opened #4413 "Ability to Use tables inside the document!"
**Describe the bug**
Unable to create/paste tables inside the document.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a table in HTML/Google Docs or some online editor.
2. Try pasting it inside the etherpad.
3. Table fades away.

**Expected behavior**
Table should stay.

**Video of behavior**
Copying and Pasting online created table.
![ether-pad-tables](https://user-images.githubuse

[2020-10-13 13:36] JohnMcLear commented on #4413
Please do a little bit of research before posting here..  Table support is from plugins, it is not in core, never has been.

[2020-10-13 13:36] #4413 closed

[2020-10-13 13:37] JohnMcLear commented on #4412
I'm gonna close this because it's not a bug report or issue but more of a question about a specific third party we don't want to spend any time caring about.

[2020-10-13 13:37] #4412 closed

[2020-10-13 13:38] chetanmadaan commented on #4413
Hi John,

I tested on the demo site https://video.etherpad.com/ and had the assumption that it had all the plugins installed. Since the video/audio & export/import documents is also possible with plugin and visible on the demo site.

In any case, I should have researched better.

[2020-10-13 13:38] JohnMcLear commented on #4396
I'm closing this due to lack of feedback, this is not a bug in Etherpad but a bug with some random third party tool we have a very clear policy on saas / hosting third party software issues and our policy is that we don't allow them to distract us from core dev.

[2020-10-13 13:38] #4396 closed

[2020-10-13 13:39] JohnMcLear commented on #4389
@webzwo0i closed this as the 4390 was merged.

[2020-10-13 13:39] #4389 closed

[2020-10-13 13:39] #4388 closed

[2020-10-13 13:39] JohnMcLear commented on #4388
@woeterman94 it's good manners to update issues when requested :+1:

[2020-10-13 13:40] JohnMcLear commented on #4378
bump @anttiviljami

[2020-10-13 13:41] #4375 closed

[2020-10-13 13:42] JohnMcLear commented on #4337
Access sorted.  Most repos ported, nearly done..  Just ep_line_height and ep_comments_page to sort do testing.

[2020-10-13 13:42] JohnMcLear commented on #4320
@wsw70 it's good manners to close issues upon resolution.  Thanks for fix @jeanfabrice

[2020-10-13 13:42] #4320 closed

[2020-10-13 13:43] JohnMcLear commented on #4091
Fixed by adding some weird flag to launching node..  Afaik it was use experimental workers flag.

[2020-10-13 13:44] #4220 closed

[2020-10-13 13:45] #4294 closed

[2020-10-13 13:48] JohnMcLear commented on #4317
bump @Nikerabbit to begin the work here.  The plugins are ready!

[2020-10-14 11:31] Nikerabbit commented on #4317
@JohnMcLear I'm still struggling to figure out where to get a list of good plugins. You linked some npm page earlier but I don't find it now.

Basically I need a list of repos which are not obsolete (like https://github.com/ether/ep_page_view), have i18n files and have a proper license. Some of those I can easily check with a script, but things like being obsolete or unmaintained not.

I see there

[2020-10-14 11:35] JohnMcLear commented on #4317
@Nikerabbit can you please join our discord channell?  Link on etherpad.org.  will talk it through with you

[2020-10-14 11:38] Nikerabbit commented on #4317
The invite link https://discord.com/invite/6pnP83 is not working for me.

[2020-10-14 11:40] JohnMcLear commented on #4317
https://discord.gg/daEjfhw

[2020-10-16 17:55] andrewda opened #4417 "Cannot find commit when git has detached HEAD"
**Describe the bug**
When git has a detached HEAD (e.g. `git checkout tags/1.8.6`), Etherpad logs the following warning:

[code]

**To reproduce**
1. Checkout a tag: `git checkout tags/1.8.6`
2. Run Etherpad: `./bin/run.sh`

**Expected behavior**
The latest git commit should be found, even when there's a detached HEAD. Currently, Etherpad is checking `.git/HEAD` for a ref, and using that ref to ge

[2020-10-19 10:06] cdruet commented on #3405
I'm using 1.8.6 and I still got the error!

[2020-10-19 11:05] JohnMcLear commented on #3405
@cdruet can you provide any details?  Did you test without plugins?

[2020-10-19 13:31] mrtopf commented on #3405
@JohnMcLear I have the same problem with 1.8.6 (master branch)

Here is an example: https://mrtopf.de/test.html

loading this pad: https://yopad.eu/p/textframe

Installed plugins are comments_page and headings2.

I hopefully have time later to test it on fresh install without plugins (as I don't necessarily want to disable them on production)

[2020-10-19 13:44] cdruet commented on #3405
@JohnMcLear I'm also using comments_page. On top of that auth_session.

I can test later today without comments_page but I'm auth_session to reach the pads.

Sent with Unibox

[2020-10-19 13:50] lookabass opened #4418 "API: how to open a new pad using only javascript api?"
Hi, sorry for my bad english, but I don't understand how I can open a new Pad by javascript API. I've read the documentation and I have write the example 1 in my installation. It work correctly, but I don't undestand what url I can paste in the iframe.

[2020-10-19 13:59] JohnMcLear commented on #4418
@lookabass please give information on what you are trying to achieve exactly.

[2020-10-19 14:54] lookabass commented on #4418
Like the example 1 in the documentation, I would to create a new pad author logged by my platform. To Create a group with my pad author created in this new group, and open etherpad by an iframe.

This is my code:

// new pad name
			var randomPadName = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);

			// new pad author
			var userName = 'Luca' // user n

[2020-10-19 15:24] JohnMcLear commented on #4418
Eh?  ``src`` is the URI of your Etherpad instance is hosted..  IE the Etherpad Video service would read ``https://video.etherpad.com``

I haven't done auth/embedding in a long time but afaik if you set a cookie you don't you need to specify the domain?  Also be mindful of cookie not being available if your etherpad instance is not in the same domain as your application...

But really, I'm confused

[2020-10-19 15:42] lookabass commented on #4418
Sorry I forgot to mention that I have installed etherpad on a Raspberry Pi for use within a private LAN and with a mysql db. My problem is that I don't understand what parameters I have to pass in the src of the iframe after http: //192.168.50.10/p / ....

I have try http://192.168.50.10/p/PAD_NAME (where PAD_NAME is the name of the pad I created via API), but etherpad creates a new pad with a new

[2020-10-19 15:55] JohnMcLear commented on #4418
Cookies need to be from same host and protocol afaik...

[2020-10-19 16:09] lookabass commented on #4418
on my browser I have the same cookie at the ip 192.168.50.10 and at the ip 192.168.50.10:9001
1. express_sid with the value s:"HY6c2Jo8ZRX7hj_xloVYotZSAgubq9Iv.hAH1+uYRVR+YtEWOUF6ueeiRIim0bULCSDXTEzixMXM"
2. sessioID: with an array 0:"s", 1:"730102fdca77eecc2333d6c339e0ef78"
3. token: with another array 0:"t",1:"hW4FPt51SPLQLOBVHNp3"

It's not ok?

[2020-10-19 17:11] JohnMcLear commented on #4418
I feel like your best bet here is to look at plugins and see how they solve the problem.

[2020-10-19 17:51] rhansen commented on #3405
@cdruet and @mrtopf: Can you try the latest commit on the develop branch and set the [`cookie.sameSite` setting](https://github.com/ether/etherpad-lite/blob/105eb2651fd10a17258cbb7c4dea1972b46b510d/settings.json.template#L340-L351) to `None`? There have been some cookie changes since v1.8.6 that might be relevant.

[2020-10-19 18:55] lookabass commented on #4418
Ok I'll look the plugin. Thank you for all :-)

[2020-10-20 21:16] JohnMcLear opened #4422 "Alt F9 is broken"
As per accessibility docs alt f9 should focus on toolbar and left/right keys should nav through.

CSS is missing for the focus and left/right doesn't work because the focus is on a button in an a href in a li..  Afaik the focus would need to be on the list item to be able to left/right toggle through??

Bumped @seballot because he's a ninja at these types of things :1st_place_medal:

[2020-10-21 07:13] rhansen commented on #4422
I did some testing and it looks like it is actually working (Firefox 81):
* Select some text
* Hit Alt-F9 (there is no visual indicator that anything happened, other than the cursor might disappear)
* Hit Tab to move to the italic button (no visual indicator)
* Hit space to activate the italic button. (With the colibris skin there's no visual indicator other than the text becoming italic. With the

[2020-10-21 08:27] JohnMcLear commented on #4422
Left and right arrow keys should nav through without tab key no?

[2020-10-21 12:17] woeterman94 commented on #4388
Retried with clean install and still not working.

[2020-10-21 12:21] woeterman94 commented on #4388
It works when I delete package-lock.json

[2020-10-21 12:44] webzwo0i opened #4424 "Error: socket.io connection error: {"type":"TransportError","description":0}"
Introduction of a2554fff2204586c61c9bc33f638ccdf562e0eb8 made a problem in the tests appear.

https://travis-ci.org/github/ether/etherpad-lite/jobs/737680722#L3586
`[2020-10-21 10:58:18.145] [WARN] client - Error: socket.io connection error: {"type":"TransportError","description":0} -- {
  errorId: 'y5bvv2vRcJP3P2OhF2M3',
  msg: 'Error: socket.io connection error: {"type":"TransportError","descrip

[2020-10-21 12:45] JohnMcLear commented on #4388
``src/package-lock.json`` or ``package-lock.json``?

It looks like someone/some plugin tried to do ``npm install ep_etherpad-lite`` or something weird which added that to ``package-lock``..

A clean install would have fixed this.

[2020-10-21 12:55] woeterman94 commented on #4388
![image](https://user-images.githubusercontent.com/5755057/96722195-659d2700-13ad-11eb-86f5-38d8e1b6efc9.png)
just package-lock (not the one in the src folder)

[2020-10-21 13:02] woeterman94 commented on #4388
Not ideal, but for now it's workable. Thanks for your help and time.

[2020-10-21 18:46] Deadpikle opened #4426 "Bulleted lists and indentation don't play nicely with one another"
**Describe the bug**

[Bulleted] Lists and indentation look/work great on an Etherpad instance (on the web), but when exporting to HTML, they do not appear the same way they do online.

**To Reproduce**

1. Open up a new pad. You can replicate this on https://video.etherpad.com
2. Type in some generic string ("hello, world!")
3. Indent that string 1+ times. Note that everything looks fine.
4. Expo

[2020-10-21 18:52] JohnMcLear commented on #4426
Confirmed.  Also somewhere I documented why this behaviour exists but can't remember where ;/

[2020-10-22 05:19] rhansen commented on #4422
Left and right don't work. Only tab.

[2020-10-22 14:06] efinder2 opened #4428 "Support for pencils (e.g. on surface, ipad...)"
* * *

name: Feature request
about: Suggest an idea for this project
title: ''
labels: enhancement
assignees:

* * *

**Is your feature request related to a problem? Please describe.**
We use etherpad in math class. It's quite fustrating to copy paste the special characters like ∧ or ⇒ in the etherpad around. Same thing for working with roots and so on. Currently I use the handwriting recognition

[2020-10-22 14:11] JohnMcLear commented on #4428
@efinder2 Just FYI in general if the request requires special equipment we have a minimum requirement of 3 devices of said special equipment before we even consider the problem.  Is that something you can facilitate?

[2020-10-24 10:15] efinder2 commented on #4428
Sorry have pressed wrong button while quick reading. Currently I only have a [wacom tablett](https://www.amazon.de/gp/product/B079QBDTDF/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&psc=1). It is my daily driver for college, so I can't provide it. Class mate of mine have an acer spin and a apple ipad. Each with a corresponding pen and might help for testing. As student I can not afford to buy three

[2020-10-24 14:08] JohnMcLear commented on #4422
Wiki docs say Left/right arrow keys should work, is that only if a specific browser setting is enabled?

[2020-10-24 14:10] JohnMcLear commented on #4378
Bumped @anttiviljami via email

[2020-10-24 15:27] JohnMcLear commented on #3421
@rhansen can you think of a way to solve this issue?  It's one of the most critical for 1.9

[2020-10-24 15:33] JohnMcLear commented on #664
https://github.com/ether/etherpad-lite/pull/4423 addresses the core problem by adding a prefix of ep_ to session cookie values.  This doesn't stop a plugin violating the namespace and we could do that by adding a prefix (either static value or from ``settings.json``) to the ``setCookie`` and ``getCookie`` methods.

For now 4423 resolves this issue and we can be mindful of having a custom value tha

[2020-10-24 15:52] JohnMcLear commented on #4227
@webzwo0i did tests land for this?  I wanna get this closed off.

[2020-10-24 15:54] JohnMcLear commented on #4132
@webzwo0i because 3 months have past without incident I think we can close this now :)  If you want to re-open feel free

[2020-10-24 15:54] #4132 closed

[2020-10-24 15:56] JohnMcLear commented on #3405
@rhansen can this be closed now?

[2020-10-24 15:59] #2775 closed

[2020-10-24 16:04] JohnMcLear commented on #4229
Can't replicate in chromium or chrome on ubuntu on 1.8.6...

Can this still be replicated @webzwo0i or @cwassert ??

[2020-10-24 16:04] JohnMcLear commented on #4229
If you can still replicate, I will re-open.

[2020-10-24 16:07] JohnMcLear commented on #4229
Wait I can replicate on video.etherpad.com but not on a local dev instance.  Both are running develop branch..  So wtf is going on ? :D  I assume plugins are causing issues here...

[2020-10-24 16:16] #4229 closed

[2020-10-24 16:57] webzwo0i commented on #4229
weird. I can replicate in local environment with develop, also when I install the plugins that are installed on video.etherpad.com
(It works on video.etherpad.com for me, too)

[2020-10-24 20:22] #4417 closed

[2020-10-25 00:21] #3405 closed

[2020-10-25 00:26] rhansen commented on #664
#4423 changes the `express_sid` cookie to `ep_express_sid`, but isn't `sessionID` the most problematic cookie?

[2020-10-25 00:29] rhansen commented on #3421
@JohnMcLear Wasn't this fixed by #4178?

[2020-10-25 00:34] rhansen commented on #3421
Oh, this is different.

Hmm... I think we can store a deep copy of the `settings.users[username]` object as `req.session.user` and remove the password field from that copy. I'll toss together a PR.

[2020-10-25 01:00] rhansen commented on #4422
¯\_(ツ)_/¯

[2020-10-25 09:59] seballot commented on #4422
Hi ! I made the css fix for bouton to be outline when focused

There is a visual indicator, but it's light :)

![image](https://user-images.githubusercontent.com/17404254/97104076-31797d00-16b1-11eb-827b-2a367c9a45d9.png)

[2020-10-25 10:39] anttiviljami commented on #4378
The error handling itself looks file, but it indeed does look like the [constructor names](https://www.npmjs.com/package/http-errors#list-of-all-constructors) on lines [587](https://github.com/ether/etherpad-lite/blob/891d2600fa4659d6183bb3ac524b88e504835ff3/src/node/hooks/express/openapi.js#L587) and [590](https://github.com/ether/etherpad-lite/blob/891d2600fa4659d6183bb3ac524b88e504835ff3/src/no

[2020-10-25 10:49] anttiviljami commented on #4378
curl …/api/1.2.14/listAllGroups?…, then it will work.

I can confirm that this solution works. On a fresh install:

[code]

[2020-10-25 10:59] anttiviljami commented on #4378
@Joggel72 the full URL endpoints for the listAll* methods are also correctly listed in the `/api/openapi.json` spec.

This means you can easily use any openapi client to call any endpoint. Command line example:

[code]

Alternatively, open Swagger UI in your browser to browse the API docs and try different endpoints. @JohnMcLear maybe a good idea to spin up a Swagger UI endpoint by default in ethe

[2020-10-25 11:04] JohnMcLear commented on #4378
I'd certainly welcome that as a pull request if possible please.  I assume it's a case of creating a new express route and putting in your package logic?

[2020-10-25 11:05] anttiviljami commented on #4378
Sure! I'll see what I can do.

Exactly. Swagger UI is just a static HTML page, also available as an [npm package](https://www.npmjs.com/package/swagger-ui).

[2020-10-26 15:24] vijaygodhasara opened #4438 "Improve pad load time take huge first time before caching enable"
* * *
name: Feature request
about: Suggest an idea for this project
title: 'Improve pad load time first time before caching'
labels: enhancement
assignees:

* * *

**Is your feature request related to a problem? Please describe.**
current when first-time load etherpad-lite pad it will take huge time. as around to 20s for load pad as we have integrated into iframe, as we already set max-age and min

[2020-10-26 15:41] joassouza commented on #4438
It's not clear if you have some plugins or just Etherpad by itself. Anyways, you can try it
https://github.com/storytouch/ep_webpack

If you're using Etherpad 1.8.6, please try this branch
https://github.com/storytouch/ep_webpack/tree/fix/fix-etherpad-version-1.8.6

[2020-10-26 15:51] JohnMcLear commented on #4438
@vijaygodhasara nothing wrong with Etherpad here, yes, first time you access a pad on an instance it will minify the files and serve them but that's by design.  Subsequent loads of all/any pads after that will be very fast.

CSS/JS is already minified and served as optimally as possible without additional constraints...

[2020-10-26 15:52] JohnMcLear commented on #4438
I'm gonna close this because I think it's just a misunderstanding by OP.  If you want to

[2020-10-27 00:41] webzwo0i opened #4443 "Possible page load improvements"
I just checked the network tab and the following requests are not optimal, while https://github.com/ether/etherpad-lite/pull/4442 is the most important one:

- socket.io has no max-age header. instead it uses if-none-match header and gets a 304.
- locales.json has no max-age header. instead it uses if-none-match header but still gets 200. (why?)
- plugin-definitions.json has no max-age header.
- f

[2020-10-27 04:52] vijaygodhasara commented on #4438
Checked with minify set as true but it will not minify the content at the client side. please check the screenshot here.

![etherpad_lite_minify](https://user-images.githubusercontent.com/11735224/97258343-41729780-183e-11eb-9d3a-c11d88c8a4a9.png)
![etherpad_minify_js](https://user-images.githubusercontent.com/11735224/97258351-433c5b00-183e-11eb-85d5-fd6e83c27ba2.png)

[2020-10-27 07:28] webzwo0i commented on #4438
https://github.com/ether/etherpad-lite/pull/4285
This should enable minification, but last time I experienced some other problems with caching_middleware, that's why I did not finish it up.

[2020-10-27 07:34] vijaygodhasara commented on #4438
checking into code and found like it will not minify JS file due to the wrong condition in minify.js

(contentType == 'text/javascript')

actually, contentType received in case of javascript would be "application/javascript".

if single URL access of javascript and CSS file case found compress but when access new pad that case it will compress but not get compress content on client-side.

after do

[2020-10-27 09:23] vishnuvijayanpv opened #4444 "Control F error"
Chrome and Microsoft Edge keeps searching as soon as it opens. It also makes the cursor stuck. The problem exist only on the browsers. Nowhere else..

[2020-10-27 09:31] JohnMcLear commented on #4444
Cursor or caret?

[2020-10-27 10:06] JohnMcLear commented on #4444
I have no idea what this error / bug report means, please try to be coherent in your bug reporting and following the guidelines that are visible when you create a new issue.

[2020-10-27 10:10] JohnMcLear commented on #4444
Steps to replicate are really important in bug reports @vishnuvijayanpv -- in this instance I guessed what you are bug reporting

1. Control F
1. Type something
1. Press Escape
1. Try to type in pad
1. Caret is placed in selection ``[[0,0][0,0]]``

Ideally the caret would be at the last position prior to hitting Control F.

It's 99% this behaviour is upstream in browsers and has nothing to do with

[2020-10-27 19:09] dcht00 commented on #4424
After updating to the new version yesterday (previous pull ~May), this pops up for a moment when I F5 on any pad.

Server log has a WARN showing the same thing.

[2020-10-27 19:11] JohnMcLear commented on #4424
Please follow the issue guidelines.

[2020-10-27 19:33] dcht00 commented on #4424
Amended comment, please let me know if there's something else I was missing.

[2020-10-27 19:34] JohnMcLear commented on #4424
So no plugins?

[2020-10-27 19:44] dcht00 commented on #4340
Removing ep_cursortrace solved this problem for me (Etherpad 1.8.6 behind an Apache reverse proxy).

[2020-10-27 19:48] dcht00 commented on #4424
None - had ep_cursortrace, but removed due to #4340 .
(btw, CONTRIBUTING.md does not mention listing plugins).

[2020-10-27 20:12] JohnMcLear commented on #4424
@dcht00 sorry our community engagement / new issue stuff afaik does.  It's mostly because a lot of issues are caused by plugins and we don't cater for them here :)

After updating did you do npm install?  it looks like maybe socketio has gone weird, that or your reverse proxy (if you have one) is doing something weird..

``Uncaught Error: socket.io connection error: {"type":"TransportError","descr

[2020-10-27 20:30] #3421 closed

[2020-10-27 22:39] webzwo0i opened #4445 "Travis builds slow - migrate to travis-ci.com?"
The Travis builds start with a huge delay (hours).

Some people on Twitter but also from [Travis staff](https://travis-ci.community/t/builds-hang-in-queued-state/10250/6) recommend moving to travis-ci.com which supports open source projects since [2018](https://docs.travis-ci.com/user/migrate/open-source-on-travis-ci-com/#existing-open-source-repositories-on-travis-ciorg)

Should we try to migrate

[2020-10-27 22:42] webzwo0i commented on #4445
https://travis-ci.community/t/org-to-com-migration-deadline/10260 there probably even exists a definite plan to close travis-ci.org

[2020-10-28 00:05] dcht00 commented on #4424
You're right.
The **proxy_wstunnel** apache module needed to be enabled.

[code]
Sorry to hijack this issue :)

It does all oddly seem weirdly browser specific, as Firefox for example sends slightly different WebSockets headers ("Connection" and "Upgrade") than Chrom*.

[2020-10-28 09:43] mrtopf commented on #3405
@rhansen sorry, was a bit busy and setting up a test server took a bit. But I tested `develop` and this seems to work. So I am waiting for the next release then. Thanks!

[2020-10-28 10:45] JohnMcLear commented on #4445
Environment variables for sauce_username et al are not maintained during migration so I would need to put a few hours aside to manually do that for 100 or so repos ;\

[2020-10-28 11:40] JohnMcLear commented on #4445
All done.

[2020-10-28 11:40] #4445 closed

[2020-10-29 16:55] sumpfralle opened #4447 "Embedding etherpad-lite without cookies?"
* * *

name: Feature request
about: Suggest an idea for this project
title: Embedding etherpad-lite without cookies?
labels: enhancement
assignees:

* * *

**Is your feature request related to a problem? Please describe.**

I am using etherpad-lite as an *integration widget* in [Matrix](https://matrix.org)/[element](https://element.io).  Thus etherpad-lite (provided by some external service provid

[2020-10-29 17:22] JohnMcLear commented on #4447
I swear this is a duplicate.  I'm sure I addressed this a bunch of times before and the conclusion is for a good experience you should use reverse proxy of same domain..  did you look through previous issues before creating a new one?

[2020-10-29 18:21] JohnMcLear commented on #4447
https://github.com/ether/etherpad-lite/issues/4157 some details here..

[2020-10-29 18:21] JohnMcLear commented on #4447
https://github.com/ether/etherpad-lite/issues?q=is%3Aissue+is%3Aclosed+embed is general history of this issue..

[2020-10-31 13:28] Benno1308 opened #4454 "ReferenceError: sesionAuthorID is not defined"
@rhansen @JohnMcLear

https://github.com/ether/etherpad-lite/blob/master/src/node/db/SecurityManager.js#L129

Typo in 'sesionAuthorID' should be 'sessionAuthorID', how can something like this be on master for > 2 months?!

[2020-10-31 14:20] JohnMcLear commented on #4454
We work from develop....

[2020-10-31 14:44] Benno1308 commented on #4454
Then please update the "Manual install" section in your README.md to checkout 'develop' and not 'master'...

[2020-10-31 16:31] TheCrether commented on #2214
Hi, so after trying to use the script with `node --max-old-space-size=4096 bin/migrateDirtyDBtoRealDB.js` it errors for all entries with this:
[code]

I then just tried removing the `"writeInterval": 0` and it suddenly worked. This is a really weird problem and the fix apparently doesn't work all the time.

[2020-10-31 22:43] JustAnotherArchivist opened #4456 "Support Ctrl (or Shift) + click on link to open it in a background tab (or a new window)"
* * *

name: Feature request
about: Suggest an idea for this project
title: Support Ctrl + click on link to open it in a background tab
labels: enhancement
assignees:

* * *

**Is your feature request related to a problem? Please describe.**
I use pads for working collaboratively on lists of links. I tend to open several links at once in background tabs, then go through them. But opening links fro

[2020-11-01 06:37] rhansen commented on #4454
I cherry-picked the two critical fixes to `master`.